---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Gatukontoret</li>
  </ol>
</nav>

<section class="start" role="main">
  <h1 class="body-copy">Gatukontoret</h1>

  <section class="news">
    <h1>Nytt &amp; viktigt</h1>
    <h2><a href="{{ site.baseurl }}/">Åtta chefer på nya platser</a></h2>
    <p>Nu är det klart vilka som blir avdelningschefer och biträdande avdelningschefer i den nya... (18/11)</p>

    <h2><a href="{{ site.baseurl }}/">Hur arbetar vi med skadestånd?</a></h2>
    <p>År 2011 hanterade vi 250 st stadeståndsärenden. Då berodde det höga antalet på en sträng... (18/11)</p>

    <h2><a href="{{ site.baseurl }}/">Ny organisation – Kick off den 30 januari</a></h2>
    <p>Den 30 januari samlas vi till en Kick off med spännande och inspirerande inslag med både... (18/11)</p>

    <h2><a href="{{ site.baseurl }}/">Beslut om ny organisationsstruktur är fattat</a></h2>
    <p>Idag har Kerstin fattat beslut om den nya organisationsstrukturen som ska gälla för... (17/11)</p>

    <h2><a href="{{ site.baseurl }}/">Ett fackligt perspektiv på arbetet med den nya organisationen</a></h2>
    <p>I fredags (14 november) intervjuades SACO:s Mikael Lideflo kring vad facket gör just nu i... (17/11)</p>
    <p class="more"><a href="{{ site.baseurl }}/">Fler nyheter</a></p>
  </section>

  <section class="news">
    <h1>Smått &amp; gott</h1>
    <h2><a href="{{ site.baseurl }}/">Vi söker administratör/ assistent till gatudirektören (18/11)</a></h2>
    <h2><a href="{{ site.baseurl }}/">Ett nyhetsbrev du inte vill missa (17/11)</a></h2>
    <h2><a href="{{ site.baseurl }}/">Samlad statistik för hela Öresund (13/11)</a></h2>

    <p class="more"><a href="{{ site.baseurl }}/">Fler notiser</a></p>
  </section>

  <section class="news">
    <h1>Hallå där</h1>

    <h2><a href="{{ site.baseurl }}/">Åtta chefer på nya platser</a></h2>
    <p>Nu är det klart vilka som blir avdelningschefer och biträdande avdelningschefer i den nya... (18/11)</p>

    <h2><a href="{{ site.baseurl }}/">Hur arbetar vi med skadestånd?</a></h2>
    <p>År 2011 hanterade vi 250 st stadeståndsärenden. Då berodde det höga antalet på en sträng... (18/11)</p>

    <h2><a href="{{ site.baseurl }}/">Ett fackligt perspektiv på arbetet med den nya organisationen</a></h2>
    <p>I fredags (14 november) intervjuades SACO:s Mikael Lideflo kring vad facket gör just nu i... (17/11)</p>
    <p class="more"><a href="{{ site.baseurl }}/">Fler nyheter</a></p>
  </section>

</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
