<aside class="contact-us basic">
  <h1>Kontakta oss</h1>

  <div class="vcard">
    <h2 class="fn">Stadskontoret</h2>
    <p>Fritext lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    <div class="write-to-us" data-contact-id="0" data-action="/4.427bf15412207bac3c980003373.html.portletaction?sv.url=12.228b8e2313f816262743382"><a href="/">Skriv till oss</a></div>

    <div>E-post: <span class="email">stadskontoret@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 10 00</span></div>

    <h3>Postadress</h3>
    <div class="adr">
      <div class="fn">Stadskontoret</div>
      <div><span class="postal-code">205 80</span> <span class="locality">Malmö</span></div>
    </div>

    <h3 class="visiting-address v-0">Besöksadress</h3>
    <div class="street-address">August Palms plats 1</div>
    <div><a href="http://www.malmo.se/karta?poi=August+Palms+plats+1&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-0" data-scroll-to=".visiting-address.v-0" data-poi="August+Palms+plats+1" title="August+Palms+plats+1">Visa på karta</a></div>
    <div class="contact-us-map m-0"></div>
  </div>

  {% include contact-us-form.html %}
</aside>
