<nav class="content">
  <h1>Gatukontoret</h1>
  <ul>
    <li><a href="{{ site.baseurl }}/">Om oss på gk</a></li>
    <li><a href="{{ site.baseurl }}/">Mål &amp; styrning på gk</a></li>
    <li><a href="{{ site.baseurl }}/">Stöd &amp; service på gk</a></li>
    <li><a href="{{ site.baseurl }}/">Kontak</a></li>
    <li><a href="{{ site.baseurl }}/">Projektarbet</a></li>
    <li><a href="{{ site.baseurl }}/">Omvärld &amp; undersökninga</a></li>
    <li><a href="{{ site.baseurl }}/">Alla förvaltningar Malmö stad</a></li>
  </ul>
</nav>
