<div id="svid30_2842d8c1129693185ff800014558">
  <div id="metadata">
    <!-- meta-data -->
  </div>
  <div class="sv-script-portlet sv-portlet" id="svid12_2842d8c1129693185ff800014555">
    <div id="metadata-0">
      <!-- meta-data -->
    </div>
    <ul class="footer-meta clearfix">
      <li class="responsible">Innehållsansvarig: <a href="mailto:joan.doe@malmo.se">joan.doe@malmo.se</a>
      </li>
      <li class="modified">Senast publicerad av: <a href="mailto:john.doe@malmo.se">john.doe@malmo.se</a> 2014-12-15 13:48 </li>
    </ul>
  </div>
</div>
