<section class="news-combined">

  <section class="with-preamble">
    <a href="{{ site.baseurl }}/internal/body-copy-2/">
      <h1>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore.</p>
    </a>
  </section>

  <section class="with-preamble">
    <a href="{{ site.baseurl }}/internal/body-copy-2/">
      <h1>Ny utredning om toaletten på Stortorget</h1>
      <p>Laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
    </a>
  </section>

  <section class="with-preamble">
    <a href="{{ site.baseurl }}/internal/body-copy-2/">
      <h1>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore.</p>
    </a>
  </section>

  <section class="with-preamble">
    <a href="{{ site.baseurl }}/internal/body-copy-2/">
      <h1>Ny utredning</h1>
      <p>Reprehenderit in voluptate velit esse.</p>
    </a>
  </section>
</section>
