<section class="news-combined">

  <section class="with-image">
    <a href="{{ site.baseurl }}/internal/body-copy-2/">
      <div class="crop"><img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/internal/body-copy-2/"/></div>
      <h1>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h1>
    </a>
  </section>

  <section class="with-image">
    <a href="{{ site.baseurl }}/internal/body-copy-2/">
      <div class="crop"><img src="{{ site.baseurl }}/images/news-3.jpg" alt="{{ site.baseurl }}/internal/body-copy-2/"/></div>
      <h1>Ny utredning om toaletten på Stortorget</h1>
    </a>
  </section>

  <section class="ticker">
    <h1>Organisationsändringar</h1>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          <h2>Duis aute irure dolor in reprehenderit in voluptate velit esse<span class="date">(16/1)</span></h2>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          <h2>Cillum dolore eu fugiat nulla pariatur <span class="date">(15/1)</span></h2>
        </a>
      </li>
      <li class="more">
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          Fler artiklar
        </a>
      </li>
    </ul>
  </section>

  <section class="ticker">
    <h1>Malmö i media</h1>
    <ul>
      <li>
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          <h2>Malmö Stadsteater satsar digitalt Malmö Stadsteater satsar digitalt <span class="date">(15/1)</span></h2>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          <h2>När snö och halka kommer är det halt och snö kommer är det halt <span class="date">(16/1)</span></h2>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          <h2>Malmö stads ska alltid fungera <span class="date">(15/1)</span></h2>
        </a>
      </li>
      <li class="more">
        <a href="{{ site.baseurl }}/internal/body-copy-2/">
          Fler artiklar
        </a>
      </li>
    </ul>
  </section>
</section>
