<section class="news">
  <h1>Aktuellt &amp; nyheter</h1>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/internal/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/internal/body-copy-2/"/></div>
        <h2>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/internal/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/internal/body-copy-2/"/></div>
      <h2>Över 100 barn har fått förskoleplats</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/internal/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/news-3.jpg" alt="{{ site.baseurl }}/internal/body-copy-2/"/></div>
      <h2>Ny utredning om toaletten på Stortorget</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/internal/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/internal/body-copy-2/"/></div>
        <h2>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h2>
      </a>
    </li>
  </ul>
</section>
