<nav class="content">
  <h1>Kommunikationsarbete</h1>
  <ul>
    <li><a href="{{ site.baseurl }}/">Kommunikationspolicy</a></li>
    <li><a href="{{ site.baseurl }}/">Bild och film</a></li>
    <li><a href="{{ site.baseurl }}/">Grafik och tryck</a></li>
    <li><a href="{{ site.baseurl }}/">Ramavtal</a></li>
    <li><a href="{{ site.baseurl }}/">Kriskommunikation</a></li>
    <li><a href="{{ site.baseurl }}/">Medier och omvärldsbevakning</a></li>
    <li><a href="{{ site.baseurl }}/">Varumärke</a></li>
    <li><a href="{{ site.baseurl }}/">Nätverk</a></li>
    <li><a href="{{ site.baseurl }}/">Sociala medier</a></li>
    <li><a href="{{ site.baseurl }}/">Annonsering</a></li>
    <li><a href="{{ site.baseurl }}/">Utomhusaffischering</a></li>
    <li><a href="{{ site.baseurl }}/">Webb</a></li>
    <li><a href="{{ site.baseurl }}/">Våra tidningar</a></li>
    <li><a href="{{ site.baseurl }}/">Digitala nyhetsbrev</a></li>
  </ul>
</nav>
