---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Fastighetskontoret</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800037622">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div id="svid3_c804a321343c942ccd800038275">
          <div id="NyhetsarkivFKnyheter">
            <!-- Nyhetsarkiv FK nyheter -->
          </div>
        </div>
        <div id="svid19_c804a321343c942ccd800038714">
          <div id="Arkiv">
            <!-- Arkiv -->
          </div>
        </div>
        <div class="sv-text-portlet sv-use-margins" id="svid12_23565c09144b5f3b09325a">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div class="sv-text-portlet-content">
            <h1 class="" id="h-Fastighetskontoret">Fastighetskontoret</h1>
          </div>
        </div>
        <div id="svid10_133a341454608d0f65592">
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_133a341454608d0f65593">
            <div id="Senastenytt">
              <!-- Senaste nytt -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-SenastenyTT">Senaste nyTT</h2>
            </div>
          </div>
          <div class="sv-archive-portlet sv-portlet c13" id="svid12_133a341454608d0f65594">
            <div id="RSSfranKominnyheter">
              <!-- RSS från Kominnyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/hor-du-till-dom-som-har-mycket-e-post-i-din-borttaget-mapp-i-outlook/" title="">Hör du till dom som har mycket e-post i din Borttaget mapp i Outlook?</a></h2>
                <span class="normal">Från och med den 16 december kommer alla borttagna mail flyttas från Borttaget mappen efter en månad. Nu ändrar vi regeln som styr hur länge ett mail kan ligga kvar i Borttaget mappen i Outlook. Förut har vi...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
            <br>
          </div>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_739ac06a12b66625e1f8000140">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_efc29e313b1e6d779e59c2">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_739ac06a12b66625e1f8000144">
              <div id="VinjettNyttViktigt">
                <!-- Vinjett Nytt & Viktigt -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Nyttviktigt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nytt &amp; viktigt</h2>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c14" id="svid12_1239b188146b34d7d1ba2fb">
              <div id="ikonnyttochviktigt">
                <!-- ikon nytt och viktigt -->
              </div><img alt="" class="sv-noborder c15" src="https://komin.malmo.se/images/18.1239b188146b34d7d1ba301/1404485415107/icon-megafon.jpg">
            </div>
            <div class="sv-archive-portlet sv-portlet c16" id="svid12_739ac06a12b66625e1f8000145">
              <div id="svid5Nyheter">
                <!-- 5 Nyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c139">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/12/vi-soker-chefsjurist/" title="">Vi söker chefsjurist</a>
                  <span class="introduction"><br></span>
                  <span class="normal">Kjell Sollbe kommer att lämna tjänsten som chefsjurist till sommaren och vi söker därför...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/12/vi-soker-chefsjurist/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c139">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/12/antligen-ar-ridskolan-pa-klagshamnsudde-byggstartad/" title="">Äntligen är ridskolan på Klagshamnsudde byggstartad</a>
                  <span class="introduction"><br></span>
                  <span class="normal">De var många inbjudna ridintresserade sjätteklassare från Klagshamnsskolan som log lite...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/12/antligen-ar-ridskolan-pa-klagshamnsudde-byggstartad/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c139">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/08/publikrekord-pa-katrinetorp/" title="">Publikrekord på Katrinetorp</a>
                  <span class="introduction"><br></span>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/IMG_4694_webb-150x150.jpg" class="sv-noborder c158">
                  <span class="normal">Hela 10 000 personer besökte helgens julmarknad på Katrinetorp, ett nytt rekord. Tidigare...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/08/publikrekord-pa-katrinetorp/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c139">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/05/gamla-g-ar-fullt/" title="">Gamla G: är fullt!</a>
                  <span class="introduction"><br></span>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/ettoronollor-150x150.jpg" class="sv-noborder c158">
                  <span class="normal">Den senaste veckan har någon eller något fyllt gamla G:\-enheten så att lagringsutrymmet...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/05/gamla-g-ar-fullt/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c139">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/05/ergonomironden-fortsatter/" title="">Ergonomironden fortsätter…</a>
                  <span class="introduction"><br></span>
                  <span class="normal">... på måndag, 8/12 kl 10.<br>
   Säg till Erika om du vill att Roberta kommer speciellt och...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/05/ergonomironden-fortsatter/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c139">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/04/julmarknad-pa-katrinetorp-5-7-december/" title="">Julmarknad på Katrinetorp 5-7 december</a>
                  <span class="introduction"><br></span>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/Katrinetorp_jul2014_Komin-150x150.jpg" class="sv-noborder c158">
                  <span class="normal">Fredag 5 december öppnar årets julmarknad på Katrinetorp! Sjuttiofem utställare&nbsp;fyller...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/04/julmarknad-pa-katrinetorp-5-7-december/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <a class="introduction" href="https://webapps04.malmo.se/nyheter/2014/12/04/malmos-trafik-och-mobilitetsplan-ar-ute-pa-bred-remiss-internt-och-externt/" title="">Malmös Trafik- och mobilitetsplan är ute på bred remiss internt och externt</a>
                  <span class="introduction"><br></span>
                  <span class="normal">Förslag till Malmös första Trafik- och mobilitetsplan (TROMP) är nu framtagen. Planen har,...</span>
                  <span class="normal"><br></span>
                  <a class="normal" href="https://webapps04.malmo.se/nyheter/2014/12/04/malmos-trafik-och-mobilitetsplan-ar-ute-pa-bred-remiss-internt-och-externt/" title="">
     Läs mer

     </a>
                  <span class="normal"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c17" id="svid12_799a53121373b9dbfbf800010151">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
                </p>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins c18" id="svid12_c804a321343c942ccd800047179">
              <div id="AldreNyheter">
                <!-- Äldre Nyheter -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="nyhetsarkiv" href="http://webapps04.malmo.se/nyheter/category/fastighetskontoret/">Fler Nyheter</a>
                </p>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c19" id="svid12_1239b188146b34d7d1b98e3">
              <div id="Lankartillmalmose">
                <!-- Länkar till malmo.se -->
              </div>
              <a title="" href="/Forvaltningar/Fastighetskontoret/Stod-och-service-pa-FK/Kommunikation--marknadsforing/Malmo.se---var-hemsida.html"><img alt="" class="sv-noborder c20" src="https://komin.malmo.se/images/18.1239b188146b34d7d1b9903/1404481498899/links-til-malmo.png">
              </a>
            </div>
          </div>
          <div id="svid19_c804a321343c942ccd800039371">
            <div id="Arkiv-0">
              <!-- Arkiv -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_739ac06a12b66625e1f8000142">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_133a341454608d0f65536">
            <div id="Protokoll">
              <!-- Protokoll -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-protokoll">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; protokoll&nbsp;</h2>
            </div>
          </div>
          <div class="sv-image-portlet sv-portlet c14" id="svid12_1239b188146b34d7d1b9827">
            <div id="ikonprotokoll">
              <!-- ikon protokoll -->
            </div><img alt="" class="sv-noborder c15" src="https://komin.malmo.se/images/18.1239b188146b34d7d1b9828/1404476681970/icon-protocoll.jpg">
          </div>
          <div class="sv-text-portlet sv-use-margins c21" id="svid12_1239b188146b34d7d1b982a">
            <div id="protokoll">
              <!-- protokoll -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><strong><a title="" href="/Forvaltningar/Fastighetskontoret/-Mal-och-styrning-pa-FK/Protokoll--minnesanteckningar/Ledningsgrupp-FK.html">Ledningsgruppen</a><br><a title="" href="http://malmo.se/tn">Tekniska nämnden</a></strong>
              </p>
            </div>
          </div>
          <div id="svid10_ddf685614882841ca43c144">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_ddf685614882841ca43bd75">
              <div id="Kompetensutveckling">
                <!-- Kompetensutveckling -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Kompetensutveckling">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Kompetensutveckling</h2>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c22" id="svid12_ddf685614882841ca43bda7">
              <div id="ikonkompetensutveckling">
                <!-- ikon kompetensutveckling -->
              </div><img alt="" class="sv-noborder c15" src="https://komin.malmo.se/images/200.ddf685614882841ca4408a5/1411132932758/Inventerad-uggla_200.jpg">
            </div>
            <div class="sv-text-portlet sv-use-margins c23" id="svid12_ddf685614882841ca43ebda">
              <div id="Text3">
                <!-- Text 3 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal">
                  <br class="SV_LINE_BREAK">
                </p>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_41839467149eb4f50cd227fb">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal">
                  <br class="SV_LINE_BREAK">
                </p>
              </div>
            </div>
          </div>
          <div id="svid10_2b56f4113ec05ff84f2985b">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f2985c">
              <div id="Pressmeddelanden">
                <!-- Pressmeddelanden -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Pressmeddelanden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pressmeddelanden&nbsp;</h2>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c24" id="svid12_1239b188146b34d7d1b96a1">
              <div id="ikonpress">
                <!-- ikon press -->
              </div><img alt="" class="sv-noborder c15" src="https://komin.malmo.se/images/18.1239b188146b34d7d1b979e/1404474691562/icon-globe.jpg">
            </div>
            <div class="sv-text-portlet sv-use-margins c40" id="svid12_2b56f4113ec05ff84f2913f">
              <div id="Malmostad">
                <!-- Malmö stad -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="introduction"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; från Malmö stad</strong>
                </p>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet c41" id="svid12_2b56f4113ec05ff84f2985d">
              <div id="Pressmeddelanden-0">
                <!-- Pressmeddelanden -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c86">
                  <span class="table-text">2014-12-15</span>
                  <span class="table-text"><br></span>
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/pressinbjudan-utbyggnaden-av-malmoes-skolor-och-nya-upptagningsomraaden-foer-skolorna-1098781?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease"
                  title="">Pressinbjudan- Utbyggnaden av Malmös skolor och nya upptagningsområden för skolorna</a>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <span class="table-text">2014-12-14</span>
                  <span class="table-text"><br></span>
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/utdelning-av-malmoe-stads-maangfalds-och-jaemstaelldhetspris-2014-1098802?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Utdelning av Malmö stads mångfalds- och jämställdhetspris 2014</a>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <span class="table-text">2014-12-12</span>
                  <span class="table-text"><br></span>
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/anlaeggningar-staenger-paa-grund-av-storm-1098554?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Anläggningar stänger på grund av storm</a>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c42" id="svid12_2b56f4113ec05ff84f2985e">
              <div id="Text7">
                <!-- Text 7 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="table-text sv-text-align-right"><a title="Länk till Malmö stads pressrum" href="http://www.mynewsdesk.com/se/pressroom/malmo/pressrelease/list"><strong>Fler pressmeddelanden</strong></a>
                </p>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c34" id="svid12_1239b188146b34d7d1ba33c">
              <div id="mediebevakning">
                <!-- mediebevakning -->
              </div>
              <a title="Länk till våra tjänster för mediebevakning." href="/Forvaltningar/Fastighetskontoret/Stod-och-service-pa-FK/Kommunikation--marknadsforing/Mediebevakning.html"><img alt="" class="sv-noborder c43" src="https://komin.malmo.se/images/18.1239b188146b34d7d1ba342/1404684396625/mediebavakning-6.jpg">
              </a>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins c44" id="svid12_1e842c9412b6803495b800016674">
            <div id="FKimedia">
              <!-- FK i media -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-FKimedia">&nbsp; &nbsp; &nbsp; &nbsp; FK i media</h2>
            </div>
          </div>
          <div class="sv-image-portlet sv-portlet c14" id="svid12_1239b188146b34d7d1b972c">
            <div id="ikonmedia">
              <!-- ikon media -->
            </div><img alt="" class="sv-noborder c15" src="https://komin.malmo.se/images/200.1239b188146b34d7d1b97c5/1404474904918/ikon-media.jpg">
          </div>
          <div class="sv-archive-portlet sv-portlet c45" id="svid12_1239b188146b34d7d1b8f1d">
            <div id="Nyheter">
              <!-- Nyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c139">
                <span class="table-text">2014-12-14</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="http://www.retriever-info.com/go/?a=35332&amp;closed=1&amp;d=00041520141214218518907&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.sydsvenskan.se%2Fmalmo%2Fhylliebadet-vattenfylls-om-nagra-veckor%2F&amp;x=4cb30c544dadc2c86389bc437525fae8"
                title="">Hylliebadet vattenfylls om några veckor</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="http://www.retriever-info.com/go/?a=35332&amp;closed=1&amp;d=00041520141214218518907&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.sydsvenskan.se%2Fmalmo%2Fhylliebadet-vattenfylls-om-nagra-veckor%2F&amp;x=4cb30c544dadc2c86389bc437525fae8"
                rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c139">
                <span class="table-text">2014-12-14</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="https://www.retriever-info.com/go/?a=35332&amp;d=05747120141214c2638dce8195e3e009439191e1bf996b&amp;p=665224&amp;sa=2020361&amp;x=32826644c1afc4bc9c4ad12877b62dd2" title="">Isig bana på hög höjd</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="https://www.retriever-info.com/go/?a=35332&amp;d=05747120141214c2638dce8195e3e009439191e1bf996b&amp;p=665224&amp;sa=2020361&amp;x=32826644c1afc4bc9c4ad12877b62dd2" rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c139">
                <span class="table-text">2014-12-12</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="https://www.retriever-info.com/go/?a=35332&amp;d=05747120141212437ae0788b567eba60607c2de9a10cf7&amp;p=665224&amp;sa=2020361&amp;x=c87173e872a979f9d452acc91fcddadc" title="">Ridhuset klart till hösten</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="https://www.retriever-info.com/go/?a=35332&amp;d=05747120141212437ae0788b567eba60607c2de9a10cf7&amp;p=665224&amp;sa=2020361&amp;x=c87173e872a979f9d452acc91fcddadc" rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c139">
                <span class="table-text">2014-12-11</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="https://www.retriever-info.com/go/?a=35332&amp;d=00112620141211218377676&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fsverigesradio.se%2Fsida%2Fartikel.aspx%3Fprogramid%3D96%26artikel%3D6043863&amp;x=dc29adc9e3d318938034fd24892b4f8c"
                title="">Ny skola byggs i Hyllie</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="https://www.retriever-info.com/go/?a=35332&amp;d=00112620141211218377676&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fsverigesradio.se%2Fsida%2Fartikel.aspx%3Fprogramid%3D96%26artikel%3D6043863&amp;x=dc29adc9e3d318938034fd24892b4f8c"
                rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c139">
                <span class="table-text">2014-12-11</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="https://www.retriever-info.com/go/?a=35332&amp;d=00577320141211218370669&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.fastighetssverige.se%2Fartikel%2Fstor-detaljplan-i-malmo-antagen-16202%2F&amp;x=fc4ac52e4bd2ed71629afeafd22383ac"
                title="">Stor detaljplan i Malmö antagen</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="https://www.retriever-info.com/go/?a=35332&amp;d=00577320141211218370669&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.fastighetssverige.se%2Fartikel%2Fstor-detaljplan-i-malmo-antagen-16202%2F&amp;x=fc4ac52e4bd2ed71629afeafd22383ac"
                rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c139">
                <span class="table-text">2014-12-11</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="https://www.retriever-info.com/go/?a=35332&amp;d=00351320141211218339882&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.skanskan.se%2Farticle%2F20141211%2FMALMO%2F141219934%2F1004%2F-%2Ftygelsjo-far-ny-temalekplats-&amp;x=4ea6c9b69033004b182173fb87d7dd30"
                title="">Tygelsjö får ny temalekplats</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="https://www.retriever-info.com/go/?a=35332&amp;d=00351320141211218339882&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.skanskan.se%2Farticle%2F20141211%2FMALMO%2F141219934%2F1004%2F-%2Ftygelsjo-far-ny-temalekplats-&amp;x=4ea6c9b69033004b182173fb87d7dd30"
                rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <span class="table-text">2014-12-11</span>
                <span class="table-text"><br></span>
                <a class="introduction" href="https://www.retriever-info.com/go/?a=35332&amp;d=00351320141211218324202&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.skanskan.se%2Farticle%2F20141211%2FMALMO%2F141219935%2F1004%2F-%2Fmiljonboter-hotar-p-malmo-&amp;x=e991ebafbc12f6f199c95a5a96db1a54"
                title="">P Malmö riskerar själva miljonböter - Malmö - Skånskan.se</a>
                <span class="introduction"><br></span>
                <span class="normal">...</span>
                <a class="normal" href="https://www.retriever-info.com/go/?a=35332&amp;d=00351320141211218324202&amp;p=665224&amp;sa=2020361&amp;u=http%3A%2F%2Fwww.skanskan.se%2Farticle%2F20141211%2FMALMO%2F141219935%2F1004%2F-%2Fmiljonboter-hotar-p-malmo-&amp;x=e991ebafbc12f6f199c95a5a96db1a54"
                rel="external" title="">
     Läs mer

     </a>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-image-portlet sv-portlet" id="svid12_1239b188146b34d7d1b8fd9">
            <div id="Bild2">
              <!-- Bild 2 -->
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_10a7ad401398b02c8a4800017045">
            <div id="Text">
              <!-- Text -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
