---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Förskoleförvaltningen</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_5530296c13e1773ee9e6ce">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e6cf">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Forskoleforvaltningen">
            <!-- Förskoleförvaltningen -->
          </div>
          <h1 class="sv-first-child">Förskoleförvaltningen</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_5530296c13e1773ee9e6d1">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_5530296c13e1773ee9e6d2">
            <div class="banner sv-old-text-portlet" id="svid12_5530296c13e1773ee9e6d3">
              <div id="Text">
                <!-- Text -->
              </div>
              <div id="h-Nyttampviktigt">
                <!-- Nytt &amp; viktigt -->
              </div>
              <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_5530296c13e1773ee9e6d4">
              <div id="RSSfranKominnyheter">
                <!-- RSS från Kominnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/fotografering-vid-lucia/" title="">Fotografering vid lucia</a></h2>
                  <span class="normal">Inför lucia har förskolorna i år gått ut med ett gemensamt förhållningssätt till...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/festlig-uppvaktning-av-medarbetare/" title="">Festlig uppvaktning av medarbetare</a></h2>
                  <span class="normal">Förvaltningen uppmärksammade de medarbetare som jobbat 25 år i Malmö stad genom att bjuda...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/klart-med-15-minutersparkering-till-de-forskolor-som-onskat/" title="">Klart med 15-minutersparkering till de förskolor som önskat</a></h2>
                  <span class="normal">Inom kort kommer 15-minutersparkering att införas på de förskolor som lämnat in önskemål...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e6d6">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/forskoleforvaltningen/forskoleforvaltningen-nytt-och-viktigt/">Fler nyheter</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e6d8">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
              </p>
            </div>
          </div>
          <div id="svid10_5530296c13e1773ee9e3818">
            <div class="banner sv-old-text-portlet" id="svid12_5530296c13e1773ee9e3819">
              <div id="Text-0">
                <!-- Text -->
              </div>
              <div id="h-HanderpaRonnen">
                <!-- Händer på Rönnen -->
              </div>
              <h2 class="sv-first-child">Händer på Rönnen</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_5530296c13e1773ee9e381b">
              <div id="RSSfranKominnyheter-0">
                <!-- RSS från Kominnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/17/tva-husvardar-blir-en/" title="">Två husvärdar blir en</a></h2>
                  <span class="normal">Från och med den 1 december kommer Rönnen att ha en husvärd med ansvar för hela huset. För...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/13/temperaturen-pa-ronnen/" title="">Temperaturen på Rönnen</a></h2>
                  <span class="normal">I och med sjunkande temperatur utomhus upplever många att det även blivit kyligare...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/10/16/kom-och-skapa-en-adventskrans/" title="">Kom och skapa en Adventskrans</a></h2>
                  <span class="normal">Den 18 november kl 16.30 guidar Charlotte Persson, IT-enheten på Rönnen, dig i skapandet...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e381d">
              <div id="Text5-0">
                <!-- Text 5 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/grundskoleforvaltningen/grundskoleforvaltningen-nytt-och-viktigt/">Fler nyheter</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e381f">
              <div id="Laggtillegennyhet-0">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="/4.e089754132b8b7af8f800061733.html">Hjälp</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_5530296c13e1773ee9e6ec">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_2b56f4113ec05ff84f1ded4">
            <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f1ded5">
              <div id="Text9">
                <!-- Text 9 -->
              </div>
              <div id="h-Forskolaimedia">
                <!-- Förskola i media -->
              </div>
              <h2 class="sv-first-child">Förskola i media</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f1df66">
              <div id="Nyheter1">
                <!-- Nyheter 1 -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <span class="normal">12-15</span>
                  <h2 class=""><a href="https://www.retriever-info.com/go/?a=41058&amp;d=050859201412152860995&amp;p=632615&amp;sa=2024010&amp;x=de879ab3a4b490dc632997b06457868c" title="">Babyboom pressar förskolan</a></h2>
                  <span class="normal">Prognosen säger att Malmö stad behöver över 2?000 nya förskoleplatser de kommande fem...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <span class="normal">12-15</span>
                  <h2 class=""><a href="https://www.retriever-info.com/go/?a=41058&amp;d=057137201412153ff4e9648f8c60e985dee9932adba714&amp;p=632615&amp;sa=2024010&amp;x=e6470431e5833d9920629218dbf01363" title="">2?034</a></h2>
                  <span class="normal">... nya förskoleplatser behöver Malmö stad de kommande fem åren, enligt prognosen. Nu...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <span class="normal">12-13</span>
                  <h2 class=""><a href="https://www.retriever-info.com/go/?a=41058&amp;d=050859201412132859655&amp;p=632615&amp;sa=2024010&amp;x=1126f3a9618502971374cd08357dde89" title="">Tvåbarnsmamma krävs på 153 000</a></h2>
                  <span class="normal">Tog felaktigt emot barnbidrag under flera år då myndigheterna anser att hon bodde...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f1e9b9">
              <div id="Text1">
                <!-- Text 1 -->
              </div>
              <p class="normal sv-first-child"><a title="Förskola i media" href="https://www.retriever-info.com/feed/2007521/forskoleforvalt_intranatet/index.xml">Läs fler nyheter</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
