---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Fritidsförvaltningen</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800035156">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_739ac06a12b66625e1f8000180">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Fritidsforvaltningen">
            <!-- Fritidsförvaltningen -->
          </div>
          <h1 class="sv-first-child">Fritidsförvaltningen</h1>
        </div>
        <div class="sv-image-portlet sv-portlet" id="svid12_256da3021495b9c5d81ee4fd">
          <div id="Bild">
            <!-- Bild -->
          </div><img alt="" class="sv-noborder c380" src="https://komin.malmo.se/images/18.256da3021495b9c5d81eed39/1415283995763/stenmark_komin_470x250.jpg">
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_739ac06a12b66625e1f8000176">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_739ac06a12b66625e1f8000181">
            <div id="Text">
              <!-- Text -->
            </div>
            <div id="h-Nyttampviktigt">
              <!-- Nytt &amp; viktigt -->
            </div>
            <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_739ac06a12b66625e1f8000182">
            <div id="svid5Nyheter">
              <!-- 5 Nyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/jamstalldhet-sitter-i-vaggarna/" title="">Jämställdhet sitter i väggarna</a></h2>
                <span class="normal">Fritidsförvaltningens sektion stordriften har invigt ett nytt omklädningsrum på...</span>
                <span class="table-head">(15/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/anlaggningar-stanger-pa-grund-av-storm/" title="">Anläggningar stänger på grund av storm</a></h2>
                <span class="normal">Vi på fritidsförvaltningen är måna om våra besökare och vår personal. För att öka...</span>
                <span class="table-head">(12/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/inbjudan-till-visning-av-nar-stenmark-akte-stod-sverige-stilla/" title="">Inbjudan till visning av ”När Stenmark åkte stod Sverige stilla”</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/stenmark_komin-150x150.jpg" class="sv-noborder c105">
                <span class="normal">Idrottsmuseet bjuder in till personalvisning av utställningen "När Stenmark åkte stod...</span>
                <span class="table-head">(09/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/04/nya-datorutbildningstillfallen-for-2015/" title="">Nya datorutbildningstillfällen för 2015</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/10/liten_gladanvändareCOLOURBOX2456815-150x150.jpg" class="sv-noborder c105">
                <span class="normal">DATOR/IT. IT-service populära datorutbildningar fortsätter under vintern 2015<br>
  <br>
   Nya...</span>
                <span class="table-head">(04/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/03/nu-oppnar-anmalan-till-vinterns-kurser-i-halsotradgarden/" title="">Nu öppnar anmälan till vinterns kurser i Hälsoträdgården!</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/Vinter2015-150x150.jpg" class="sv-noborder c105">
                <span class="normal">Friskvård och stresshantering i grön miljö<br>
  Till vintern 2015 kommer Hälsoträdgården att...</span>
                <span class="table-head">(03/12)</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
            <br>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_799a53121373b9dbfbf800016540">
            <div id="Text16">
              <!-- Text 16 -->
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b8000530">
            <div id="Text5">
              <!-- Text 5 -->
            </div>
            <p class="table-text sv-text-align-right sv-first-child"><strong>Arkiv: </strong><a title="Fler nyheter Nytt och viktigt WP" href="http://webapps04.malmo.se/nyheter/category/fritidsforvaltningen/ff-nytt-och-viktigt"><strong>Fler nyheter</strong></a>
            </p>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_367a871713cd85e72ea1066">
            <div id="Text20">
              <!-- Text 20 -->
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_367a871713cd85e72ea1065">
            <div id="Text18">
              <!-- Text 18 -->
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_367a871713cd85e72ea106c">
            <div id="Laggtillegennotis">
              <!-- Lägg till egen notis -->
            </div>
            <p class="table-text sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
            </p>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_739ac06a12b66625e1f8000184">
            <div id="VinjettNypajobbet">
              <!-- Vinjett: Ny på jobbet -->
            </div>
            <div id="h-Nypajobbet">
              <!-- Ny på jobbet -->
            </div>
            <h2 class="sv-first-child">Ny på jobbet</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_739ac06a12b66625e1f8000185">
            <div id="Nypajobbetnyheter">
              <!-- Ny på jobbet nyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c46">
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/09/IMG_3128-150x150.jpg" class="sv-noborder c105">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/09/19/valkommen-kajsa-hagg/" title="">Välkommen Kajsa Hägg!</a></h2>
                <span class="normal">Under fem månader kommer Kajsa Hägg att praktisera på fritidsförvaltningen, dels på...</span>
                <span class="normal">(19/09)</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/09/Cornelia-Pethrus-150x150.jpg" class="sv-noborder c105">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/09/08/valkommen-cornelia-pethrus/" title="">Välkommen Cornelia Pethrus</a></h2>
                <span class="normal">Under fem månader kommer Cornelia Pethrus att praktisera på fritidsförvaltningen, dels på...</span>
                <span class="normal">(08/09)</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/02/Sara_Mellander-150x150.jpg" class="sv-noborder c105">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/02/04/valkommen-sara-mellander/" title="">Välkommen Sara Mellander!</a></h2>
                <span class="normal">Vi välkomnar Sara Mellander till administrativa avdelningen som nämnds- och...</span>
                <span class="normal">(04/02)</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2013/12/marja_leena-150x150.jpg" class="sv-noborder c105">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2013/12/27/valkommen-marja-leena/" title="">Välkommen Marja-Leena!</a></h2>
                <span class="normal">Vi välkomnar Marja-Leena Zetterström till fritidsförvaltningen som lokalsamordnare....</span>
                <span class="normal">(27/12)</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b800096509">
            <div id="Text9">
              <!-- Text 9 -->
            </div>
            <p class="table-text sv-text-align-right sv-first-child"><a title="Ny på jobbet WP-nyheter" href="http://webapps04.malmo.se/nyheter/category/fritidsforvaltningen/ff-ny-pa-jobbet"><strong>Arkiv: Ny på jobbet</strong></a><strong> </strong>
              <br><strong>(maj 2012 och framåt)</strong>
              <br><a title="Arkiv: Ny på jobbet" href="/Forvaltningar/Fritidsforvaltningen/Arkiv-Ny-pa-jobbet.html"><strong>Arkiv: Ny på jobbet</strong></a><strong> </strong>
              <br><strong>(april 2012 och bakåt)</strong>
            </p>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f1f723">
            <div id="VinjettIT">
              <!-- Vinjett: IT -->
            </div>
            <div id="h-ITnyheter">
              <!-- IT-nyheter -->
            </div>
            <h2 class="sv-first-child">IT-nyheter</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f1f71e">
            <div id="ITnyheter">
              <!-- IT-nyheter -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_739ac06a12b66625e1f8000178">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_10a7ad401398b02c8a4800012015">
            <div class="banner sv-old-text-portlet" id="svid12_10a7ad401398b02c8a4800012016">
              <div id="Notisvinjett">
                <!-- Notisvinjett -->
              </div>
              <div id="h-Notiser">
                <!-- Notiser -->
              </div>
              <h2 class="sv-first-child">Notiser</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet c2" id="svid12_10a7ad401398b02c8a4800012017">
              <div id="RSSFFnotisfranWPnyheter">
                <!-- RSS FF notis från WPnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c86">
                  <a class="table-text" href="https://webapps04.malmo.se/nyheter/2014/12/09/inbjudan-till-visning-av-nar-stenmark-akte-stod-sverige-stilla/" title="">Inbjudan till visning av ”När Stenmark åkte stod Sverige stilla”</a>
                  <span class="table-text">(09/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="https://webapps04.malmo.se/nyheter/2014/12/01/lyckad-julmarknad-pa-bulltofta/" title="">Lyckad julmarknad på Bulltofta</a>
                  <span class="table-text">(01/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <a class="table-text" href="https://webapps04.malmo.se/nyheter/2014/12/01/idrottsmuseet-bidrar-till-os-samling/" title="">Idrottsmuseet bidrar till OS-samling</a>
                  <span class="table-text">(01/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_10a7ad401398b02c8a4800012018">
              <div id="Text6">
                <!-- Text 6 -->
              </div>
              <p class="table-text sv-text-align-right sv-first-child"><a title="notiser" href="http://webapps04.malmo.se/nyheter/category/fritidsforvaltningen/ff-notis/"><strong>Fler notiser</strong></a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_10a7ad401398b02c8a4800012020">
              <div id="Laggtillegennotis-0">
                <!-- Lägg till egen notis -->
              </div>
              <p class="table-text sv-first-child"><a title="Lägg till egen notis" href="http://komin.malmo.se/nynyhet">Lägg till en egen notis</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
              </p>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_739ac06a12b66625e1f8000192">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Arshjulet20142015">Årshjulet 2014-2015</h2>
            </div>
          </div>
          <div class="sv-image-portlet sv-portlet c383" id="svid12_739ac06a12b66625e1f8000193">
            <div id="Bild1">
              <!-- Bild 1 -->
            </div>
            <a title="Årshjulet 2014" href="/Forvaltningar/Fritidsforvaltningen/Mal--styrning/Arshjulet-2014-2015.html"><img alt="" class="sv-noborder c52" src="https://komin.malmo.se/images/18.6a5e68e412a855c4111800017286/1394694643407/Arshjulet-150px.jpg">
            </a>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_367a871713cd85e72ea52b">
            <div id="Platina">
              <!-- Platina -->
            </div>
            <div id="h-PlatinapaFF">
              <!-- Platina på FF -->
            </div>
            <h2 class="sv-first-child">Platina på FF</h2>
          </div>
          <div class="sv-old-text-portlet" id="svid12_367a871713cd85e72ea52e">
            <div id="Text19">
              <!-- Text 19 -->
            </div>
            <p class="normal sv-first-child">Vad innebär Platina för dig? Vem kan du få support av? Läs mer om <a title="Platina på fritidsförvaltningen" href="/Forvaltningar/Fritidsforvaltningen/Stod--service/Dokument--och-arendehantering/Platina.html">Platina på fritidsförvaltningen.</a>
            </p>
          </div>
          <div id="svid10_1ea1b65412e8055acb2800067054">
            <div class="blog-box">
              <div class="sv-old-text-portlet">
                <div id="header">
                  <!-- header -->
                </div>
                <div id="h-Blogg">
                  <!-- Blogg -->
                </div>
                <h2 class="sv-first-child">Blogg</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss">
                    <!-- discuss -->
                  </div><img alt="Blogg" class="sv-noborder c5" src="https://komin.malmo.se/images/18.56b0f46b12e1fd8c6458000562/1394693745382/blog.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800067055">
                    <div id="Bloggpufftext">
                      <!-- Bloggpufftext -->
                    </div>
                    <p class="introduction sv-first-child"><a title="Till bloggen om fritidsförvaltningen" href="http://webapps04.malmo.se/blogg/category/fritidsforvaltningen/">Läs vad som bloggas om fritidsförvaltningen</a>
                    </p>
                  </div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800067057">
                    <div id="Text9-0">
                      <!-- Text 9 -->
                    </div>
                    <div id="h-Senasteblogginlaggen">
                      <!-- Senaste blogginläggen -->
                    </div>
                    <h3 class="sv-first-child">Senaste blogginläggen</h3>
                  </div>
                  <div class="sv-archive-portlet sv-portlet" id="svid12_1ea1b65412e8055acb2800067058">
                    <div id="Bloggflode">
                      <!-- Bloggflöde -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/11/06/valkomna-till-det-nya-orangea-stadsarkivet/" title="">Välkomna till det nya orangea Stadsarkivet</a>
                        <span class="table-text">(06/11)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/10/31/projektlojala-beslutsfattare-i-styrgruppen/" title="">Projektlojala beslutsfattare i styrgruppen</a>
                        <span class="table-text">(31/10)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sv-html-portlet sv-portlet" id="svid12_1e842c9412b6803495b8000159489">
            <div id="HTML-0">
              <!-- HTML -->
            </div>
            <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
            <fb:like-box href="http://www.facebook.com/kulimalmo" width="223" show_faces="false" stream="false" header="false"></fb:like-box>
          </div>
          <div id="svid10_c804a321343c942ccd800091359">
            <div class="banner sv-old-text-portlet" id="svid12_c804a321343c942ccd800091354">
              <div id="Text10">
                <!-- Text 10 -->
              </div>
              <div id="h-JAMSTALLDHETUTANGRANSER">
                <!-- JÄMSTÄLLDHET UTAN GRÄNSER -->
              </div>
              <h2 class="sv-first-child">JÄMSTÄLLDHET UTAN GRÄNSER</h2>
            </div>
            <div class="sv-old-text-portlet" id="svid12_c804a321343c942ccd800091356">
              <div id="Text15">
                <!-- Text 15 -->
              </div>
              <p class="normal sv-first-child"><a title="Jämställdhetsintegrering" href="/Forvaltningar/Fritidsforvaltningen/Mal--styrning/Jamstalldhet--mangfald/Jamstalldhetsintegrering.html">Jämställdhetsintegrering på fritidsförvaltningen</a>
              </p>
            </div>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_1e842c9412b6803495b800054625">
            <div id="VinjettFritidsklubben">
              <!-- Vinjett: Fritidsklubben -->
            </div>
            <div id="h-Fritidsklubben">
              <!-- Fritidsklubben -->
            </div>
            <h2 class="sv-first-child">Fritidsklubben</h2>
          </div>
          <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b800054808">
            <div id="Text6-0">
              <!-- Text 6 -->
            </div>
            <p class="normal sv-first-child"><a title="Fritidsklubben" href="/Forvaltningar/Fritidsforvaltningen/Fritidsklubben.html">"Klubben för allas trivsel"</a>
            </p>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_739ac06a12b66625e1f8000204">
            <div id="Vinjettmalmose">
              <!-- Vinjett: malmo.se -->
            </div>
            <div id="h-Franmalmose">
              <!-- Från malmo.se -->
            </div>
            <h2 class="sv-first-child">Från malmo.se</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_739ac06a12b66625e1f8000205">
            <div id="malmosefritid">
              <!-- malmo.se/fritid -->
            </div>
            <br>
          </div>
          <div id="svid10_10a7ad401398b02c8a480008563">
            <div class="banner sv-old-text-portlet" id="svid12_10a7ad401398b02c8a480008564">
              <div id="Text5-0">
                <!-- Text 5 -->
              </div>
              <div id="h-Pressmeddelanden">
                <!-- Pressmeddelanden  -->
              </div>
              <h2 class="sv-first-child">Pressmeddelanden </h2>
              <div id="h-Malmostad">
                <!-- Malmö stad -->
              </div>
              <h3>Malmö stad</h3>
            </div>
            <div class="sv-archive-portlet sv-portlet c36" id="svid12_10a7ad401398b02c8a480008565">
              <div id="Pressmeddelanden">
                <!-- Pressmeddelanden -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/pressinbjudan-utbyggnaden-av-malmoes-skolor-och-nya-upptagningsomraaden-foer-skolorna-1098781?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease"
                  title="">Pressinbjudan- Utbyggnaden av Malmös skolor och nya upptagningsområden för skolorna</a>
                  <span class="table-text">(15/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/utdelning-av-malmoe-stads-maangfalds-och-jaemstaelldhetspris-2014-1098802?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Utdelning av Malmö stads mångfalds- och jämställdhetspris 2014</a>
                  <span class="table-text">(14/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/anlaeggningar-staenger-paa-grund-av-storm-1098554?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Anläggningar stänger på grund av storm</a>
                  <span class="table-text">(12/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/byggstart-foer-hyllievaangsskolan-1098185?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Byggstart för Hyllievångsskolan</a>
                  <span class="table-text">(11/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/60-hyreslaegenheter-till-hyllie-1098193?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">60 hyreslägenheter till Hyllie</a>
                  <span class="table-text">(11/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_10a7ad401398b02c8a480008566">
              <div id="Text7">
                <!-- Text 7 -->
              </div>
              <p class="table-text sv-text-align-right sv-first-child"><a title="Länk till Malmö stads pressrum" href="http://www.mynewsdesk.com/se/pressroom/malmo/pressrelease/list"><strong>Fler pressmeddelanden</strong></a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
