---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Grundskoleförvaltningen</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_5530296c13e1773ee9e552">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e553">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Grundskoleforvaltningen">
            <!-- Grundskoleförvaltningen -->
          </div>
          <h1 class="sv-first-child">Grundskoleförvaltningen</h1>
        </div>
        <div class="sv-image-portlet sv-portlet" id="svid12_5530296c13e1773ee9e554">
          <div id="Bild1">
            <!-- Bild 1 -->
          </div>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_5530296c13e1773ee9e555">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_5530296c13e1773ee9e556">
            <div class="banner sv-old-text-portlet" id="svid12_5530296c13e1773ee9e557">
              <div id="Text">
                <!-- Text -->
              </div>
              <div id="h-Nyttampviktigt">
                <!-- Nytt &amp; viktigt -->
              </div>
              <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet c80" id="svid12_5530296c13e1773ee9e558">
              <div id="RSSfranKominnyheter">
                <!-- RSS från Kominnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/elevenkater-lasaret-201415/" title="">Elevenkäter läsåret 2014/15</a></h2>
                  <span class="normal">I januari 2015 skickas läsårets elevenkäter ut till samtliga grundskoleelever i Malmös...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/anders-har-ordet-4/" title="">Anders har ordet</a></h2>
                  <span class="normal">Då står julen för dörren och år 2014 är nästan över. Det har varit intensivt detta första...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/vill-du-skicka-en-jul-och-nyarshalsning/" title="">Vill du skicka en jul- och nyårshälsning!</a></h2>
                  <span class="normal">Nu finns julkort framtagna som du kan använda för att skicka digitala julhälsningar i...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/forvaltningsledningens-mote-9-december/" title="">Förvaltningsledningens möte 9 december</a></h2>
                  <span class="normal">Två områden, lönebildning och HR/Ekonomi representanternas deltagande i rektorsgruppen,...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/sakra-skolan-infor-lovet/" title="">Säkra skolan inför lovet</a></h2>
                  <span class="normal">När det nu snart är skollov passar det bra att göra en extra koll på säkerheten. Risken...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/03/nyheter-i-fritidsnamndens-prislista-2015-som-beror-skolor/" title="">Nyheter i fritidsnämndens Prislista 2015 som berör skolor</a></h2>
                  <span class="normal">Fritidsnämndens Prislista 2015 innehåller inga större förändringar som berör skolor. Två...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/01/kreativ-teknik-i-klassrummet/" title="">Kreativ teknik i klassrummet!</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/ctcliten-150x150.jpg" class="sv-noborder c160">
                  <span class="normal">Sju Malmöskolor och Pedagogisk Inspiration Malmö kommer under vårterminen att delta i...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/28/en-dag-med-antirasistiska-teman/" title="">En dag med antirasistiska teman</a></h2>
                  <span class="normal">Det var 60 intresserade, nyfikna, debattsugna elever från grundskolan åk 9 och...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_5530296c13e1773ee9e55a">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/grundskoleforvaltningen/grundskoleforvaltningen-nytt-och-viktigt/">Fler nyheter</a>
                </p>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_5530296c13e1773ee9e55c">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
                </p>
              </div>
            </div>
          </div>
          <div class="sv-image-portlet sv-portlet c81" id="svid12_2b56f4113ec05ff84faf6c">
            <div id="Bild">
              <!-- Bild -->
            </div>
            <a title="Medverka Platina" href="/Forvaltningar/Grundskoleforvaltningen/Stod-och-service-i-grundskoleforvaltningen/Sa-har-arbetar-vi-med.../Medverkaprojektet.html"><img alt="" class="sv-noborder c82" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84faf6d/1394694877561/Bild-till-projektet.jpg">
            </a>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_5530296c13e1773ee9e570">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84fffe9">
            <div id="Aktuelltiforvaltningenrubrik">
              <!-- Aktuellt i förvaltningen - rubrik -->
            </div>
            <div id="h-Aktuelltiforvaltningen">
              <!-- Aktuellt i förvaltningen -->
            </div>
            <h2 class="sv-first-child">Aktuellt i förvaltningen</h2>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84fffea">
            <div id="Kalendarium">
              <!-- Kalendarium -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <div class="sv-text-portlet-content">
                    <p class="normal"><a title=" (excel, 13.5 kB)" href="/download/18.41839467149eb4f50cdabb86/1417511038346/Ny+Kopia+av+Ledngrupp+Semlista+jul-ny%C3%A5r+2014-15.xlsx">Förvaltningsledningens ledigheter i jul &amp; nyårshelgen<img alt="excel" title="excel" src="https://komin.malmo.se/images/18.2db64e3612fc543dfd1800085345/1394693754288/doc_excel.png" class="sv-linkicon"></a>
                    </p>
                    <p class="normal"><a title="" href="/Forvaltningar/Grundskoleforvaltningen/Var-organisation/Forvaltningsledning/Forvaltningsledningens-mote.html">Referat från förvaltningsledningens möte</a>
                    </p>
                    <p class="normal"><a title="Kalendarium" href="/Forvaltningar/Grundskoleforvaltningen/Kalendarium.html">Kalendarium</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f232fc">
            <div id="Text3">
              <!-- Text 3 -->
            </div>
          </div>
          <div class="c83" id="svid10_5530296c13e1773ee9e23e9">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_5530296c13e1773ee9e23ea">
              <div id="Text-0">
                <!-- Text -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-HanderpaRonnen">Händer på Rönnen</h2>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_7a325c45145177040b0205b">
              <div id="Text1">
                <!-- Text 1 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal"><em>"Händer på Rönnen" är ett gemensamt nyhetsflöde kring lokalerna på Rönnen och administreras av Förskoleförvaltningen</em>
                </p>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_5530296c13e1773ee9e23eb">
              <div id="RSSfranKominnyheter-0">
                <!-- RSS från Kominnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/17/tva-husvardar-blir-en/" title="">Två husvärdar blir en</a></h2>
                  <span class="normal">Från och med den 1 december kommer Rönnen att ha en husvärd med ansvar för hela huset. För...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/13/temperaturen-pa-ronnen/" title="">Temperaturen på Rönnen</a></h2>
                  <span class="normal">I och med sjunkande temperatur utomhus upplever många att det även blivit kyligare...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/10/16/kom-och-skapa-en-adventskrans/" title="">Kom och skapa en Adventskrans</a></h2>
                  <span class="normal">Den 18 november kl 16.30 guidar Charlotte Persson, IT-enheten på Rönnen, dig i skapandet...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e23ed">
              <div id="Text5-0">
                <!-- Text 5 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="https://webapps04.malmo.se/nyheter/tag/hander-pa-ronnen/">Fler nyheter</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_5530296c13e1773ee9e23ef">
              <div id="Laggtillegennyhet-0">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
              </p>
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f3ba8">
            <div id="LokalernapaRonnen">
              <!-- Lokalerna på Rönnen -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
