---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Gymnasie- och vuxenutbildningsförvaltningen</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800034122">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000125">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Gymnasieochvuxenutbildningsforvaltningen">
            <!-- Gymnasie- och vuxenutbildningsförvaltningen -->
          </div>
          <h1 class="sv-first-child">Gymnasie- och vuxenutbildningsförvaltningen</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd800090">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000119">
            <div id="Text">
              <!-- Text -->
            </div>
            <div id="h-Nyttampviktigt">
              <!-- Nytt &amp; viktigt -->
            </div>
            <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000120">
            <div id="svid5Nyheter">
              <!-- 5 Nyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/nya-interna-riktlinjer-for-formansparkering/" title="">Nya interna riktlinjer för förmånsparkering</a></h2>
                <span class="normal">Från och med årsskiftet gäller nya riktlinjer inom förvaltningen för förmånsparkering....</span>
                <span class="caption">(11/12)</span>
                <span class="caption"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/nu-byter-vi-namn/" title="">Nu byter vi namn</a></h2>
                <span class="normal">Fr.o.m. 1/1 2015 heter förvaltningen arbetsmarknads-, gymnasie- och...</span>
                <span class="caption">(9/12)</span>
                <span class="caption"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/avdelningen-for-fysisk-miljo-omorganiseras/" title="">Avdelningen för fysisk miljö omorganiseras</a></h2>
                <span class="normal">Efter drygt 1,5 år där de tre skolförvaltningarna arbetat med en förvaltningsövergripande...</span>
                <span class="caption">(9/12)</span>
                <span class="caption"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/28/en-dag-med-antirasistiska-teman/" title="">En dag med antirasistiska teman</a></h2>
                <span class="normal">Det var 60 intresserade, nyfikna, debattsugna elever från grundskolan åk 9 och...</span>
                <span class="caption">(28/11)</span>
                <span class="caption"><br></span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-old-text-portlet c288" id="svid12_2b56f4113ec05ff84f48f26">
            <div id="Kopia1avText5">
              <!-- Kopia (1) av Text 5 -->
            </div>
            <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="https://webapps04.malmo.se/nyheter/category/gymnasie-och-vuxenutbildningsforvaltningen/">Fler nyheter</a>
            </p>
          </div>
          <div class="sv-old-text-portlet" id="svid12_799a53121373b9dbfbf800019115">
            <div id="Text8">
              <!-- Text 8 -->
            </div>
            <p class="normal sv-first-child"><a title="WP" href="https://webapps04.malmo.se/nyheter/wp-login.php?redirect_to=http%3A%2F%2Fwebapps04.malmo.se%2Fnyheter%2Fwp-admin%2Fpost-new.php&amp;reauth=1" rel="external"><strong>Lägg till en egen nyhet</strong></a> / <a title="nyhetshjälp"
              href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet" rel="external"><strong>Hjälp</strong></a>
            </p>
          </div>
          <div id="svid10_37169ffb1485639d91848208">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_37169ffb1485639d91848209">
              <div id="Fragorsva">
                <!-- Frågor, sva -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-NyLedningsorganisation">Ny Ledningsorganisation</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_37169ffb1485639d9184820a">
              <div id="Nyheter">
                <!-- Nyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist sv-use-margins">
                <li class="sv-channel-item c106">
                  <h2 class=""><a href="https://webapps04.malmo.se/forum/topic/2229-tjansterna-som-administrativa-chefer-ar-utannonserade/" title="">Tjänsterna som administrativa chefer är utannonserade</a></h2>
                  <span class="caption">(31/10)</span>
                  <span class="caption"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c106">
                  <h2 class=""><a href="https://webapps04.malmo.se/forum/topic/2227-extern-information-till-medborgarna/" title="">Extern information till medborgarna</a></h2>
                  <span class="caption">(28/10)</span>
                  <span class="caption"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/forum/topic/2210-undvik-att-oroa-dig-i-onodan/" title="">Undvik att oroa dig i onödan!</a></h2>
                  <span class="caption">(10/10)</span>
                  <span class="caption"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c7" id="svid12_37169ffb1485639d9184820b">
              <div id="Text-0">
                <!-- Text -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="" href="https://webapps04.malmo.se/forum/forum/409-ny-ledningsorganisation/">Fler frågor &amp;&nbsp;diskussioner</a>
                  <br><a title="" href="https://webapps04.malmo.se/forum/forum/409-ny-ledningsorganisation/">Ställ en egen fråga</a>
                </p>
              </div>
            </div>
          </div>
          <div id="svid10_3234529b14a1721a2efc59d">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_3234529b14a1721a2efc59e">
              <div id="Forandringar">
                <!-- Förändringar -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-ForandringarLedargruppen">Förändringar Ledargruppen</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_3234529b14a1721a2ef12455">
              <div id="Nyheter1">
                <!-- Nyheter 1 -->
              </div>
              <ul class="sv-channel sv-defaultlist sv-use-margins">
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/05/ase-malmborg-och-krister-wahlstrom-avslutar-sina-uppdrag/" title="">Åse Malmborg och Krister Wahlström går i pension</a></h2>
                  <span class="caption">(5/12)</span>
                  <span class="caption"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c7" id="svid12_3234529b14a1721a2efc5a0">
              <div id="Text-1">
                <!-- Text -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="" href="https://webapps04.malmo.se/nyheter/category/gyvux-forandringar-i-ledargruppen/">Fler nyheter</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd800092">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="sv-image-portlet sv-portlet" id="svid12_77ce0d6314612f49de86a2d">
            <div id="Bild1">
              <!-- Bild 1 -->
            </div>
            <a title="" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen/Mal-styrning--uppfoljning/Beslut--protokoll.html"><img alt="" class="sv-noborder c289" src="https://komin.malmo.se/images/18.77ce0d6314612f49de86a2e/1401279466257/hall_koll.gif">
            </a>
          </div>
          <div class="sv-text-portlet sv-use-margins c139" id="svid12_77ce0d6314612f49de86a30">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <div class="sv-text-portlet-content">
              <h3 class="" id="h-Sebeslutochprotokoll"><a title="" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen/Mal-styrning--uppfoljning/Beslut--protokoll.html">Se&nbsp;beslut och protokoll</a></h3>
            </div>
          </div>
          <div class="sv-image-portlet sv-portlet c290" id="svid12_1ea1b65412e8055acb2800075749">
            <div id="Bild">
              <!-- Bild -->
            </div>
            <a title="Länk till Edico" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen/Stod--service/Kommunikation/Var-personaltidning-Edico.html"><img alt="Edico" class="sv-noborder c289" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84f1c0c5/1394694908095/edico_banner.png">
            </a>
          </div>
          <div class="sv-old-text-portlet" id="svid12_c804a321343c942ccd800059087">
            <div id="Text7">
              <!-- Text 7 -->
            </div>
            <div id="h-LassenasteEdico">
              <!-- Läs senaste Edico -->
            </div>
            <h2 class="sv-first-child"><a title="Edico" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen/Stod--service/Kommunikation/Var-personaltidning-Edico.html">Läs senaste Edico</a></h2>
          </div>
          <div class="sv-image-portlet sv-portlet c291" id="svid12_2b56f4113ec05ff84f17bcb">
            <div id="Bild-0">
              <!-- Bild -->
            </div>
            <a title="Frukostsamtal" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen/Frukostsamtal.html"><img alt="Edico" class="sv-noborder c289" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84f17127/1394694908113/frukost_inbjudan_banner.png">
            </a>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f17bcd">
            <div id="Text7-0">
              <!-- Text 7 -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-FrukostsamtalmedEvaLasse"><a title="" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen/Frukostsamtal.html">Frukostsamtal med Eva &amp; Lasse</a><br></h2>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
