---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Serviceförvaltningen</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800048222">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd800078">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Serviceforvaltningen">
            <!-- Serviceförvaltningen -->
          </div>
          <h1 class="sv-first-child">Serviceförvaltningen</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_10a7ad401398b02c8a4800019802">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_10a7ad401398b02c8a4800019804">
            <div id="NYTTVIKTIGT">
              <!-- NYTT&VIKTIGT -->
            </div>
            <div id="h-Nyttampviktigt">
              <!-- Nytt &amp; viktigt -->
            </div>
            <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet" id="svid12_10a7ad401398b02c8a4800019805">
            <div id="RSSServiceforvaltningenfranWPnyheter">
              <!-- RSS Serviceförvaltningen från WPnyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c84">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/nu-hittar-du-serviceforvaltningens-mallar-i-word/" title="">Nu hittar du serviceförvaltningens mallar i Word</a></h2>
                <span class="normal">Nu behöver du inte längre leta efter den mall du behöver när du skriver i word. Nu kan du...</span>
                <span class="normal">(15/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/i-kvall-haller-vi-tummarna-for-malvin/" title="">I kväll håller vi tummarna för Malvin!</a></h2>
                <span class="normal">I kväll avgörs det vilket som är Sveriges mest hållbara projekt 2015 - och bland...</span>
                <span class="normal">(15/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/hor-du-till-dom-som-har-mycket-e-post-i-din-borttaget-mapp-i-outlook/" title="">Hör du till dom som har mycket e-post i din Borttaget mapp i Outlook?</a></h2>
                <span class="normal">Från och med den 16 december kommer alla borttagna mail flyttas från Borttaget mappen...</span>
                <span class="normal">(12/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/underhallsarbete-pa-malmo-sesitevision-pa-mandag/" title="">Underhållsarbete på malmo.se/Sitevision på måndag</a></h2>
                <span class="normal">Sitevision för malmo.se kommer måndagen den 15 december att vara stängd för tekniskt...</span>
                <span class="normal">(10/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/ar-du-intresserad-av-att-delta-i-en-arbetsplatskor/" title="">Är du intresserad av att delta i en arbetsplatskör?</a></h2>
                <span class="normal">Nu kan du få möjlighet att sjunga i kör med andra arbetskamrater i serviceförvaltningen....</span>
                <span class="normal">(10/12)</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_10a7ad401398b02c8a4800019822">
            <div id="Flernyheter">
              <!-- Fler nyheter -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal sv-text-align-right"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/serviceforvaltningen/">Fler nyheter</a>
              </p>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_3277d9ec14771fac223f23b2">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><a title="" href="https://webapps04.malmo.se/nyheter/wp-login.php?redirect_to=https%3A%2F%2Fwebapps04.malmo.se%2Fnyheter%2Fwp-admin%2Fpost-new.php&amp;reauth=1">Lägg till en nyhet</a>
              </p>
            </div>
          </div>
          <div class="ielayoutfix sv-horizontal c120" id="svid10_10a7ad401398b02c8a4800019818">
            <div class="sv-old-text-portlet c121" id="svid12_10a7ad401398b02c8a4800019819">
              <div id="Text9">
                <!-- Text 9 -->
              </div>
              <p class="table-text sv-first-child"><a title="Pressklipp" href="/Forvaltningar/Serviceforvaltningen/Aktuellt/Pressklipp-SEF-2014.html">Serviceförvaltningen i press och media</a>
                <br>Se vad som skrivits om SEF i media.</p>
            </div>
            <div class="sv-image-portlet sv-portlet c122" id="svid12_10a7ad401398b02c8a4800019821">
              <div id="Bild3">
                <!-- Bild 3 -->
              </div><img alt="" class="sv-noborder c123" src="https://komin.malmo.se/images/18.e089754132b8b7af8f800043928/1394695101681/SEF+i+press+o+media2.PNG">
            </div>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_10a7ad401398b02c8a4800019824">
            <div id="NYHETERFRANMALMOSE">
              <!-- NYHETER FRÅN MALMO:SE -->
            </div>
            <div id="h-Nyheterfranmalmose">
              <!-- Nyheter från malmo.se -->
            </div>
            <h2 class="sv-first-child">Nyheter från malmo.se</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet" id="svid12_10a7ad401398b02c8a4800019825">
            <div id="Nyheter">
              <!-- Nyheter -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd800039">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f4665b">
            <div id="InfofranSEFsledning">
              <!-- Info från SEF:s ledning -->
            </div>
            <div id="h-INFOFRANSEFSLEDNING">
              <!-- INFO FRÅN SEF:S LEDNING -->
            </div>
            <h2 class="sv-first-child">INFO FRÅN SEF:S LEDNING</h2>
          </div>
          <div class="sv-image-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f46948">
            <div id="Bild7">
              <!-- Bild 7 -->
            </div>
            <a title="Info" href="/Forvaltningar/Serviceforvaltningen/Mal--styrning/Beslut-och-protokoll/Info-fran-SEFs-ledningsgrupp.html"><img alt="" class="sv-noborder c124" src="https://komin.malmo.se/images/18.46ea5ac9147fcaa93be8a823/1409124151850/Ledningsgruppen_info_banner.jpg">
            </a>
          </div>
          <div class="sv-text-portlet sv-use-margins c125" id="svid12_243c7059145db1c39f142cc">
            <div id="ArbetsmiljoiSEF">
              <!-- Arbetsmiljö i SEF -->
            </div>
            <div class="sv-text-portlet-content">
              <h1 class="" id="h-svdefaultanchor"><strong><a title="" href="/Forvaltningar/Serviceforvaltningen/Stod--service/HR/Arbetsmiljo-serviceforvaltningen.html">Arbetsmiljö i SEF</a></strong></h1>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_1efd5de81467f37d02f3ec">
            <div id="Text">
              <!-- Text -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><strong></strong>
              </p>
            </div>
          </div>
          <div id="svid10_1ea1b65412e8055acb2800023309">
            <div class="blog-box">
              <div class="sv-old-text-portlet">
                <div id="header">
                  <!-- header -->
                </div>
                <div id="h-Blogg">
                  <!-- Blogg -->
                </div>
                <h2 class="sv-first-child">Blogg</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss">
                    <!-- discuss -->
                  </div><img alt="Blogg" class="sv-noborder c5" src="https://komin.malmo.se/images/18.56b0f46b12e1fd8c6458000562/1394693745382/blog.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800023310">
                    <div id="Forumpuff">
                      <!-- Forumpuff -->
                    </div>
                    <p class="introduction sv-first-child"><a title="Länk till bloggen, Serviceförvaltningen" href="http://webapps04.malmo.se/blogg/category/serviceforvaltningen/">Läs om vad som bloggas om Serviceförvaltningen</a>
                    </p>
                  </div>
                  <div class="sv-text-portlet sv-use-margins" id="svid12_1ea1b65412e8055acb2800023312">
                    <div id="Senasteforuminlaggen">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <div class="sv-text-portlet-content">
                      <h3 class="" id="h-Senasteblogginlaggen">Senaste blogginläggen</h3>
                    </div>
                  </div>
                  <div class="sv-archive-portlet sv-portlet" id="svid12_1ea1b65412e8055acb2800023313">
                    <div id="RSSfranbloggarKommunikationsarbetekategorin">
                      <!-- RSS från bloggar, Kommunikationsarbete-kategorin -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/12/04/hur-startas-ett-projekt-nar/" title="">Hur startas ett projekt? När?</a>
                        <span class="table-text">(04/12)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/11/06/valkomna-till-det-nya-orangea-stadsarkivet/" title="">Välkomna till det nya orangea Stadsarkivet</a>
                        <span class="table-text">(06/11)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/10/31/projektlojala-beslutsfattare-i-styrgruppen/" title="">Projektlojala beslutsfattare i styrgruppen</a>
                        <span class="table-text">(31/10)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/09/12/styrgruppen-sitter-man-inte-i/" title="">Styrgruppen sitter man inte i</a>
                        <span class="table-text">(12/09)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/09/11/vad-har-du-i-ryggsacken/" title="">Vad har du i ryggsäcken?</a>
                        <span class="table-text">(11/09)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins c126" id="svid12_c804a321343c942ccd800025806">
            <div id="Servicenamndensmotesdagar">
              <!-- Servicenämndens mötesdagar -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><strong>Servicenämndens mötesdagar 2014</strong>
                <br>Studion, Henrik Smithsgatan 13,
                <br>kl: 14.00 om inget annat anges.</p>
              <p class="normal">21 januari
                <br>25 februari kl: 09.00
                <br>25 mars
                <br>22 april
                <br>27 maj kl: 09.00
                <br>19 juni
                <br>26 augusti
                <br>23 september
                <br>21 oktober
                <br>25 november
                <br>17 december kl: 16.00</p>
              <p class="normal">Budgetkonferens 25-26/2.</p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
