---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Stadsbyggnadskontoret</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800053201">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000175">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Stadsbyggnadskontoret">
            <!-- Stadsbyggnadskontoret -->
          </div>
          <h1 class="sv-first-child">Stadsbyggnadskontoret</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000126">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800022082">
            <div id="Text">
              <!-- Text -->
            </div>
            <div id="h-NyttochviktigtfranSBK">
              <!-- Nytt och viktigt från SBK -->
            </div>
            <h2 class="sv-first-child">Nytt och viktigt från SBK</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000170">
            <div id="svid5Nyheter">
              <!-- 5 Nyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c46">
                <h2 class=""><a href="/Forvaltningar/Stadsbyggnadskontoret/Nyheter-vid-anmalan-KASTA-INTE-JESPER/2014-12-12-Lunchforelasning-17-12-3D-print-2.0---en-trendspaning.html" title="">
           <span>Lunchföreläsning 17/12: 3D-print 2.0 -&nbsp;en trendspaning</span>
           </a></h2>
                <img alt="" src="https://komin.malmo.se/images/200.3234529b14a1721a2efd14c9/1418368793032/3D-printM%C3%A4ssaParis7cm.jpg" class="sv-noborder c4000">
                <span class="normal">Den senaste trenden inom 3D-print presenteras. Allt från mat till hus i fullskala + rappor...</span>
                <span class="table-head">(12/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/dags-for-lucia/" title="">Dags för Lucia</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/lucia-150x149.jpg" class="sv-noborder c3874">
                <span class="normal">Torsdagen den 11 december lussar Malmö stads Lucia med följe nere i Stadshusets foajé kl....</span>
                <span class="table-head">(10/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/08/skyddsrond-2/" title="">Skyddsrond</a></h2>
                <span class="normal">Den 9 december har skyddskommittén samverkansmöte med skyddsrond. Om det finns några...</span>
                <span class="table-head">(08/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/08/stadsbyggnadsnamndens-dagordning-2014-12-11/" title="">Stadsbyggnadsnämndens dagordning 2014-12-11</a></h2>
                <span class="normal">Stadsbyggnadsnämndens föredragningslista för 2014-12-11. I sammanställningsbladen för...</span>
                <span class="table-head">(08/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/08/arkivredovisning-med-dokumenthanteringsplan-finns-tillganglig/" title="">Arkivredovisning med dokumenthanteringsplan finns tillgänglig</a></h2>
                <span class="normal">13 november i år antog SBN arkivredovisningen vilket innebär att vi nu äntligen kan...</span>
                <span class="table-head">(08/12)</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_1e842c9412b6803495b8000559">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="table-text sv-text-align-right"><a title="Skriv en egen nyhet" href="http://webapps04.malmo.se/nyheter/wp-login.php">Skriv en egen nyhet</a>
                <br><a title="SBK Nyheter" href="http://webapps04.malmo.se/nyheter/category/stadsbyggnadskontoret/">Fler SBK-nyheter</a>
              </p>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_10a7ad401398b02c8a4800042171">
            <div id="Text21">
              <!-- Text 21 -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Senasteprotokollen">Senaste protokollen</h2>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_10a7ad401398b02c8a4800042172">
            <div id="Text22">
              <!-- Text 22 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="table-text"><a title="" href="http://komin.malmo.se/download/18.256da3021495b9c5d81e84f6/1415265311561/Protokoll_Ledningsgrupp_20141103.pdf">Ledningsgruppen 2014-11-03</a>
              </p>
              <p class="table-text"><a title=" (pdf, 520.9 kB)" href="/download/18.237a16af148ae3cf809dc9c0/1412339493166/Protokoll+F%C3%B6rvaltningsr%C3%A5d+140915.pdf">Förvaltningsråd 2014-09-15<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
              </p>
            </div>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_56b0f46b12e1fd8c645800018769">
            <div id="Nypajobet">
              <!-- Ny på jobet -->
            </div>
            <div id="h-Nypajobbet">
              <!--  Ny på jobbet  -->
            </div>
            <h2 class="sv-first-child"> Ny på jobbet </h2>
          </div>
          <div class="sv-old-text-portlet c48" id="svid12_213458ee12b66ff3bbd8000168">
            <div id="Text5">
              <!-- Text 5 -->
            </div>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_56b0f46b12e1fd8c645800018775">
            <div id="Nyanstallda">
              <!-- Nyanställda -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/24/ewa-rannestig-blir-ny-stadsingenjor/" title="">Ewa Rannestig blir ny stadsingenjör</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/EwaRannestig-150x150.jpg" class="sv-noborder c117">
                <span class="normal">Ny stadsingenjör och avdelningschef för...</span>
                <span class="table-head">(24/11)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c46">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/18/valkommen-mariah/" title="">Välkommen Mariah!</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/mariah.menendez-150x150.jpg" class="sv-noborder c117">
                <span class="normal">Mariah Menéndez är nyanställd assistent på planavdelningen....</span>
                <span class="table-head">(18/11)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/13/valkommen-johanna/" title="">Välkommen Johanna!</a></h2>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/Johanna-Anderberg6cm-150x150.jpg" class="sv-noborder c117">
                <span class="normal">Johanna började jobba på Stadsbyggnadskontoret (Bygglovenhet...</span>
                <span class="table-head">(13/11)</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-old-text-portlet" id="svid12_56b0f46b12e1fd8c645800018893">
            <div id="Flernyanstalllda">
              <!-- Fler nyanställlda -->
            </div>
            <p class="table-text sv-text-align-right sv-first-child"><a title="Nyanställda" href="https://webapps04.malmo.se/nyheter/category/sbk-ny-pa-jobbet/">Fler nyanställda</a>
            </p>
          </div>
          <div id="svid10_1ea1b65412e8055acb2800012032">
            <div class="blog-box">
              <div class="sv-old-text-portlet">
                <div id="header">
                  <!-- header -->
                </div>
                <div id="h-Blogg">
                  <!-- Blogg -->
                </div>
                <h2 class="sv-first-child">Blogg</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss">
                    <!-- discuss -->
                  </div><img alt="Blogg" class="sv-noborder c5" src="https://komin.malmo.se/images/18.56b0f46b12e1fd8c6458000562/1394693745382/blog.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800012033">
                    <div id="Forumpuff">
                      <!-- Forumpuff -->
                    </div>
                    <p class="table-text sv-first-child">Både interna och externa blogginlägg skrivna av SBK:s medarbetare</p>
                  </div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800012035">
                    <div id="Senasteforuminlaggen">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <div id="h-Senasteblogginlaggen">
                      <!-- Senaste blogginläggen -->
                    </div>
                    <h3 class="sv-first-child">Senaste blogginläggen</h3>
                  </div>
                  <div class="sv-archive-portlet sv-portlet" id="svid12_1ea1b65412e8055acb2800012036">
                    <div id="RSSfranbloggarKommunikationsarbetekategorin">
                      <!-- RSS från bloggar, Kommunikationsarbete-kategorin -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/blogg/2014/12/12/personuppgifter-i-en-digital-varld/" title="">Personuppgifter i en digital värld</a>
                        <span class="table-text">(12/12)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/blogg/2014/12/04/hur-startas-ett-projekt-nar/" title="">Hur startas ett projekt? När?</a>
                        <span class="table-text">(04/12)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/blogg/2014/12/01/vision-innovation/" title="">Vision – innovation</a>
                        <span class="table-text">(01/12)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/blogg/2014/11/27/gem-ar-fratande-bajs/" title="">Gem är frätande bajs</a>
                        <span class="table-text">(27/11)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="table-text" href="http://webapps07.malmo.se/blogg/2014/11/26/arkitekturens-form/" title="">Arkitekturens form</a>
                        <span class="table-text">(26/11)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="svid10_1ea1b65412e8055acb2800062415">
            <div class="discuss-box">
              <div class="sv-old-text-portlet">
                <div id="header-0">
                  <!-- header -->
                </div>
                <div id="h-Diskutera">
                  <!-- Diskutera -->
                </div>
                <h2 class="sv-first-child">Diskutera</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss-0">
                    <!-- discuss -->
                  </div><img alt="Diskutera" class="sv-noborder c5" src="https://komin.malmo.se/images/18.1d8b012512b3897f473800036180/1394693745396/discuss.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800062416">
                    <div id="Forumpuff-0">
                      <!-- Forumpuff -->
                    </div>
                    <p class="table-text sv-first-child"><a title="Länk till diskussionsforumet för Stadsbyggnadskontoret" href="https://webapps04.malmo.se/forum/forum/28-stadsbyggnadskontoret/">Gå till diskussions- forumet för Stadsbyggnadskontoret</a>
                    </p>
                  </div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800062418">
                    <div id="Senasteforuminlaggen-0">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <div id="h-Senasteforuminlaggen">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <h3 class="sv-first-child">Senaste foruminläggen</h3>
                  </div>
                  <div class="sv-archive-portlet sv-portlet" id="svid12_1ea1b65412e8055acb2800062419">
                    <div id="RSSfranVoOforumet">
                      <!-- RSS från VoO-forumet -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/forum/topic/1915-att-spara-i-word-baserade-dokument/" title="">Att spara i Word-baserade dokument</a>
                        <span class="table-text">(10/09)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/forum/topic/1899-problem-med-att-bifoga-word-dokument/" title="">Problem med att bifoga Word-dokument</a>
                        <span class="table-text">(16/07)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/forum/topic/1806-tillgang-till-ritningar-ags-direkt-via-byggr/" title="">Tillgång till ritningar (AGS) direkt via ByggR</a>
                        <span class="table-text">(15/03)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="table-text" href="https://webapps04.malmo.se/forum/topic/1773-flera-fastighetsagare-adressater-i-brevmall/" title="">Flera fastighetsägare / adressater i brevmall</a>
                        <span class="table-text">(18/02)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="table-text" href="https://webapps04.malmo.se/forum/topic/1651-nytt-testarende/" title="">Nytt testärende</a>
                        <span class="table-text">(07/12)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_21f377c1395afcc3378000562">
            <div id="Text3">
              <!-- Text 3 -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000128">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_10a7ad401398b02c8a4800022395">
            <div id="Text19">
              <!-- Text 19 -->
            </div>
            <div id="h-SBN">
              <!-- SBN  -->
            </div>
            <h2 class="sv-first-child">SBN </h2>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_10a7ad401398b02c8a4800022399">
            <div id="Text20">
              <!-- Text 20 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><strong><a title="" href="https://komin.malmo.se/download/18.3234529b14a1721a2ef62984/1418035486339/_foredragningslista+20141211.pdf" rel="external">Dagordning för 2014-12-11</a></strong>
                <br><strong><a title="" href="https://webapps04.malmo.se/nyheter/2014/12/08/stadsbyggnadsnamndens-dagordning-2014-12-11/">Aktuella nämndsärenden 2014-12-11</a></strong>
              </p>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f8473">
            <div id="Kopia1avText19">
              <!-- Kopia (1) av Text 19 -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-ANMALDIGNU">ANMÄL DIG NU!</h2>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_c804a321343c942ccd800028854">
            <div id="Text17">
              <!-- Text 17 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal">Lunchföreläsning 17/12: <a title="" href="/Forvaltningar/Stadsbyggnadskontoret/Nyheter-vid-anmalan-KASTA-INTE-JESPER/2014-12-12-Lunchforelasning-17-12-3D-print-2.0---en-trendspaning.html">3D-print 2.0 - en trendspaning</a>
              </p>
              <p class="normal"><a title="" href="https://webapps04.malmo.se/nyheter/2014/11/24/julfest-18-december/">Julfest den 18 december</a>
                <br>Sista anmälningsdag 25 november!</p>
            </div>
          </div>
          <div class="slideshow-mini c49" id="svid10_1ea1b65412e8055acb2800056539">
            <div id="svid10_2b56f4113ec05ff84f1a62e"></div>
          </div>
          <div class="sv-image-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f3c335">
            <div id="Bild3">
              <!-- Bild 3 -->
            </div>
            <a title="Medverka - Platina" href="/Forvaltningar/Stadsbyggnadskontoret/Stod--service-pa-SBK/Medverka---Platina.html"><img alt="" class="sv-noborder c50" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84f3c325/1394695530812/BannermedverkaSN2.png">
            </a>
          </div>
          <div id="svid10_b1e3fd91360c410e51800022087">
            <div class="banner sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800022088">
              <div id="VinjettSpaningar">
                <!-- Vinjett Spaningar -->
              </div>
              <div id="h-Forelasningamparrangemang">
                <!-- Föreläsning &amp; arrangemang -->
              </div>
              <h2 class="sv-first-child">Föreläsning &amp; arrangemang</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet c2" id="svid12_b1e3fd91360c410e51800022089">
              <div id="RSSGKspaningfranWPnyheter">
                <!-- RSS GK spaning från WPnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c86">
                  <a class="table-text" href="https://webapps04.malmo.se/nyheter/2014/11/10/inbjudan-till-frukostseminarium-om-sociala-natverk-arbets-och-foretagsutveckling/" title="">Inbjudan till frukostseminarium om sociala nätverk, arbets- och företagsutveckling</a>
                  <span class="table-text">(10/11)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="https://webapps04.malmo.se/nyheter/2014/05/15/samlastning-far-medel-fran-vinnova/" title="">Samlastning får medel från Vinnova</a>
                  <span class="table-text">(15/05)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <a class="table-text" href="https://webapps04.malmo.se/nyheter/2014/03/07/antaget-atgardsprogram-mot-buller/" title="">Antaget åtgärdsprogram mot buller</a>
                  <span class="table-text">(07/03)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800022090">
              <div id="Text-0">
                <!-- Text -->
              </div>
              <p class="table-text sv-text-align-right sv-first-child"><a title="Föreläsningar &amp; Seminarier" href="http://webapps04.malmo.se/nyheter/category/stadsbyggnadskontoret/sbk-forelasningar-och-seminarier/">Fler föreläsningar</a>
                <br><a title="Tipsa" href="https://webapps04.malmo.se/nyheter/wp-login.php">Tipsa om en föreläsning</a>
              </p>
            </div>
          </div>
          <div id="svid10_c804a321343c942ccd800044182">
            <div class="banner sv-old-text-portlet" id="svid12_c804a321343c942ccd800044183">
              <div id="Bloggvinjett">
                <!-- Bloggvinjett -->
              </div>
              <div id="h-SBKsutvecklingsarbete">
                <!-- SBK:s utvecklingsarbete -->
              </div>
              <h2 class="sv-first-child">SBK:s utvecklingsarbete</h2>
            </div>
            <div class="sv-old-text-portlet" id="svid12_c804a321343c942ccd800046125">
              <div id="Text6">
                <!-- Text 6 -->
              </div>
              <p class="table-text sv-first-child">Nyheter och dialog om utvecklingsarbetet på SBK.</p>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_c804a321343c942ccd800046121">
              <div id="SBKUtvecklingsarbete">
                <!-- SBK Utvecklingsarbete -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c118">
                  <a class="table-text" href="https://webapps04.malmo.se/blogg/2012/02/22/vi-behover-samla-kompetenserna/" title="">Vi behöver samla kompetenserna</a>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c118">
                  <a class="table-text" href="https://webapps04.malmo.se/blogg/2012/02/14/upphandling-pagar/" title="">Upphandling pågår</a>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c118">
                  <a class="table-text" href="https://webapps04.malmo.se/blogg/2012/01/31/organisationsmodellerna-far-inte-skymma-sikten/" title="">Organisationsmodellerna får inte skymma sikten</a>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <a class="table-text" href="https://webapps04.malmo.se/blogg/2012/01/31/sbks-enheter-ar-grunden-for-var-framgang/" title="">SBK:s enheter är grunden för vår framgång</a>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_c804a321343c942ccd800047265">
              <div id="Text4">
                <!-- Text 4 -->
              </div>
              <p class="table-text sv-text-align-right sv-first-child"><a title="Blogginlägg" href="http://webapps04.malmo.se/blogg/tag/sbkutv/">Läs fler blogginlägg</a>
                <br><a title="Nyheter" href="http://webapps04.malmo.se/nyheter/tag/sbkutv/">Läs fler nyheter</a>
              </p>
            </div>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_c804a321343c942ccd80005090">
            <div id="Nyhetsbevakning">
              <!-- Nyhetsbevakning -->
            </div>
            <div id="h-Retrievernyhetsbevakning">
              <!-- Retriever nyhetsbevakning -->
            </div>
            <h2 class="sv-first-child">Retriever nyhetsbevakning</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet" id="svid12_c804a321343c942ccd80005027">
            <div id="Nyhetsbevakning-0">
              <!-- Nyhetsbevakning -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c119">
                <a class="table-text" href="https://www.retriever-info.com/go/?a=34714&amp;d=00955520141215218578075&amp;p=445954&amp;sa=2019809&amp;u=http%3A%2F%2Fwww.building-supply.se%2Farticle%2Fview%2F145043%2Fnordfeldt_development_bygger_i_hyllie&amp;x=e64fe05b943abe248772e1523b2babe1"
                title="">Nordfeldt Development bygger i Hyllie</a>
                <span class="table-text"><br></span>
                <span class="table-head">(15/12)</span>
                <span class="table-head"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c119">
                <a class="table-text" href="https://www.retriever-info.com/go/?a=34714&amp;d=00733320141215218576959&amp;p=445962&amp;sa=2019809&amp;u=http%3A%2F%2Fwww.ikem.se%2Fpublicerat%2Fstories%2Fny-diskrimineringsform-bristande-tillganglighet&amp;x=eef2ad6597f49da73a13169a31869fc8"
                title="">Ny diskrimineringsform: bristande tillgänglighet</a>
                <span class="table-text"><br></span>
                <span class="table-head">(15/12)</span>
                <span class="table-head"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c119">
                <a class="table-text" href="https://www.retriever-info.com/go/?a=34714&amp;d=00677520141215218563118&amp;p=445962&amp;sa=2019809&amp;u=http%3A%2F%2Fwww.lararnasnyheter.se%2Fspecialpedagogik%2F2014%2F12%2F14%2Fbrinner-talboken&amp;x=b88e545e237b826340a1e79310f751cd"
                title="">Hon brinner för talboken</a>
                <span class="table-text"><br></span>
                <span class="table-head">(15/12)</span>
                <span class="table-head"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c119">
                <a class="table-text" href="https://www.retriever-info.com/go/?a=34714&amp;d=00111620141215218562663&amp;p=445957&amp;sa=2019809&amp;u=http%3A%2F%2Fsverigesradio.se%2Fsida%2Fartikel.aspx%3Fprogramid%3D105%26artikel%3D6044933&amp;x=9ace0315b5131f021638180302df5f44"
                title="">En lösning verkar vara i...</a>
                <span class="table-text"><br></span>
                <span class="table-head">(15/12)</span>
                <span class="table-head"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <a class="table-text" href="https://www.retriever-info.com/go/?a=34714&amp;d=0509112014121574a069e77970357e5d467ca24ca6a1e4&amp;p=525334&amp;sa=2019809&amp;x=cb1a14a873173678ebb7c8efc97cff25" title="">Vård-Central funktion saknas</a>
                <span class="table-text"><br></span>
                <span class="table-head">(15/12)</span>
                <span class="table-head"><br></span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-old-text-portlet c59" id="svid12_c804a321343c942ccd80005401">
            <div id="Text15">
              <!-- Text 15 -->
            </div>
            <p class="table-text sv-text-align-right sv-first-child"><a title="Retriever" href="/Forvaltningar/Stadsbyggnadskontoret/Stod--service-pa-SBK/Kommunikation--marknadsforing/Nyhetsbevakning.html">Fler nyheter</a>
            </p>
          </div>
          <div class="sv-image-portlet sv-portlet c60" id="svid12_c804a321343c942ccd80005349">
            <div id="PuffbildHelastaden">
              <!-- Puffbild Hela staden -->
            </div><img alt="" class="sv-noborder c61" src="https://komin.malmo.se/images/18.c804a321343c942ccd80005391/1394695532177/HelaStadenVinjettNY.jpg">
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_1e842c9412b6803495b8000143531">
            <div id="ChristersbloggRSSimport">
              <!-- Christers blogg RSS-import -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c89">
                <a class="table-text" href="http://feedproxy.google.com/~r/HelaStaden/~3/82MP8ViWYIY/" title="">Sveriges arkitekters planpris till Malmö</a>
                <span class="table-head">(29/11)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c89">
                <a class="table-text" href="http://feedproxy.google.com/~r/HelaStaden/~3/7Yg4MOivkPQ/" title="">Arkitekturgalan nästa</a>
                <span class="table-head">(26/11)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <a class="table-text" href="http://feedproxy.google.com/~r/HelaStaden/~3/9SsSbp7S97s/" title="">Gestaltad livsmiljö – konferens i Göteborg 20 nov</a>
                <span class="table-head">(10/11)</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b8000132735">
            <div id="Text8">
              <!-- Text 8 -->
            </div>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000164">
            <div id="franmalmose">
              <!-- från malmose -->
            </div>
            <div id="h-Franmalmose">
              <!-- Från malmo.se -->
            </div>
            <h2 class="sv-first-child">Från malmo.se</h2>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000165">
            <div id="malmose">
              <!-- malmo.se -->
            </div>
            <br>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
