---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Stadsområdesförvaltning Väster</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800010615">
    <!-- Page content starts here -->
    <div class="pagecontent sv-layout" id="svid94_367a871713cd85e72ea98b6">
      <div id="Mittenspalt">
        <!-- Mittenspalt -->
      </div>
      <div class="sv-text-portlet sv-use-margins c413" id="svid12_367a871713cd85e72ea98b7">
        <div id="Rubrik">
          <!-- Rubrik -->
        </div>
        <div class="sv-text-portlet-content">
          <h1 class="" id="h-StadsomradesforvaltningVaster">Stadsområdesförvaltning Väster</h1>
        </div>
      </div>
      <div id="svid10_367a871713cd85e72ea98ba">
        <div class="sv-archive-portlet sv-portlet" id="svid12_367a871713cd85e72ea98bc">
          <div id="RSSfranKominnyheter">
            <!-- RSS från Kominnyheter -->
          </div>
          <ul class="sv-channel sv-defaultlist ">
            <li class="sv-channel-item c84">
              <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/larmcentralen-deltar-i-motesplats-valfardteknologi-e-halsa-2015/" title="">LarmCentralen deltar i Mötesplats Välfärdteknologi &amp; e-hälsa 2015</a></h2>
              <span class="normal">Den 21-22 januari 2015 medverkar Malmö stads LarmCentral på Kistamässan i "Mötesplats välfärdsteknologi &amp; e-hälsa 2015"....</span>
              <div class="sv-clear-both"></div>
            </li>
            <li class="sv-channel-item c84">
              <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/ny-organisationsstruktur-i-vaster/" title="">Ny organisationsstruktur i Väster</a></h2>
              <span class="normal">Förvaltningen förändrar nästa år i organisationsstrukturen och omdirigerar de strategiska resurserna. Den nya...</span>
              <div class="sv-clear-both"></div>
            </li>
            <li class="sv-channel-item c84">
              <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/bellevuegardsbiblioteket-har-stangt-7-januari-3-februari/" title="">Bellevuegårdsbiblioteket har stängt 7 januari – 3 februari</a></h2>
              <span class="normal">Bellevuegårdsbiblioteket får ett nytt innertak. Därför kommer biblioteket att vara stängt 7 januari - 3 februari 2015....</span>
              <div class="sv-clear-both"></div>
            </li>
            <li class="sv-channel-item c84">
              <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/04/nya-datorutbildningstillfallen-for-2015/" title="">Nya datorutbildningstillfällen för 2015</a></h2>
              <span class="normal">DATOR/IT. IT-service populära datorutbildningar fortsätter under vintern 2015<br>
  <br>
   Nya utbildningstillfällen för januari...</span>
              <div class="sv-clear-both"></div>
            </li>
            <li class="sv-channel-item">
              <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/25/arets-ledare-2014-karin-andersson/" title="">Årets ledare 2014 – Karin Andersson</a></h2>
              <span class="normal">Karin Andersson har blivit utsedd till Årets ledare i Malmö stad 2014. Karin arbetar som sektionschef på Tygelsjögården...</span>
              <div class="sv-clear-both"></div>
            </li>
          </ul>
        </div>
        <div class="sv-old-text-portlet" id="svid12_367a871713cd85e72ea98be">
          <div id="Text5">
            <!-- Text 5 -->
          </div>
          <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/innerstaden/vaster-nytt-och-viktigt/">Fler nyheter</a>
          </p>
        </div>
        <div class="sv-old-text-portlet" id="svid12_367a871713cd85e72ea98c0">
          <div id="Laggtillegennyhet">
            <!-- Lägg till egen nyhet -->
          </div>
          <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
          </p>
        </div>
        <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f2d416">
          <div id="Aktuelltiforvaltningen">
            <!-- Aktuellt i förvaltningen -->
          </div>
          <div class="sv-text-portlet-content">
            <h2 class="" id="h-Aktuelltiforvaltningen">Aktuellt i förvaltningen</h2>
          </div>
        </div>
        <div class="sv-text-portlet sv-use-margins c102" id="svid12_2b56f4113ec05ff84f3b3c3">
          <div id="Text16">
            <!-- Text 16 -->
          </div>
          <div class="sv-text-portlet-content">
            <h2 class="" id="h-Friskvard">Friskvård</h2>
          </div>
        </div>
        <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f2d417">
          <div id="Text6">
            <!-- Text 6 -->
          </div>
          <div class="sv-text-portlet-content">
            <p class="normal"><a title="Träningskort" href="http://komin.malmo.se/Min-anstallning/Samverkan-arbetsmiljo--halsa/Friskvard--traning/SoF-Vaster-Friskvard.html">Läs om de friskvårdsaktiviteter som gäller för dig som är anställd i Stadsområdesförvaltning Väster </a>
            </p>
          </div>
        </div>
        <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f2d420">
          <div id="Text14">
            <!-- Text 14 -->
          </div>
          <div id="h-Vadheterviegentligen">
            <!-- Vad heter vi egentligen? -->
          </div>
          <h2 class="sv-first-child">Vad heter vi egentligen?</h2>
        </div>
        <div class="sv-text-portlet sv-use-margins c3" id="svid12_2b56f4113ec05ff84f2d421">
          <div id="Text15">
            <!-- Text 15 -->
          </div>
          <div class="sv-text-portlet-content">
            <p class="normal">Hur stavas våra nya förvaltningar? Hur förkortas de? Vad heter avdelningarna? <a title="Benämningar (pdf, 1.6 MB)" href="/download/18.2b56f4113ec05ff84f1d75e/1394696097206/Ben%C3%A4mningar+sep+2013.pdf">I vår folder får du svaren! <img alt="PDF" title="PDF" src="/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
            </p>
          </div>
        </div>
        <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f3b79e">
          <div id="Text8">
            <!-- Text 8 -->
          </div>
          <div id="h-Checklistamotdiskriminering">
            <!-- Checklista mot diskriminering -->
          </div>
          <h2 class="sv-first-child">Checklista mot diskriminering</h2>
        </div>
        <div class="sv-text-portlet sv-use-margins c141" id="svid12_2b56f4113ec05ff84f3b7a1">
          <div id="Text11">
            <!-- Text 11 -->
          </div>
          <div class="sv-text-portlet-content">
            <p class="normal">Checklistan som är ett stöd i ditt arbete för att få en så bra, tydlig och inkluderande kommunikation som möjligt. <a title=" (pdf, 74 kB)" href="/download/18.2b56f4113ec05ff84f3b7a3/1394696097349/Check+f%C3%B6r+diskrimineringsfri+kommunikation.pdf">Läs mer här<img alt="PDF" title="PDF" src="/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
            </p>
          </div>
        </div>
      </div>
      <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f2d425">
        <div id="Text1">
          <!-- Text 1 -->
        </div>
        <div id="h-PressmeddelandeMalmose">
          <!-- Pressmeddelande Malmo.se -->
        </div>
        <h2 class="sv-first-child">Pressmeddelande Malmo.se</h2>
      </div>
      <div class="sv-archive-portlet sv-portlet c36" id="svid12_2b56f4113ec05ff84f2d422">
        <div id="Pressmeddelanden">
          <!-- Pressmeddelanden -->
        </div>
        <ul class="sv-channel sv-defaultlist ">
          <li class="sv-channel-item c86">
            <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/pressinbjudan-utbyggnaden-av-malmoes-skolor-och-nya-upptagningsomraaden-foer-skolorna-1098781?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease"
            title="">Pressinbjudan- Utbyggnaden av Malmös skolor och nya upptagningsområden för skolorna</a>
            <span class="table-text">(15/12)</span>
            <div class="sv-clear-both"></div>
          </li>
          <li class="sv-channel-item c86">
            <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/utdelning-av-malmoe-stads-maangfalds-och-jaemstaelldhetspris-2014-1098802?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Utdelning av Malmö stads mångfalds- och jämställdhetspris 2014</a>
            <span class="table-text">(14/12)</span>
            <div class="sv-clear-both"></div>
          </li>
          <li class="sv-channel-item c86">
            <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/anlaeggningar-staenger-paa-grund-av-storm-1098554?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Anläggningar stänger på grund av storm</a>
            <span class="table-text">(12/12)</span>
            <div class="sv-clear-both"></div>
          </li>
          <li class="sv-channel-item c86">
            <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/byggstart-foer-hyllievaangsskolan-1098185?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Byggstart för Hyllievångsskolan</a>
            <span class="table-text">(11/12)</span>
            <div class="sv-clear-both"></div>
          </li>
          <li class="sv-channel-item">
            <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/60-hyreslaegenheter-till-hyllie-1098193?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">60 hyreslägenheter till Hyllie</a>
            <span class="table-text">(11/12)</span>
            <div class="sv-clear-both"></div>
          </li>
        </ul>
      </div>
      <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f2d423">
        <div id="Text7">
          <!-- Text 7 -->
        </div>
        <div class="sv-text-portlet-content">
          <p class="table-text sv-text-align-right"><a title="Länk till Malmö stads pressrum" href="http://www.mynewsdesk.com/se/pressroom/malmo/pressrelease/list"><strong>Fler pressmeddelanden</strong></a>
          </p>
        </div>
      </div>
    </div>
    <!-- Page content stops here -->
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
