---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Förvaltningar</a></li>
    <li>Stadsområdesförvaltning Norr</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_367a871713cd85e72ea9748">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-text-portlet sv-use-margins" id="svid12_367a871713cd85e72ea9749">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div class="sv-text-portlet-content">
            <h1 class="" id="h-StadsomradesforvaltningNorr">Stadsområdesförvaltning Norr</h1>
          </div>
        </div>
        <div class="sv-image-portlet sv-portlet" id="svid12_367a871713cd85e72ea974a">
          <div id="Bild1">
            <!-- Bild 1 -->
          </div>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_367a871713cd85e72ea974b">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_367a871713cd85e72ea974c">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_367a871713cd85e72ea974d">
              <div id="Text">
                <!-- Text -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Nyttviktigt">Nytt &amp; viktigt</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_367a871713cd85e72ea974e">
              <div id="RSSfranKominnyheter">
                <!-- RSS från Kominnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/givande-start-for-framtida-ledare/" title="">Givande start för framtida ledare</a></h2>
                  <span class="normal">Utvecklingsprogrammet för Framtida ledare 2014-2015 omfattar tre terminer och avslutas i...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/aktuellt-ansikte-12/" title="">Aktuellt ansikte</a></h2>
                  <span class="normal">Hur kan vi arbeta förebyggande och skapa bättre förutsättningar för barn, unga och...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/minnesanteckningar-fran-forvaltningsledningen/" title="">Minnesanteckningar från förvaltningsledningens möte 24 november</a></h2>
                  <span class="normal">Intresserad av vad som sker i förvaltningsledningen? Läs gärna minnesanteckningarna.  Du...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/ledarforum-den-4-december-halsa-som-strategi-for-ledarskap/" title="">Ledarforum den 4 december – Hälsa som strategi för ledarskap</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/ledarforum_ny_1-150x150.png" class="sv-noborder c85">
                  <span class="normal">Den 4 december träffades drygt 50 ledare för att inspireras i sitt ledarskap. Föreläsare...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/stall-om-dator-och-telefon-infor-semestern/" title="">Ställ om e-post och telefon om du är ledig under jul och nyår</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/06/telefon1-150x150.jpg" class="sv-noborder c85">
                  <span class="normal">Som vanligt måste du tänka på att din e-post blir besvarad och att du har hänvisning på...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/vattenskadade-lokaler-hos-individ-och-familjeomsorg/" title="">Arbete pågår trots vattenskadade lokaler</a></h2>
                  <span class="normal">Under helgen skedde en vattenskada i individ- och familjeomsorgs lokaler på Södra...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_367a871713cd85e72ea9750">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/innerstaden/norr-nytt-och-viktigt/">Fler nyheter</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_367a871713cd85e72ea9752">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_367a871713cd85e72ea9766">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_367a871713cd85e72ea9767">
            <div id="svid10_367a871713cd85e72ea976d">
              <div class="sv-decoration-Vinjett banner sv-text-portlet sv-use-margins" id="svid12_237a16af148ae3cf80986787">
                <div id="Text6">
                  <!-- Text 6 -->
                </div>
                <div class="sv-text-portlet-content">
                  <h2 class="" id="h-ARSHJUL2014">ÅRSHJUL 2014</h2>
                </div>
              </div>
              <div class="sv-image-portlet sv-portlet" id="svid12_237a16af148ae3cf80986f8c">
                <div id="Bild">
                  <!-- Bild -->
                </div>
                <a title="" href="/Forvaltningar/Stadsomradesforvaltning-Norr/Mal-och-styrning-i-Norr/Arshjul.html"><img alt="Årshjul för Stadsområdesförvaltning Norr" class="sv-noborder c68" src="https://komin.malmo.se/images/18.237a16af148ae3cf80986f8e/1412079811067/%C3%85rshjul-webb.png">
                </a>
              </div>
              <div class="banner sv-text-portlet sv-use-margins" id="svid12_367a871713cd85e72ea9768">
                <div id="Aktuelltiforvaltningen">
                  <!-- Aktuellt i förvaltningen -->
                </div>
                <div class="sv-text-portlet-content">
                  <h2 class="" id="h-Aktuelltiforvaltningen">Aktuellt i förvaltningen</h2>
                </div>
              </div>
            </div>
            <div class="c69" id="svid10_367a871713cd85e72ea9769">
              <div class="sv-image-portlet sv-portlet c64" id="svid12_2b56f4113ec05ff84f46543">
                <div id="Bild2">
                  <!-- Bild 2 -->
                </div><img alt="" class="sv-noborder c70" src="https://komin.malmo.se/images/200.174570d6144ba8949df3/1394698974573/Logga+PKiN.jpg">
              </div>
              <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f4653e">
                <div id="Personalklubb">
                  <!-- Personalklubb -->
                </div>
                <div class="sv-text-portlet-content">
                  <p class="normal"><strong>Personalklubb</strong>
                    <br>SoF Norr har en&nbsp;personalklubb som arrangerar olika aktiviteter, <a title="Personalklubben" href="/Forvaltningar/Stadsomradesforvaltning-Norr/Stod-och-service-i-Norr/Personalklubben.html">läs mer här.</a>
                  </p>
                  <p class="normal"><strong>Semesterlista&nbsp;jul och nyår</strong>
                    <br><a title=" (pdf, 143.7 kB)" href="/download/18.3234529b14a1721a2ef9d064/1418212312625/julledningsgruppen+2014.pdf">Förvaltningsledningen<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                    <br><a title=" (pdf, 145.6 kB)" href="/download/18.3234529b14a1721a2ef9d43c/1418213055804/Kommunikationsavdelningen+2014.pdf">Kommunikationsavdelningen<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                    <br><a title=" (pdf, 176.8 kB)" href="/download/18.3234529b14a1721a2efa159d/1418225574904/SEM+jul-ny%C3%A5r.pdf">VoO ledningsgrupp<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                    <br><a title=" (pdf, 352.9 kB)" href="/download/18.3234529b14a1721a2efd5eae/1418382295807/Semester%2BLedning%2Boch%2Bstab%2Bjul%2Boch%2Bny%C3%A5r%2B2014.pdf">OU ledningsgrupp<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                  </p>
                  <p class="normal"><a title="" href="https://webapps04.malmo.se/nyheter/2014/12/10/stall-om-dator-och-telefon-infor-semestern/">Ställ om&nbsp;e-post och telefon under semester</a>&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
          <div id="svid10_2b56f4113ec05ff84f29d77">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f29d7d">
              <div id="Text1">
                <!-- Text 1 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-PressmeddelandeMalmose">Pressmeddelande Malmo.se</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet c36" id="svid12_2b56f4113ec05ff84f29d78">
              <div id="Pressmeddelanden">
                <!-- Pressmeddelanden -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/pressinbjudan-utbyggnaden-av-malmoes-skolor-och-nya-upptagningsomraaden-foer-skolorna-1098781?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease"
                  title="">Pressinbjudan- Utbyggnaden av Malmös skolor och nya upptagningsområden för skolorna</a>
                  <span class="table-text">(15/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/utdelning-av-malmoe-stads-maangfalds-och-jaemstaelldhetspris-2014-1098802?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Utdelning av Malmö stads mångfalds- och jämställdhetspris 2014</a>
                  <span class="table-text">(14/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/anlaeggningar-staenger-paa-grund-av-storm-1098554?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Anläggningar stänger på grund av storm</a>
                  <span class="table-text">(12/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c86">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/byggstart-foer-hyllievaangsskolan-1098185?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">Byggstart för Hyllievångsskolan</a>
                  <span class="table-text">(11/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <a class="table-text" href="http://www.mynewsdesk.com/se/malmo/pressreleases/60-hyreslaegenheter-till-hyllie-1098193?utm_source=rss&amp;utm_medium=rss&amp;utm_campaign=Subscription&amp;utm_content=pressrelease" title="">60 hyreslägenheter till Hyllie</a>
                  <span class="table-text">(11/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f29d79">
              <div id="Text7">
                <!-- Text 7 -->
              </div>
              <p class="table-text sv-text-align-right sv-first-child"><a title="Länk till Malmö stads pressrum" href="http://www.mynewsdesk.com/se/pressroom/malmo/pressrelease/list"><strong>Fler pressmeddelanden</strong></a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/department-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
