---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Kommunikationsarbete</li>
  </ol>
</nav>

<section class="sv-ugly-start" role="main">
  <!-- WARNING: Sitevision ugly code -->
  <div class="pagecontent" id="svid10_1e842c9412b6803495b800072817">
    <!-- Page content starts here -->
    <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f28eec">
      <div id="Mittenspalt">
        <!-- Mittenspalt -->
      </div>
      <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f28eed">
        <div id="Rubrik">
          <!-- Rubrik -->
        </div>
        <div class="sv-text-portlet-content">
          <h1 class="" id="h-Chef">Chef</h1>
        </div>
      </div>
      <div class="sv-horizontal c7" id="svid10_2b56f4113ec05ff84f43732">
        <div class="sv-horizontal-column c8" id="svid10_2b56f4113ec05ff84f4373a">
          <div id="svid10_2b56f4113ec05ff84f43782">
            <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f43783">
              <div id="Nyttviktigt">
                <!-- Nytt & viktigt -->
              </div>
              <div id="h-Nyttampviktigt">
                <!-- Nytt &amp; viktigt -->
              </div>
              <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f43784">
              <div id="Nyheter16">
                <!-- Nyheter 1-6 -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/malmo-stad-deltar-i-sveriges-storsta-forskningsprojekt-om-kommunikationens-betydelse/" title="">Malmö stad deltar i Sveriges största forskningsprojekt om kommunikationens betydelse</a></h2>
                  <span class="normal">Företag, organisationer och myndigheter lägger varje år närmare 40...</span>
                  <span class="table-head">(12/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/varfor-behover-vi-jobba-med-vart-arbetsgivarvarumarke/" title="">Varför behöver vi jobba med vårt arbetsgivarvarumärke?</a></h2>
                  <span class="normal">Kolla in filmen där Veronica Wallinder berättar varför vi behöver...</span>
                  <span class="table-head">(11/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/paminnelse-sista-dag-att-bevilja-i-hrutan-ar-redan-pa-fredag/" title="">Påminnelse: Sista dag att bevilja i HRutan är redan på fredag</a></h2>
                  <span class="normal">Senast den 12:e december klockan 17.00 måste du ha beviljat eller...</span>
                  <span class="table-head">(10/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/har-du-rekryterat-nagon-som-ar-nyexaminerad/" title="">Har du rekryterat någon som är nyexaminerad?</a></h2>
                  <span class="normal">Varje år rekryterar Malmö stad över 1 500 personer. Ibland är det...</span>
                  <span class="table-head">(09/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c102" id="svid12_2b56f4113ec05ff84f43785">
              <div id="Flernyheter">
                <!-- Fler nyheter -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="Fler chefsnyheter" href="https://webapps04.malmo.se/nyheter/category/chef-2/">Fler chefsnyheter </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="sv-horizontal-column c8" id="svid10_2b56f4113ec05ff84f43733">
          <div id="svid10_2b56f4113ec05ff84f43795">
            <div class="sv-decoration-Vinjett banner sv-text-portlet sv-use-margins" id="svid12_13e84511149be83045b4c7ea">
              <div id="Text1">
                <!-- Text 1 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Chefsforum">Chefsforum</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_13e84511149be83045b4c833">
              <div id="Nyheter">
                <!-- Nyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist sv-use-margins">
                <li class="sv-channel-item">
                  <a class="table-text" href="https://webapps04.malmo.se/forum/topic/2244-ledarskap/" title="">ledarskap</a>
                  <span class="table-text">(08/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c102" id="svid12_13e84511149be83045b4d288">
              <div id="Text9">
                <!-- Text 9 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="table-text sv-text-align-right"><a title="" href="https://webapps04.malmo.se/forum/">Starta en diskussion</a>
                </p>
              </div>
            </div>
          </div>
          <div id="svid10_2b56f4113ec05ff84f43787">
            <div class="sv-decoration-Vinjett banner sv-text-portlet sv-use-margins" id="svid12_13e84511149be83045b4d52b">
              <div id="Aktuellt">
                <!-- Aktuellt -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Aktuellt">Aktuellt</h2>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_46ea5ac9147fcaa93be9045c">
              <div id="Text">
                <!-- Text -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Missadeduaretsledarskapsdag"><a title="" href="/Arbetsfalt-verksamheter/Chef/Att-vara-chef/Utveckling-for-dig-som-chef/Ledarskapsdagen.html">Missade du årets ledarskapsdag?</a></h2>
                <p class="normal">En sammanfattning&nbsp;av dagen som gick under temat hur ledarskap kan främja hållbar utveckling. </p>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet" id="svid12_41839467149eb4f50cdc9010">
              <div id="Bild">
                <!-- Bild -->
              </div><img alt="" class="sv-noborder c3787" src="https://komin.malmo.se/images/200.41839467149eb4f50cdc904f/1417598211736/LS_1.jpg">
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_41839467149eb4f50cdc97c9">
              <div id="Text3">
                <!-- Text 3 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal">
                  <br>Såhär tyckte några av deltagarna om ledarskapsdagen.</p>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet" id="svid12_41839467149eb4f50cdc9857">
              <div id="Bild2">
                <!-- Bild 2 -->
              </div>
              <a title="" href="http://komin.malmo.se/webbvideo?bctid=3908321125001"><img alt="" class="sv-noborder c3787" src="https://komin.malmo.se/images/200.41839467149eb4f50cdc98c4/1417599727774/PLAY_Int_Huvudbild_554x314.jpg">
              </a>
            </div>
          </div>
          <div id="svid10_640882571459241e05842f5"></div>
        </div>
        <div class="sv-horizontal-column c11" id="svid10_2b56f4113ec05ff84f43738">
          <div id="svid10_2b56f4113ec05ff84f4378c">
            <div class="sv-text-portlet sv-use-margins" id="svid12_63d6265f14986762ccec75d1">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Aretsledare2014KarinAndersson"><a title="" href="/Arbetsfalt-verksamheter/Chef/Att-vara-chef/Utveckling-for-dig-som-chef/Ledarskapsdagen/Arets-ledare.html">Årets ledare 2014 - Karin Andersson</a>&nbsp;</h2>
                <p class="normal">Karin arbetar som sektionschef på Tygelsjögården i stadsområdesförvaltning Väster.
                  <br>
                  <br>
                </p>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c307" id="svid12_3234529b14a1721a2efeaf9">
              <div id="Bild3">
                <!-- Bild 3 -->
              </div><img alt="" class="sv-noborder c2100" src="https://komin.malmo.se/images/200.3234529b14a1721a2efeb31/1417771929360/budget_framsida.jpg">
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_3234529b14a1721a2efe8b0">
              <div id="Text6">
                <!-- Text 6 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Budget2015medplan20162020"><a title="" href="/Arbetsfalt-verksamheter/Chef/Ekonomi/Budget-2015.html">Budget 2015 med plan 2016-2020</a></h2>
                <p class="normal">Nämndsbudgeten ska vara sammanställd under första kvartalet 2015.</p>
              </div>
            </div>
            <div class="sv-image-portlet sv-portlet c305" id="svid12_63d6265f14986762cce16a61">
              <div id="Bild4">
                <!-- Bild 4 -->
              </div><img alt="" class="sv-noborder c309" src="https://komin.malmo.se/images/200.63d6265f14986762cce16a63/1415367406152/7552266-622368-3d-white-people-find-the-solution-puzzle.jpg">
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_63d6265f14986762cce160b2">
              <div id="Text4">
                <!-- Text 4 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Villduutvecklasidittledarskap"><a title="" href="/Arbetsfalt-verksamheter/Chef/Att-vara-chef/Utveckling-for-dig-som-chef/Chefsgrupper.html">Vill du utvecklas i ditt ledarskap?</a></h2>
                <p class="normal">Då kan chefsgrupper vara något för dig!</p>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_4f2ab11f149b15b72ce40c04">
              <div id="Text7">
                <!-- Text 7 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-svdefaultanchor"><br><a title="" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Blanketter-for-chef.html">På jakt efter blanketter?</a></h2>
                <p class="normal">Blanketter som du tidigare har hittat i HR-rutan finner du här.</p>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f4378d">
              <div id="Rubrik-0">
                <!-- Rubrik -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-svdefaultanchor-0"><br class="SV_LINE_BREAK"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f436ed">
        <div id="Snabbval">
          <!-- Snabbval -->
        </div>
        <div id="h-Snabbval">
          <!-- Snabbval -->
        </div>
        <h2 class="sv-first-child">Snabbval</h2>
      </div>
      <div class="sv-horizontal c7" id="svid10_2b56f4113ec05ff84f436ee">
        <div class="sv-horizontal-column c8" id="svid10_2b56f4113ec05ff84f436ef">
          <div class="more">
            <div class="content-container">
              <div>
                <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f436f0">
                  <div id="Text8">
                    <!-- Text 8 -->
                  </div>
                  <div class="sv-text-portlet-content">
                    <h3 class="" id="h-Attvarachef">Att vara chef</h3>
                    <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Chef/Att-vara-chef/Utveckling-for-dig-som-chef.html">Utveckla dig som chef</a>
                      <br><a title="Mer info om att börja och sluta som chef" href="/Arbetsfalt-verksamheter/Chef/Att-vara-chef/Ny-som-chef.html">Ny som chef</a>
                      <br><a title="" href="/Arbetsfalt-verksamheter/Chef/Kommunikation/Kommunikationsverktyg.html">Kommunikationsverktyg</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sv-horizontal-column c8" id="svid10_2b56f4113ec05ff84f436f5">
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f436f6">
            <div id="Text2">
              <!-- Text 2 -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <div class="sv-text-portlet-content">
                    <h3 class="" id="h-HRpersonalfragor">HR - personalfrågor</h3>
                    <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Arbetstid.html">Arbetstid</a>
                      <br><a title="Sida med blanketter" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Blanketter-for-chef.html">Blanketter</a>
                      <br><a title="" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Lon-loneoversyn--lonesatta.html">Lön, löneöversyn, lönesätta</a>
                      <br><a title="Mer info om kompetens" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Kompetens.html">Kompetens</a>
                      <br><a title="Mer info om att rekrytera och anställa" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Rekrytera--anstalla-.html">Rekrytera &amp; anställa</a>
                      <br><a title="Mer info om policyer och riktlinjer" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Policyer--riktlinjer.html">Policyer &amp; riktlinjer</a>
                      <br><a title="" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Arbetsmiljo-halsa--samverkan/Halsa/Rehabilitering.html">Rehabilitering</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sv-horizontal-column c11" id="svid10_2b56f4113ec05ff84f436fb">
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f436fc">
            <div id="Text2-0">
              <!-- Text 2 -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <div class="sv-text-portlet-content">
                    <h3 class="" id="h-Planerautvarderaverksamheten">Planera &amp; utvärdera verksamheten</h3>
                    <p class="normal"><a title="Mer info om att planera och följa upp verksamheten" href="/Arbetsfalt-verksamheter/Chef/Planera--folja-upp-verksamheten.html">Planera, utveckla &amp; följa upp verksamheten</a>
                      <br><a title="" href="/Arbetsfalt-verksamheter/Chef/Planera--folja-upp-verksamheten/Manatlig-uppfoljning-personalekonomi.html">Månatlig uppföljning - personalekonomi</a>
                      <br><a title="" href="http://komin.malmo.se/4.2b56f4113ec05ff84f29124.html">Jämställdhet &amp; mångfald</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sv-horizontal c37" id="svid10_2b56f4113ec05ff84f43701">
        <div class="sv-horizontal-column c8" id="svid10_2b56f4113ec05ff84f43702">
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f43703">
            <div id="Text2-1">
              <!-- Text 2 -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <div class="sv-text-portlet-content">
                    <h3 class="" id="h-Ekonomiinkop">Ekonomi &amp; inköp</h3>
                    <p class="normal"><em>Här publiceras framöver snabblänkar till ekonomistöd.</em>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sv-horizontal-column c8" id="svid10_2b56f4113ec05ff84f43705">
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f43706">
            <div id="Text2-2">
              <!-- Text 2 -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <div class="sv-text-portlet-content">
                    <h3 class="" id="h-ITstod">IT-stöd</h3>
                    <p class="normal"><em>Här publiceras framöver&nbsp;snabblänkar till IT-stöd.</em>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sv-horizontal-column c11" id="svid10_2b56f4113ec05ff84f4370a">
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f4370b">
            <div id="Text2-3">
              <!-- Text 2 -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <div class="sv-text-portlet-content">
                    <h3 class="" id="h-Ovrigt">Övrigt</h3>
                    <p class="normal"><a title="länk" href="https://webapps09.malmo.se/wiki/HR-system/Chef">HRutan-wikin - för chef</a>
                      <br><a title="Stängningar" href="/Arbetsfalt-verksamheter/Chef/HR-personalfragor/Lon-loneoversyn--lonesatta/Stangning-och-oppning-av-HR-systemet.html">Stängningar i HRutan</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sv-text-portlet sv-use-margins c290" id="svid12_640882571459241e05842f7">
        <div id="Tycktill">
          <!-- Tyck till -->
        </div>
        <div class="sv-text-portlet-content">
          <p class="normal"><strong>Tyck till om chefsfältet! </strong>Arbetsfältet är fortfarande under uppbyggnad. Har du synpunkter och vill tycka till? Mejla till <a title="" href="mailto:kominteamet@malmo.se">kominteamet@malmo.se.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
