---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Ekonomi</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_3964bd3611d8d4a5d1c800039704">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_3964bd3611d8d4a5d1c800039705">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Ekonomi">
            <!-- Ekonomi -->
          </div>
          <h1 class="sv-first-child">Ekonomi</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_1ea1b65412e8055acb2800028467">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800028707">
            <div id="VinjettNyttviktigt">
              <!-- Vinjett Nytt & viktigt -->
            </div>
            <div id="h-Nyttampviktigt">
              <!-- Nytt &amp; viktigt -->
            </div>
            <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
          </div>
          <div id="svid10_1ea1b65412e8055acb2800028706">
            <div class="sv-archive-portlet sv-portlet" id="svid12_1ea1b65412e8055acb2800028708">
              <div id="Nyheter16">
                <!-- Nyheter 1-6 -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/halla-dar-emma-johansson/" title="">Hallå där Emma Johansson …</a></h2>
                  <span class="normal">... projektledare för stadskontorets arbete med Vita jobb-modellen, ett arbete för offentlig upphandling med schyssta sociala villkor och regler mot...</span>
                  <span class="table-head">(15/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/2015-ars-tidplaner/" title="">2015 års tidplaner</a></h2>
                  <span class="normal">2015 års tidplaner för när affärs- och kommunmoms, intrastat och reklamskatt ska lämnas in till stadskontoret finns nu publicerade. Var extra noga med...</span>
                  <span class="table-head">(15/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/regler-for-julgavor/" title="">Skatteregler för julgåvor</a></h2>
                  <span class="normal">Vid inköp av julgåvor till anställda bör du läsa avsnittet som heter Gåvor till anställda, förtroendevalda och uppdragstagare i ekonomihandboken då...</span>
                  <span class="table-head">(15/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/02/koll-hr-laddas-under-fm-212/" title="">Koll HR laddas under fm 2/12</a></h2>
                  <span class="normal">Under förmiddagen idag 2/12 laddas Koll HR med nya uppgifter efter november månads lönekörning.</span>
                  <span class="table-head">(02/12)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/27/bokslutsanvisningar/" title="">Bokslutsanvisningar</a></h2>
                  <span class="normal">Bokslutsanvisningar för årsbokslut 2014 finns nu på Komin. Bokslutsanvisningar för årsbokslut 2014 har publicerats på Komin under arbetsfält ekonomi....</span>
                  <span class="table-head">(27/11)</span>
                  <span class="table-head"><br></span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet c7" id="svid12_799a53121373b9dbfbf8000881">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800028709">
              <div id="Flernyheter">
                <!-- Fler nyheter -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="" href="http://webapps04.malmo.se/nyheter/category/ekonomi-2/">Fler ekonominyheter </a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_1ea1b65412e8055acb2800028469">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="sv-image-portlet sv-portlet c76" id="svid12_2b56f4113ec05ff84f21597">
            <div id="Bild">
              <!-- Bild -->
            </div>
            <a title="" href="http://forbattringstavla.malmo.se/ekonomi/"><img alt="" class="sv-noborder c77" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84f2159c/1394696167981/forbattringshjul.jpg">
            </a>
          </div>
          <div class="sv-image-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f215c9">
            <div id="Bild1">
              <!-- Bild 1 -->
            </div>
            <a title="" href="http://forbattringstavla.malmo.se/ekonomi/"><img alt="" class="sv-noborder c78" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84f215da/1394696168041/namn2.jpg">
            </a>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_799a53121373b9dbfbf800055917">
            <div id="Vinjett">
              <!-- Vinjett -->
            </div>
            <div id="h-Ekonomikalendern">
              <!-- Ekonomikalendern -->
            </div>
            <h2 class="sv-first-child">Ekonomikalendern</h2>
          </div>
          <div class="sv-old-text-portlet" id="svid12_799a53121373b9dbfbf800055918">
            <div id="Text3">
              <!-- Text 3 -->
            </div>
            <p class="normal sv-first-child"><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-December-2013.html">December 2013</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Januari.html">Januari 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Februari.html">Februari 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Mars.html">Mars 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-April.html">April 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Maj.html">Maj 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Juni.html">Juni 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Juli.html">Juli 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Augusti.html">Augusti 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Septemberi.html">September 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Oktober.html">Oktober 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-November.html">November 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-December.html">December 2014</a>
              <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomikalendern-Januari-2015.html">Januari 2015</a>
            </p>
            <p class="normal"><a title="linda.nexing-handman@malmo.se" href="mailto:linda.nexing-handman@malmo.se">Skicka in saker till kalendern &gt;&gt;</a>
            </p>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_799a53121373b9dbfbf800055925">
            <div id="Vinjett-0">
              <!-- Vinjett -->
            </div>
            <div id="h-Ekonomihandboken">
              <!-- Ekonomihandboken -->
            </div>
            <h2 class="sv-first-child">Ekonomihandboken</h2>
          </div>
          <div class="sv-old-text-portlet" id="svid12_519344c0136df710e2180006974">
            <div id="Ekonomihandboken">
              <!-- Ekonomihandboken -->
            </div>
            <div class="more">
              <div class="content-container">
                <div>
                  <p class="normal sv-first-child"><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/1.-Inledning.html">1. Inledning</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/2.-Lagstiftning.html">2. Lagstiftning</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/3.-Ekonomistyrning.html">3. Ekonomistyrning</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/4.-Redovisning.html">4. Redovisning</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/5.-Anlaggningstillgangar.html">5. Anläggningstillgångar</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/6.-Personalkostnader.html">6. Personalkostnader</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/7.-Skatter-och-moms.html">7. Skatter och moms</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/8.-Arsbokslut.html">8. Årsbokslut</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/9.-Delarsrapport.html">9. Delårsrapport</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/10.-Finansverksamhet.html">10. Finansverksamhet</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/11.-Betalnings--och-faktureringsrutiner.html">11. Betalnings- och faktureringsrutiner</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/12.-Kodplan.html">12. Kodplan</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/13.-Attest.html">13. Attest</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/14.-Ekonomisystem.html">14. Ekonomisystem</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/15.-Intern-kontroll.html">15. Intern kontroll</a>
                    <br><a title="" href="/trashcan/larsakeekelund/16upphandling.4.6fa43e2d1215e59a870800043736.html">16. Upphandling</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/17.-Arkiviering.html">17. Arkivering</a>
                    <br><a title="" href="/Arbetsfalt-verksamheter/Ekonomi/Ekonomihandbok/18.-Revision.html">18. Revision</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
