---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Förskola &amp; utbildning</li>
  </ol>
</nav>

<section class="sv-ugly-start" role="main">
  <!-- WARNING: Sitevision ugly code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800011301">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="banner sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000262">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Forskolaamputbildning">
            <!-- Förskola &amp; utbildning -->
          </div>
          <h1 class="sv-first-child">Förskola &amp; utbildning</h1>
        </div>
        <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f3fdc3">
          <div id="Text1">
            <!-- Text 1 -->
          </div>
          <div class="more">
            <div class="content-container">
              <div>
                <p class="normal sv-first-child"><a title="Förskoleförvaltningen" href="/Forvaltningar/Forskoleforvaltningen.html">Förskoleförvaltningen</a>
                  <br><a title="Grundskoleförvaltningen" href="/Forvaltningar/Grundskoleforvaltningen.html">Grundskoleförvaltningen</a>
                  <br><a title="Gymvux" href="/Forvaltningar/Gymnasie--och-vuxenutbildningsforvaltningen.html">Gymnasie- och vuxenutbildningsförvaltningen</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000232">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_213458ee12b66ff3bbd8000257">
            <div id="Text">
              <!-- Text -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Nyttviktigt">Nytt &amp; viktigt</h2>
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_c804a321343c942ccd800087257">
            <div id="Text12">
              <!-- Text 12 -->
            </div>
          </div>
          <div id="svid10_1e842c9412b6803495b8000124338">
            <div class="sv-archive-portlet sv-portlet" id="svid12_799a53121373b9dbfbf8000912">
              <div id="WPnyheterrssflode">
                <!-- WPnyheter rss-flöde -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/PHnybild-150x150.jpg" class="sv-noborder c88">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/25/problem-med-wifi-pa-skolor-undersoks/" title="">Problem med wifi på skolor undersöks</a></h2>
                  <span class="table-text">(25/11)</span>
                  <span class="table-text"><br></span>
                  <span class="normal">IT. Några skolor (främst gymnasieskolor) har problem med...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/10/felanmalan-fastigheter-for-forskolor-och-skolor/" title="">Felanmälan fastigheter för skolor</a></h2>
                  <span class="table-text">(10/11)</span>
                  <span class="table-text"><br></span>
                  <span class="normal">Stadsfastigheters kundcenter kontaktar man för att felanmäla...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/06/kvalitetsarbetet-i-malmos-forskolor-och-skolor-har-gett-resultat/" title="">Kvalitetsarbetet i Malmös förskolor och skolor har gett resultat</a></h2>
                  <span class="table-text">(06/11)</span>
                  <span class="table-text"><br></span>
                  <span class="normal">Skolinspektionen har beslutat att avsluta sin regelbundna...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-spacer c54" id="sv-spacer-svid12_799a53121373b9dbfbf8000912"></div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_799a53121373b9dbfbf800023747">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="" href="https://webapps04.malmo.se/nyheter/category/forskola-utbildning/">Fler nyheter</a>
                  <br><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
                </p>
              </div>
            </div>
          </div>
          <div id="svid10_77ce0d6314612f49de858c9">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_213458ee12b66ff3bbd8000255">
              <div id="Kopia1avText1">
                <!-- Kopia (1) av Text 1 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-SKLbloggFran80till100">SKL-blogg "Från 80 till 100"<br></h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000256">
              <div id="Kopia1avmalmose">
                <!-- Kopia (1) av malmo.se -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c89">
                  <h2 class=""><a href="http://feedproxy.google.com/~r/80-100/~3/J0eMoIv55z0/" rel="external" title="">Rekordhög skoltrivsel</a></h2>
                  <span class="table-text">(11/12)</span>
                  <span class="table-text"><br></span>
                  <span class="normal">Andelen 15-åringar som trivs bra i skolan är historiskt hög...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c89">
                  <h2 class=""><a href="http://feedproxy.google.com/~r/80-100/~3/DxE42Oif-q4/" rel="external" title="">Inkludering – en väg mot en skola för alla?</a></h2>
                  <span class="table-text">(10/12)</span>
                  <span class="table-text"><br></span>
                  <span class="normal">Idag lämnade nätverket Barn i Behov en rapport till...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="http://feedproxy.google.com/~r/80-100/~3/WUbXMSrtJDY/" rel="external" title="">Riksrevisionen dömer ut riktade statsbidrag</a></h2>
                  <span class="table-text">(09/12)</span>
                  <span class="table-text"><br></span>
                  <span class="normal">Pengarna når inte de skolor som bäst behöver dem. Det visar...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_77ce0d6314612f49de858d6">
              <div id="Laggtillegennyhet-0">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="" href="http://80-100.sklblogg.se/" rel="external">Tidigare inlägg</a>
                </p>
              </div>
            </div>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000254">
            <div id="malmose">
              <!-- malmo.se -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000234">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_133a341454608d0f65105">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_133a341454608d0f65106">
              <div id="Text-0">
                <!-- Text -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Erbjudandenutbildningar">Erbjudanden, utbildningar<br> &amp; konferenser riktade till <br>skolor/förskolor</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet c80" id="svid12_133a341454608d0f65107">
              <div id="RSSfranKominnyheter">
                <!-- RSS från Kominnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/02/nu-ordnar-vi-innovationstavling-for-framtidens-hallbara-skolgardar/" title="">Nu ordnar vi en innovationstävling för framtidens hållbara skolgårdar!</a></h2>
                  <span class="normal">Vi letar efter de bästa idéerna för Malmös skolgårdar. Hjälp...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/24/forestallning-med-teater-teamus-for-arskurs-4-6/" title="">Föreställning med Teater Teamus för årskurs 4–6</a></h2>
                  <span class="normal">Skådespelarna på Teater Teamus har satt samman en show med...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/18/inbjudan-till-seminarium-om-antisemitism-antiziganism-och-afrofobi/" title="">Inbjudan till seminarium om antisemitism, antiziganism och afrofobi</a></h2>
                  <span class="normal">Välkommen till ett seminarium om antisemitism, antiziganism...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_133a341454608d0f65108">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="" href="https://webapps04.malmo.se/nyheter/category/erbjudanden-utbildningar-konferenser/">Fler erbjudanden</a>
                </p>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins c311" id="svid12_133a341454608d0f6510a">
              <div id="Laggtillegennyhet-1">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
