---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Integration &amp; arbetsmarknad</li>
  </ol>
</nav>

<section class="sv-ugly-start" role="main">
  <!-- WARNING: Sitevision ugly code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_177863fd103b89ea69e800010664">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000330">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Integrationamparbetsmarknad">
            <!-- Integration &amp; arbetsmarknad -->
          </div>
          <h1 class="sv-first-child">Integration &amp; arbetsmarknad</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000301">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_213458ee12b66ff3bbd8000322">
            <div id="Text">
              <!-- Text -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Nyttviktigt">Nytt &amp; viktigt</h2>
            </div>
          </div>
          <div id="svid10_799a53121373b9dbfbf80001233">
            <div class="sv-archive-portlet sv-portlet" id="svid12_799a53121373b9dbfbf80001235">
              <div id="Nyheter">
                <!-- Nyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/08/ny-satsning-for-internationella-kvinnor/" title="">Ny satsning för internationella kvinnor</a></h2>
                  <span class="normal">I startgroparna står en Finsamsatsning som ska samla krafter runt...</span>
                  <span class="normal"><br></span>
                  <span class="table-text">(08/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/04/unesco-lucs-ett-nytt-satt-for-malmo-mot-social-jamlikhet-och-sammanhallning/" title="">Unesco LUCS – ett nytt sätt för Malmö mot social jämlikhet och sammanhållning</a></h2>
                  <span class="normal">En del i Malmö stads arbete mot en stad fri från diskriminering är att...</span>
                  <span class="normal"><br></span>
                  <span class="table-text">(04/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/27/ks-sa-har-anvandes-utvecklingspengarna-for-att-forbattra-jamstalldheten-i-malmo-stad/" title="">Så här användes utvecklingspengarna för att förbättra jämställdheten i Malmö stad</a></h2>
                  <span class="normal">KS: Som en del i att utveckla Malmö stad till att bli en mer jämställd...</span>
                  <span class="normal"><br></span>
                  <span class="table-text">(27/11)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-spacer c54" id="sv-spacer-svid12_799a53121373b9dbfbf80001235"></div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_799a53121373b9dbfbf80001239">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal"><a title="Lägg till egen nyhet" href="https://webapps04.malmo.se/nyheter/wp-login.php?redirect_to=http%3A%2F%2Fwebapps04.malmo.se%2Fnyheter%2Fwp-admin%2Fpost-new.php&amp;reauth=1">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="/4.e089754132b8b7af8f800061733.html">Hjälp</a>
                </p>
              </div>
            </div>
            <div class="sv-spacer c54" id="sv-spacer-svid12_799a53121373b9dbfbf80001239"></div>
            <div class="sv-decoration-Vinjett banner sv-text-portlet sv-use-margins" id="svid12_213458ee12b66ff3bbd8000323">
              <div id="Text8">
                <!-- Text 8 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Dokument">Dokument</h2>
                <p class="normal"><a title=" (pdf, 323.5 kB)" href="/download/18.640882571459241e0586478/1399376209389/M%C3%A5l+och+budget+2014+.pdf">Mål och budget 2014<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal"><a title=" (pdf, 110.7 kB)" href="/download/18.243c7059145db1c39f14217/1400152843256/M%C3%A5l+och+budget+2014-reviderad+30+april+2014.pdf">Mål och budget 2014-reviderad 30 april<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal">Rapport: hur ska arbetet med unga arbetslösa bli långsiktigt - <a title="Ung rapport sv (pdf, 1.5 MB)" href="/download/18.70d527a613a77b20a013a1c/1394696452700/Ung_rapport_enkel.pdf">Svensk version<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>                - <a title="Ung rapport eng (pdf, 1.5 MB)" href="/download/18.70d527a613a77b20a013a1e/1394696452800/Ung_rapport_MAH_eng.pdf">Engelsk version<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal"><a title="Strategisk överenskommelse (pdf, 132.8 kB)" href="/download/18.10a7ad401398b02c8a4800038567/1394696451811/Strategisk+%C3%B6verenskommelse+2012-2013.pdf">Strategisk överenskommelse lokal samverkan arbetsmarknadsinsatser 2012-2013<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal"><a title="Lathund nationella minoriteter (pdf, 268.1 kB)" href="/download/18.c804a321343c942ccd800051477/1394696450248/Lathund+h%C3%A4fte.pdf">Lathund om kommunens skyldigheter enligt lagen om de nationella minoriteterna och minoritetsspråken<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                  <br>&nbsp;&nbsp;&nbsp;
                  <br><a title="Rapport_Nyanländas etablering 2011 (pdf, 409 kB)" href="/download/18.c804a321343c942ccd800078125/1394696452902/%C3%85terrapport+Nyanl%C3%A4ndas+etablering+reformens+f%C3%B6rsta+%C3%A5r.pdf">Nyanländas etablering 2011-rapport<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal"><a title="Handlingsplan och budget 2012 (pdf, 6.5 MB)" href="/download/18.c804a321343c942ccd800067736/1394696450768/M%C3%A5l+och+budget+2012+presentationskatalog.pdf">Handlingsplan och budget 2012<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal"><a title="SFI-utvärdering 2011 (pdf, 507.7 kB)" href="/download/18.c804a321343c942ccd800070743/1394696451772/SFI_utvardering2011.pdf">SFI-utvärdering<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
                <p class="normal"><a title="Samhällsorientering (pdf, 2.9 MB)" href="/download/18.1e842c9412b6803495b800028939/1394696451608/Samh%C3%A4llsorientering.pdf" rel="external">Samhällsorientering ny förordning, förordningsmotiv samt promemoria<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000303">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_1ea1b65412e8055acb2800021826">
            <div class="discuss-box">
              <div class="sv-old-text-portlet">
                <div id="header">
                  <!-- header -->
                </div>
                <div id="h-Diskutera">
                  <!-- Diskutera -->
                </div>
                <h2 class="sv-first-child">Diskutera</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss">
                    <!-- discuss -->
                  </div><img alt="Diskutera" class="sv-noborder c5" src="https://komin.malmo.se/images/18.1d8b012512b3897f473800036180/1394693745396/discuss.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800021827">
                    <div id="Forumpuff">
                      <!-- Forumpuff -->
                    </div>
                    <p class="introduction sv-first-child"><a title="Till forumet för Integration &amp; arbetsmarknad" href="https://webapps04.malmo.se/forum/forum/240-integration-arbetsmarknad/">Gå till forumet för Integration &amp; arbetsmarknad</a>
                    </p>
                  </div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800021829">
                    <div id="Text6">
                      <!-- Text 6 -->
                    </div>
                    <div id="h-Senasteforuminlaggen">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <h3 class="sv-first-child">Senaste foruminläggen</h3>
                  </div>
                  <div class="sv-archive-portlet sv-portlet c89" id="svid12_1ea1b65412e8055acb2800021830">
                    <div id="RSSBloggarna">
                      <!-- RSS Bloggarna -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c106">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/1003-fn-dagen-mot-rasism-filmat-av-ur/" title="">FN-dagen mot rasism, filmat av UR</a>
                        <span class="table-head">(03/05)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c106">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/897-lattare-hitta-telenummer/" title="">lättare hitta telenummer</a>
                        <span class="table-head">(03/03)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/869-insatskatalog-inom-omradet-arbetsmarknadsinsatser/" title="">Insatskatalog inom området arbetsmarknadsinsatser</a>
                        <span class="table-head">(18/02)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_1e842c9412b6803495b800063445">
            <div id="Text-0">
              <!-- Text -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Aktuellt">Aktuellt</h2>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_10a7ad401398b02c8a4800016093">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><a title="om utbildningen (pdf, 70 kB)" href="/download/18.2b56f4113ec05ff84f47fab/1394696450969/Om+utbildningen.pdf"><strong>Diskriminering i arbetslivet</strong><img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>              - En juridisk utbildningsserie för Malmö stads chefer med normkritiskt perspektiv</p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
