---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Kommunikationsarbete</li>
  </ol>
</nav>

<section class="sv-ugly-start" role="main">
  <!-- WARNING: Sitevision ugly code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_2ec2683b119e185b0f0800065494">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="banner sv-old-text-portlet" id="svid12_2ec2683b119e185b0f08000139659">
          <div id="Text">
            <!-- Text -->
          </div>
          <div id="h-NaringslivsarbeteinomMalmostad">
            <!-- Näringslivsarbete inom Malmö stad  -->
          </div>
          <h1 class="sv-first-child">Näringslivsarbete inom Malmö stad </h1>
        </div>
        <div class="sv-image-portlet sv-portlet" id="svid12_2ec2683b119e185b0f0800079616">
          <div id="Bild">
            <!-- Bild -->
          </div><img alt="FrontDesk" class="sv-noborder c1405" src="https://komin.malmo.se/images/200.174570d6144ba8949dfcf7/1394705133231/start-v-hamn.gif">
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_799a53121373b9dbfbf80001282">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="sv-image-portlet sv-portlet c1406" id="svid12_39440b8f13b039503ec375">
            <div id="Bild1">
              <!-- Bild 1 -->
            </div>
            <a title="" href="http://www.malmobusiness.com"><img alt="" class="sv-noborder c1407" src="https://komin.malmo.se/images/18.39440b8f13b039503ec378/1394696550596/Ordet-malmo-2011-malmobusiness-110-bred.jpg">
            </a>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_39440b8f13b039503ec373">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal">Malmö stads officiella näringslivssajt är:</p>
            </div>
          </div>
          <div class="sv-image-portlet sv-portlet" id="svid12_9407c27148297c2b8f96c76">
            <div id="Bild2">
              <!-- Bild 2 -->
            </div><img alt="" class="sv-noborder c1408" src="https://komin.malmo.se/images/18.9407c27148297c2b8f96c86/1409909722038/malmolaget2013_bladdra%282%29.jpg">
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_9407c27148297c2b8f96c73">
            <div id="Text4">
              <!-- Text 4 -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal"><a title=" (pdf, 4.5 MB)" href="/download/18.9407c27148297c2b8f96c75/1409909667017/malmolaget_140828_low.pdf">Ladda ner Malmöläget 2014<img alt="PDF" title="PDF" src="https://komin.malmo.se/sitevision/util/images/mime/pdf.png" class="sv-linkicon"></a>
              </p>
            </div>
          </div>
          <div class="sv-text-portlet sv-use-margins c59" id="svid12_2ec2683b119e185b0f08000139517">
            <div id="Text3">
              <!-- Text 3 -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Naringslivskontoret"><a title="" href="/Forvaltningar/Stadskontoret/Organisation/Naringslivsavdelningen/Verksamhetside--verksamhetsplan/Naringslivskontorets-uppdrag.html">Näringslivskontoret</a></h2>
              <p class="normal">I kommunen har näringslivsavdelningen på stadskontoret ett särskilt uppdrag. Externt kallas avdelningen Näringslivskontoret.</p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_799a53121373b9dbfbf80001284">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_799a53121373b9dbfbf80001288">
            <div class="banner sv-old-text-portlet" id="svid12_799a53121373b9dbfbf80001289">
              <div id="VinjettNyttviktigt">
                <!-- Vinjett Nytt & viktigt -->
              </div>
              <div id="h-Nyttampviktigt">
                <!-- Nytt &amp; viktigt -->
              </div>
              <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_799a53121373b9dbfbf80001291">
              <div id="Nyhetsflode">
                <!-- Nyhetsflöde -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/08/halla-dar-ann-korling/" title="">Hallå där Ann Körling …</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/Ann-150x150.jpg" class="sv-noborder c156">
                  <span class="normal">... kultursekreterare och filmutvecklare på Kulturförvaltningens Kulturstödsenhet, som...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/01/det-har-ar-var-stad-malmo-laget/" title="">Det här är vår stad – Malmöläget</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/malmöläget-150x150.jpg" class="sv-noborder c156">
                  <span class="normal">MalmöLäget är en årlig rapport med sammanställning av fakta, statistik och kortanalyser...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/10/24/tyskar-gar-om-danskar-som-vanligaste-besokare-till-malmo/" title="">Tyskar går om danskar som vanligaste besökare till Malmö</a></h2>
                  <span class="normal">Den som vandrat längs gågatan under Malmöfestivalen och tyckt sig höra lika många tyska...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_799a53121373b9dbfbf80001293">
              <div id="Aldrenyheter">
                <!-- Äldre nyheter -->
              </div>
              <p class="introduction sv-text-align-right sv-first-child"><a title="Äldre nyheter" href="http://webapps04.malmo.se/nyheter/category/naringslivforetagare/">Fler nyheter</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
