---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Kommunikationsarbete</li>
  </ol>
</nav>

<section class="sv-ugly-start" role="main">
  <!-- WARNING: Sitevision ugly code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f2394d">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-image-portlet sv-portlet c2" id="svid12_2b56f4113ec05ff84f2b0ea">
          <div id="Bild">
            <!-- Bild -->
          </div><img alt="Foto: Thomaz Lundstedt" class="sv-noborder c188" src="https://komin.malmo.se/images/18.2b56f4113ec05ff84f2b0ec/1394693744145/banner_stadsutv_thomazlundstedt.jpg">
        </div>
        <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f2394e">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Stadsutveckling">
            <!-- Stadsutveckling -->
          </div>
          <h1 class="sv-first-child">Stadsutveckling</h1>
        </div>
        <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f2703d">
          <div id="Text">
            <!-- Text -->
          </div>
          <p class="introduction sv-first-child">På dessa sidor hittar du information, verktyg och system för dig som jobbar med stadsutveckling i Malmö. Sidorna är under uppbyggnad. </p>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f23962">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_2b56f4113ec05ff84f23963">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f23964">
              <div id="VinjettNyttviktigtforanstallda">
                <!-- Vinjett Nytt & viktigt för anställda -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Nyttviktigt">Nytt &amp; viktigt</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f23966">
              <div id="KOmmunikationsarbetefranWPnyheter">
                <!-- KOmmunikationsarbete från WPnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/04/malmos-trafik-och-mobilitetsplan-ar-ute-pa-bred-remiss-internt-och-externt/" title="">Malmös Trafik- och mobilitetsplan är ute på bred remiss internt och externt</a></h2>
                  <span class="normal">Förslag till Malmös första Trafik- och mobilitetsplan (TROMP) är nu framtagen. Planen har,...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/02/nu-ordnar-vi-innovationstavling-for-framtidens-hallbara-skolgardar/" title="">Nu ordnar vi en innovationstävling för framtidens hållbara skolgårdar!</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/banner2-150x150.jpg" class="sv-noborder c160">
                  <span class="normal">Vi letar efter de bästa idéerna för Malmös skolgårdar. Hjälp oss få in fler förslag genom...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/28/planeringen-fortsatter-i-tornrosen-och-del-av-ortagarden-i-rosengard/" title="">Planeringen fortsätter i Törnrosen och del av Örtagården i Rosengård</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/Vad-tycker-du_CC-150x150.jpg" class="sv-noborder c160">
                  <span class="normal">Törnrosen och Örtagården står inför stora förändringar i framtiden. Här planeras det för...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/10/09/inspirationsmaterial-om-brukarsamverkan/" title="">Inspirationsmaterial om brukarsamverkan</a></h2>
                  <span class="normal">Inom Urban Transisition Öresund har man erfarenhet av brukarsamverkan i samband med...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/09/23/reportage-om-hallbara-malmo-pa-cnn/" title="">Reportage om hållbara Malmö på CNN</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/09/CNN-150x150.jpeg" class="sv-noborder c160">
                  <span class="normal">CNN International sände under september ett reportage om och från Malmö. Temat var ”Future...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet c4" id="svid12_2b56f4113ec05ff84f23968">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="" href="https://webapps04.malmo.se/nyheter/category/stadsutveckling-2/">Fler nyheter</a>
                <br><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="/4.e089754132b8b7af8f800061733.html">Hjälp</a>
              </p>
            </div>
          </div>
          <div id="svid10_2b56f4113ec05ff84f4497a">
            <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f4497b">
              <div id="VinjettNyttviktigtforanstallda-0">
                <!-- Vinjett Nytt & viktigt för anställda -->
              </div>
              <div id="h-Spaningar">
                <!-- Spaningar -->
              </div>
              <h2 class="sv-first-child">Spaningar</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f4497c">
              <div id="KOmmunikationsarbetefranWPnyheter-0">
                <!-- KOmmunikationsarbete från WPnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/04/stadsrum-i-kopenhamn-som-ska-sta-emot-skyfall/" title="">Stadsrum i Köpenhamn som ska stå emot skyfall</a></h2>
                  <span class="normal">Tåsinge Plads är den första stadsmiljön i Köpenhamn som klimatanpassats och bl a ska kunna...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/28/kristianstad-arets-landsbygdskommun/" title="">Kristianstad årets landsbygdskommun</a></h2>
                  <span class="normal">Årets landsbygdskommun heter Kristianstad. Utmärkelsen delas ut av riksorganisationen Hela...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/28/grenoble-blir-reklamfritt/" title="">Grenoble blir reklamfritt</a></h2>
                  <span class="normal">Grenoble förbjuder reklam i det offentliga rummet. Det blir första europeiska staden som...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet c4" id="svid12_2b56f4113ec05ff84f4497e">
              <div id="Laggtillegennyhet-0">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="" href="https://webapps04.malmo.se/nyheter/category/stadsutveckling-2/">Fler nyheter</a>
                <br><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="/4.e089754132b8b7af8f800061733.html">Hjälp</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f23973">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_2b56f4113ec05ff84f23974">
            <div class="banner sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f23975">
              <div id="Tankarideer">
                <!-- Tankar & idéer -->
              </div>
              <div id="h-Tankarampideer">
                <!-- Tankar &amp; idéer -->
              </div>
              <h2 class="sv-first-child">Tankar &amp; idéer</h2>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f23977">
              <div id="RSSfranbloggarKommunikationsarbetekategorin">
                <!-- RSS från bloggar, Kommunikationsarbete-kategorin -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/12/01/vision-innovation/" title="">Vision – innovation</a></h2>
                  <a href="https://webapps04.malmo.se/blogg/2014/12/01/vision-innovation/" title="">
                    <img alt="" src="https://webapps06.malmo.se/avatars/sadalt/small_quadrat.jpg" class="sv-noborder c244">
                  </a>
                  <span class="normal">- ledord som kan bidra till att historian och nuet faller i glömska.<br>
  När vi ska...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/10/28/mobilitetsforum-i-venedig/" title="">Mobilitetsforum i Venedig</a></h2>
                  <a href="https://webapps04.malmo.se/blogg/2014/10/28/mobilitetsforum-i-venedig/" title="">
                    <img alt="" src="https://webapps06.malmo.se/avatars/chrres/small_quadrat.jpg" class="sv-noborder c244">
                  </a>
                  <span class="normal">Gatukontoret (Christian Resebo, Maria Brodde, Anders Nilsson) deltog i konferens...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/10/01/organisationens-formaga-eller-oformaga-att-ta-tillvara/" title="">Organisationens förmåga eller oförmåga att ta tillvara….</a></h2>
                  <a href="https://webapps04.malmo.se/blogg/2014/10/01/organisationens-formaga-eller-oformaga-att-ta-tillvara/" title="">
                    <img alt="" src="https://webapps06.malmo.se/avatars/sadalt/small_quadrat.jpg" class="sv-noborder c244">
                  </a>
                  <span class="normal">De tankar som Sabina D för fram i bloggen nedan vill jag utvidga till att...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet c7" id="svid12_2b56f4113ec05ff84f23979">
              <div id="Text4">
                <!-- Text 4 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler tankar &amp; idéer" href="https://webapps04.malmo.se/blogg/category/stadsutveckling/">Fler tankar &amp; idéer</a>
                <br><a title="Bidra med en egen tanke" href="http://webapps04.malmo.se/blogg/borja-blogga-sjalv/">Bidra med en egen tanke</a>
              </p>
            </div>
          </div>
          <div id="svid10_7423a812144d9e393c2286a">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_7423a812144d9e393c2286b">
              <div id="VinjettNyttviktigtforanstallda-1">
                <!-- Vinjett Nytt & viktigt för anställda -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-SeminarierForelasningar">Seminarier &amp; Föreläsningar</h2>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_7423a812144d9e393c2286c">
              <div id="KOmmunikationsarbetefranWPnyheter-1">
                <!-- KOmmunikationsarbete från WPnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/09/19/k2-utblick-tema-exjobb-15-okt/" title="">K2 Utblick: Tema Exjobb 15 okt</a></h2>
                  <span class="normal">Den 15 oktober anordnar K2 ett seminarium där en yngre generation inom...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/09/10/snacka-med-macka-31-oktober-resvaneundersokning/" title="">Snacka med macka 31 oktober: Resvaneundersökning</a></h2>
                  <span class="normal">Boka redan nu lunchen den 31 oktober för ett Snacka med macka-föredrag om...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/09/01/konferens-om-gransoverskridande-samarbeten-for-hallbar-stadsutveckling-30-september/" title="">Få platser kvar: Konferens om gränsöverskridande samarbeten för hållbar stadsutveckling 30 september</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/08/Bron-150x150.jpg" class="sv-noborder c160">
                  <span class="normal">Den 30 september bjuder Urban Transition Forum in till en dag med fokus på dialog och ökat...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-text-portlet sv-use-margins c4" id="svid12_7423a812144d9e393c2286d">
              <div id="Laggtillegennyhet-1">
                <!-- Lägg till egen nyhet -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal sv-text-align-right"><a title="" href="https://webapps04.malmo.se/nyheter/category/stadsutv-forelasningar-seminarier/">Fler seminarier &amp; föreläsningar</a>
                  <br><a title="Lägg till egen nyhet" href="http://komin.malmo.se/nynyhet">Lägg till en egen nyhet</a> | <a title="Nyhetshjälp" href="/4.e089754132b8b7af8f800061733.html">Hjälp</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
