---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Kommunikationsarbete</li>
  </ol>
</nav>

<section class="sv-ugly-start" role="main">
  <!-- WARNING: Sitevision ugly code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_365accf7116191cc840800018197">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000374">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Vardampomsorg">
            <!-- Vård &amp; omsorg -->
          </div>
          <h1 class="sv-first-child">Vård &amp; omsorg</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000335">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_c804a321343c942ccd800033145">
            <div class="banner sv-text-portlet sv-use-margins" id="svid12_c804a321343c942ccd800033142">
              <div id="Text3">
                <!-- Text 3 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-LifecareProcapita">Lifecare-Procapita</h2>
              </div>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_c804a321343c942ccd800077359">
              <div id="Text6">
                <!-- Text 6 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="normal">Lifecare-Procapita införs 1 januari 2015. Det är vård och omsorgs nya verksamhets­system.
                  <br><a title="" href="/Arbetsfalt-verksamheter/Vard--omsorg/Handbocker-lagar--arbetsstod/IT-stod-och--system/Lifecare-Procapita.html">Här hittar du mer information om införandet samt om utbildningar.&gt;&gt;</a>
                </p>
              </div>
            </div>
            <div class="sv-decoration-Vinjett banner sv-text-portlet sv-use-margins" id="svid12_1239b188146b34d7d1b5bf9">
              <div id="Text9">
                <!-- Text 9 -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-ICFBIC">ICF/BIC</h2>
                <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Vard--omsorg/Aktuellt--erfarenhetsutbyte/Aktuella-projekt/BIC-ICF.html">Läs mer om införandet av ICF/BIC, en ny bistånds-handläggningsmodell.&gt;&gt;</a>
                </p>
              </div>
            </div>
            <div class="sv-decoration-Vinjett banner sv-text-portlet sv-use-margins" id="svid12_63d6265f14986762ccee5028">
              <div id="avgifteroservice">
                <!-- avgifter o service -->
              </div>
              <div class="sv-text-portlet-content">
                <h2 class="" id="h-Nyaavgifterregler">Nya avgifter &amp; regler</h2>
                <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Vard--omsorg/Handbocker-lagar--arbetsstod/Rutiner-och-handbocker/Rutiner-beslut-socialtjanst--LSS/Serviceinsatser-i-tid.html"> - Serviceinsatser omvandad i tid</a>
                </p>
                <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Vard--omsorg/Handbocker-lagar--arbetsstod/Avgifter-och-tillampningsanvisningar.html">- Nya avgifter 2015</a>
                </p>
              </div>
            </div>
          </div>
          <div id="svid10_1e842c9412b6803495b8000124882">
            <div class="banner sv-old-text-portlet" id="svid12_1e842c9412b6803495b8000124883">
              <div id="Text">
                <!-- Text -->
              </div>
              <div id="h-Nyttampviktigt">
                <!-- Nytt &amp; viktigt -->
              </div>
              <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
            </div>
            <div class="sv-spacer c54" id="sv-spacer-svid12_1e842c9412b6803495b8000124883"></div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_1e842c9412b6803495b8000124886">
              <div id="Nyhetsflode">
                <!-- Nyhetsflöde -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/15/larmcentralen-deltar-i-motesplats-valfardteknologi-e-halsa-2015/" title="">LarmCentralen deltar i Mötesplats Välfärdteknologi &amp; e-hälsa 2015</a></h2>
                  <span class="table-text">(15/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/ministerbesok-i-vard-och-omsorg/" title="">Ministerbesök i vård och omsorg</a></h2>
                  <span class="table-text">(12/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/nu-kan-sektionschefer-logga-in-i-lifecare-utforare/" title="">Nu kan sektionschefer logga in i Lifecare utförare</a></h2>
                  <span class="table-text">(09/12)</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-spacer c54" id="sv-spacer-svid12_1e842c9412b6803495b8000124886"></div>
            <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b8000124889">
              <div id="Text5">
                <!-- Text 5 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler nyheter" href="http://webapps04.malmo.se/nyheter/category/vard-omsorg/">Fler nyheter</a>
              </p>
            </div>
            <div class="sv-spacer c54" id="sv-spacer-svid12_1e842c9412b6803495b8000124889"></div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f26931">
              <div id="Laggtillnyhet">
                <!-- Lägg till nyhet -->
              </div>
            </div>
          </div>
          <div id="svid10_56b0f46b12e1fd8c6458000559">
            <div class="discuss-box">
              <div class="sv-old-text-portlet">
                <div id="header">
                  <!-- header -->
                </div>
                <div id="h-Diskutera">
                  <!-- Diskutera -->
                </div>
                <h2 class="sv-first-child">Diskutera</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss">
                    <!-- discuss -->
                  </div><img alt="Diskutera" class="sv-noborder c5" src="https://komin.malmo.se/images/18.1d8b012512b3897f473800036180/1394693745396/discuss.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000358">
                    <div id="Forumpuff">
                      <!-- Forumpuff -->
                    </div>
                    <p class="introduction sv-first-child"><a title="Länk till diskussionsforumet för Vård &amp; omsorg" href="https://webapps04.malmo.se/forum/forum/17-vard-omsorg/">Gå till diskussions- forumet för Vård &amp; omsorg</a>
                    </p>
                  </div>
                  <div class="sv-old-text-portlet" id="svid12_1ea1b65412e8055acb2800045">
                    <div id="Senasteforuminlaggen">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <div id="h-Senasteforuminlaggen">
                      <!-- Senaste foruminläggen -->
                    </div>
                    <h3 class="sv-first-child">Senaste foruminläggen</h3>
                  </div>
                  <div class="sv-archive-portlet sv-portlet" id="svid12_1ea1b65412e8055acb2800046">
                    <div id="RSSfranVoOforumet">
                      <!-- RSS från VoO-forumet -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/2212-icf-forelasning-var-1617-okt/" title="">ICF föreläsning Var ? 16+17 okt</a>
                        <span class="table-text">(14/10)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/1990-shemamall-sokes/" title="">Shemamall sökes</a>
                        <span class="table-text">(26/11)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/1955-orderguide-sangar/" title="">orderguide sängar</a>
                        <span class="table-text">(30/10)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="normal" href="https://webapps04.malmo.se/forum/topic/1794-bio-med-rullstol/" title="">Bio med rullstol</a>
                        <span class="table-text">(04/03)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="svid10_e089754132b8b7af8f800015454">
            <div class="blog-box">
              <div class="sv-old-text-portlet">
                <div id="header-0">
                  <!-- header -->
                </div>
                <div id="h-Blogg">
                  <!-- Blogg -->
                </div>
                <h2 class="sv-first-child">Blogg</h2>
              </div>
              <div class="x1">
                <div class="sv-image-portlet sv-portlet">
                  <div id="discuss-0">
                    <!-- discuss -->
                  </div><img alt="Blogg" class="sv-noborder c5" src="https://komin.malmo.se/images/18.56b0f46b12e1fd8c6458000562/1394693745382/blog.jpg">
                </div>
                <div>
                  <div class="sv-old-text-portlet" id="svid12_e089754132b8b7af8f800015457">
                    <div id="Senasteinlaggen">
                      <!-- Senaste inläggen -->
                    </div>
                    <div id="h-Senasteinlaggen">
                      <!-- Senaste inläggen -->
                    </div>
                    <h3 class="sv-first-child">Senaste inläggen</h3>
                  </div>
                  <div class="sv-archive-portlet sv-portlet" id="svid12_e089754132b8b7af8f800015458">
                    <div id="BloggflodeVoO">
                      <!-- Bloggflöde VoO -->
                    </div>
                    <ul class="sv-channel sv-defaultlist ">
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/04/11/hundhuset-2/" title="">Hundhuset</a>
                        <span class="table-text">(11/04)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item c84">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/03/07/vem-gor-vad-vad-gor-du-gastblogg-av-mimmi-olsson/" title="">Vem gör vad? Vad gör du? – gästblogg av Mimmi Olsson</a>
                        <span class="table-text">(07/03)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                      <li class="sv-channel-item">
                        <a class="normal" href="https://webapps04.malmo.se/blogg/2014/02/17/hur-har-det-gatt-med-projektet-arbetsrehabilitering-och-sysselsattning/" title="">Hur har det gått med projektet arbetsrehabilitering och sysselsättning?</a>
                        <span class="table-text">(17/02)</span>
                        <div class="sv-clear-both"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_213458ee12b66ff3bbd8000337">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div id="svid10_1e842c9412b6803495b8000138550">
            <div class="banner sv-old-text-portlet" id="svid12_1e842c9412b6803495b8000138549">
              <div id="Text7">
                <!-- Text 7 -->
              </div>
              <div id="h-Rutinerochhandbocker">
                <!-- Rutiner och handböcker -->
              </div>
              <h2 class="sv-first-child">Rutiner och handböcker</h2>
            </div>
            <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b8000138553">
              <div id="Text8">
                <!-- Text 8 -->
              </div>
              <p class="table-text sv-first-child"><a title="Riktlinjer, rutiner och handböcker" href="/Arbetsfalt-verksamheter/Vard--omsorg/Handbocker-lagar--arbetsstod/Rutiner-och-handbocker.html">Rutiner, handböcker, utbildningsmaterial och kvalitetssystem</a>
              </p>
              <p class="table-text"><a title="Hälso- och sjukvårdsrutiner på malmo.se" href="http://malmo.se/hslrutiner" rel="external">Hälso- och sjukvårdsrutiner: www.malmo.se/hslrutiner</a>
              </p>
              <p class="table-text"><a title="" href="http://www.malmo.se/skyddsochbegransningsatgarder">Skydds- och begränsningsåtgärder: malmo.se/skyddsochbegransningsatgarder</a>
              </p>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_e089754132b8b7af8f800077017">
              <div id="Text10">
                <!-- Text 10 -->
              </div>
            </div>
          </div>
          <div class="banner" id="svid10_e089754132b8b7af8f800082058">
            <div class="sv-old-text-portlet" id="svid12_e089754132b8b7af8f800082061">
              <div id="rubrik">
                <!-- rubrik -->
              </div>
              <div id="h-FoUutvarderingar">
                <!-- FoU utvärderingar -->
              </div>
              <h2 class="sv-first-child">FoU utvärderingar</h2>
            </div>
            <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000360">
              <div id="FoUMalmo">
                <!-- FoU Malmö -->
              </div>
              <p class="table-text sv-first-child"><a title="Publikationer från FoU Malmö" href="http://www.malmo.se/Kommun--politik/Sa-arbetar-vi-med.../Forskning-och-utveckling/Publicerat/FoU-dokument.html">Förstärkt hemtjänst – en utvärdering av projektet med fokus på brukare och personal</a>
              </p>
            </div>
            <div class="sv-image-portlet sv-portlet c185" id="svid12_2db64e3612fc543dfd1800040620">
              <div id="Bild">
                <!-- Bild -->
              </div>
              <a title="Tidningen Spaning" href="http://www.malmo.se/spaning" rel="external"><img alt="Omslag på Spaning" class="sv-noborder c186" src="https://komin.malmo.se/images/18.133a341454608d0f67bfc/1398164875152/omsl_1_2014.jpg">
              </a>
            </div>
            <div class="sv-old-text-portlet" id="svid12_efc29e313b1e6d779e4ddc">
              <div id="Kopia1avrubrik">
                <!-- Kopia (1) av rubrik -->
              </div>
              <p class="introduction sv-first-child">Här kan du läsa senaste numret av Spaning.
                <br><span class="normal"><em>Klicka på bilden</em></span>
              </p>
            </div>
          </div>
          <div class="sv-html-portlet sv-portlet" id="svid12_10a7ad401398b02c8a4800029513">
            <div id="HTML-0">
              <!-- HTML -->
            </div>
            <div id="bc-teaser" data-playlist-id="1168311956001" data-video-player-url="http://komin.malmo.se/webbvideo" data-number-of-items="3">
              <h2>Webbvideo</h2>
              <ul>
                <li class="item-1">
                  <a href="http://video.malmo.se?bctid=3898910309001">
                    <div class="crop"><img src="http://brightcove.vo.llnwd.net/v1/unsecured/media/745456160001/201411/3754/745456160001_3899009800001_Per-200.jpg?pubId=745456160001">
                    </div>
                    <h3>Ändrade avgifter för vård och omsorg</h3>
                    <div class="play"></div>
                  </a>
                </li>
                <li class="item-2">
                  <a href="http://video.malmo.se?bctid=3898929790001">
                    <div class="crop"><img src="http://brightcove.vo.llnwd.net/v1/unsecured/media/745456160001/201411/3626/745456160001_3899026324001_Bertil-200.jpg?pubId=745456160001">
                    </div>
                    <h3>Flexiblare vardag för brukare</h3>
                    <div class="play"></div>
                  </a>
                </li>
                <li class="item-3">
                  <a href="http://video.malmo.se?bctid=3848470106001">
                    <div class="crop"><img src="http://brightcove.vo.llnwd.net/v1/unsecured/media/745456160001/201410/2559/745456160001_3850461132001_H-gskola-200.jpg?pubId=745456160001">
                    </div>
                    <h3>Vad gör du efter gymnasiet?</h3>
                    <div class="play"></div>
                  </a>
                </li>
                <li class="more-videos">
                  <a href="/webbvideo">Samtliga webbvideor</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="banner sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000362">
            <div id="Omvarldsbev">
              <!-- Omvärldsbev -->
            </div>
            <div id="h-Omvarldsbevakning">
              <!-- Omvärldsbevakning -->
            </div>
            <h2 class="sv-first-child">Omvärldsbevakning</h2>
          </div>
          <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000363">
            <div id="Text1">
              <!-- Text 1 -->
            </div>
            <p class="caption sv-first-child">SKL Social omsorg och stöd</p>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000364">
            <div id="SKLSocialomsorgochstod">
              <!-- SKL Social omsorg och stöd -->
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000365">
            <div id="Kopia1avText1">
              <!-- Kopia (1) av Text 1 -->
            </div>
            <p class="caption sv-first-child">SKL Hälsa och vård</p>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000366">
            <div id="RSSSKLhalsaochvard">
              <!-- RSS SKL hälsa och vård -->
            </div>
          </div>
          <div class="sv-old-text-portlet" id="svid12_213458ee12b66ff3bbd8000367">
            <div id="Kopia1avKopia1avText1">
              <!-- Kopia (1) av Kopia (1) av Text 1 -->
            </div>
            <p class="caption sv-first-child">Kommunförbundet Skåne</p>
          </div>
          <div class="sv-archive-portlet sv-portlet c46" id="svid12_213458ee12b66ff3bbd8000368">
            <div id="RSSKFSK">
              <!-- RSS KFSK -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c89">
                <a class="normal" href="http://www.kfsk.se/sidor/verksamheter/socialtjanstvardochomsorg/arkivochdoldasidor/aktuelltvardomsorgochsocialafragor/dialogmotenangaendebildandetavenregionalutvecklingsenhetpakommunforbundetskane.11402.html" title="">Dialogmöten angående bildandet av en regional utvecklingsenhet&nbsp;på Kommunförbundet Skåne</a>
                <span class="table-head">(03/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c89">
                <a class="normal" href="http://www.kfsk.se/sidor/verksamheter/socialtjanstvardochomsorg/arkivochdoldasidor/aktuelltvardomsorgochsocialafragor/enfolderavseendelakemedelochaldreriktadtillomvardnadspersonal.9521.html" title="">En folder avseende läkemedel och äldre riktad till omvårdnadspersonal</a>
                <span class="table-head">(13/12)</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <a class="normal" href="http://www.kfsk.se/sidor/verksamheter/socialtjanstvardochomsorg/arkivochdoldasidor/aktuelltvardomsorgochsocialafragor/planforlangsiktigutvecklingavstodstrukturerforevidensbaseradpraktikiskane.9445.html" title="">Plan för långsiktig utveckling av stödstrukturer för evidensbaserad praktik i Skåne</a>
                <span class="table-head">(25/11)</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div id="svid10_e089754132b8b7af8f800039591"></div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_c804a321343c942ccd800033144">
            <div id="Text4">
              <!-- Text 4 -->
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
