---
title: Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Ärendeberedning</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_1e842c9412b6803495b800011308">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_1e842c9412b6803495b800011309">
          <div id="Rubrik">
            <!-- Rubrik -->
          </div>
          <div id="h-Arendeberedning">
            <!-- Ärendeberedning -->
          </div>
          <h1 class="sv-first-child">Ärendeberedning</h1>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_1e842c9412b6803495b800011312">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div id="svid10_b1e3fd91360c410e51800053401">
            <div class="banner sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800053402">
              <div id="VinjettNyttviktigt">
                <!-- Vinjett Nytt & viktigt -->
              </div>
              <div id="h-Nyttampviktigt">
                <!-- Nytt &amp; viktigt -->
              </div>
              <h2 class="sv-first-child">Nytt &amp; viktigt</h2>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_b1e3fd91360c410e51800053488">
              <div id="Text24">
                <!-- Text 24 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="caption">Nyheter om ärendeberedning i Malmö stad.</p>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_b1e3fd91360c410e51800053404">
              <div id="ArendeberedningfranWPnyheter">
                <!-- Ärendeberedning från WPnyheter -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/27/tillfalligt-avbrott-i-arendesok/" title="">Tillfälligt avbrott i Ärendesök</a></h2>
                  <span class="normal">I samband med en uppgradering har ett säkerhetshål upptäckts i vår betaversion av...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c84">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/11/platina-support-i-jul-och-nyar/" title="">Platina support under jul- och nyår</a></h2>
                  <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/11/COLOURBOX6246956-150x150.jpg" class="sv-noborder c156">
                  <span class="normal">I jul- och nyårshelgen har vi ändrade supporttider för vårt dokument- &amp;...</span>
                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">
                  <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/10/16/arendehandbok-ute-pa-remiss/" title="">Ärendehandbok ute på remiss!</a></h2>
                  <span class="normal">Förvaltningarna har fått Ärendehandbok version 2 att yttra sig över. Det är förvaltningen...</span>
                  <div class="sv-clear-both"></div>
                </li>
              </ul>
            </div>
            <div class="sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800053406">
              <div id="Aldrenyheter">
                <!-- Äldre nyheter -->
              </div>
              <p class="introduction sv-text-align-right sv-first-child"><a title="Fler nyheter Ärendeberedning" href="http://webapps04.malmo.se/nyheter/category/arendeberedning/">Fler nyheter</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800053408">
              <div id="Laggtillegennyhet">
                <!-- Lägg till egen nyhet -->
              </div>
              <p class="normal sv-first-child"><a title="Lägg till egen nyhet" href="https://webapps04.malmo.se/nyheter/wp-login.php?redirect_to=https%3A%2F%2Fwebapps04.malmo.se%2Fnyheter%2Fwp-admin%2Fpost-new.php&amp;reauth=1">Lägg till en egen nyhet </a>| <a title="Nyhetshjälp" href="https://webapps09.malmo.se/wiki/Skapa_en_Kominnyhet">Hjälp</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_1e842c9412b6803495b800011314">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="slideshow-mini c49" id="svid10_c804a321343c942ccd800078447">
            <div class="slides" style="position: relative; overflow: hidden;">
              <div id="svid10_c804a321343c942ccd800078451" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;">
                <div class="sv-image-portlet sv-portlet" id="svid12_c804a321343c942ccd800078592">
                  <div id="Bild">
                    <!-- Bild -->
                  </div><img alt="" class="sv-noborder c289" src="/images/18.efc29e313b1e6d779e97a6/1394696729674/Bild+startbanner.png">
                </div>
                <div class="sv-old-text-portlet" id="svid12_c804a321343c942ccd800088323">
                  <div id="Text19">
                    <!-- Text 19 -->
                  </div>
                  <div id="h-Medrattattvaraoppen">
                    <!-- Med rätt att vara öppen  -->
                  </div>
                  <h2 class="sv-first-child"><a title="" href="http://malmo.se/quiz">Med rätt att vara öppen </a></h2>
                  <p class="normal"><a title="" href="http://malmo.se/quiz">Malmö stads quiz om offentlighet &amp; sekretess</a>
                  </p>
                </div>
              </div>
              <div id="svid10_799a53121373b9dbfbf800066460" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 1;">
                <div class="sv-image-portlet sv-portlet" id="svid12_2b56f4113ec05ff84fdace">
                  <div id="Bild3">
                    <!-- Bild 3 -->
                  </div><img alt="" class="sv-noborder c289" src="/images/18.2b56f4113ec05ff84fdaf2/1394696730337/Puff1.jpg">
                </div>
                <div class="sv-old-text-portlet" id="svid12_799a53121373b9dbfbf800066462">
                  <div id="Text14">
                    <!-- Text 14 -->
                  </div>
                  <div id="h-Tahjalpavdenyaprocesskartorna">
                    <!-- Ta hjälp av de nya processkartorna! -->
                  </div>
                  <h2 class="sv-first-child">Ta hjälp av de nya processkartorna!</h2>
                  <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Arendeberedning/Arendehandboken.html">Du hittar dem i Ärendehandboken</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="svid10_b1e3fd91360c410e51800053415">
            <div class="banner sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800053416">
              <div id="Tankarideer">
                <!-- Tankar & idéer -->
              </div>
              <div id="h-Tankarampideer">
                <!-- Tankar &amp; idéer -->
              </div>
              <h2 class="sv-first-child">Tankar &amp; idéer</h2>
            </div>
            <div class="sv-text-portlet sv-use-margins" id="svid12_b1e3fd91360c410e51800053489">
              <div id="Text25">
                <!-- Text 25 -->
              </div>
              <div class="sv-text-portlet-content">
                <p class="caption">Åsikter om arbetet med ärendeberedning.</p>
              </div>
            </div>
            <div class="sv-archive-portlet sv-portlet" id="svid12_b1e3fd91360c410e51800053418">
              <div id="RSSfrankominbloggenArendeberedning">
                <!-- RSS från kominbloggen > Ärendeberedning -->
              </div>
              <ul class="sv-channel sv-defaultlist ">
                <li class="sv-channel-item c90">





                  <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/12/12/hur-smakar-din-julost/" title="">Hur smakar din julost?</a></h2>










                  <a href="https://webapps04.malmo.se/blogg/2014/12/12/hur-smakar-din-julost/" title="">
                    <img alt="" src="https://webapps06.malmo.se/avatars/suzsan/small_quadrat.jpg" class="sv-noborder c244">
                  </a>







                  <span class="normal">Innehåll i ärendehanteringssystem skulle kunna liknas vid en ost. Ibland är...</span>



                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item c90">





                  <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/12/12/personuppgifter-i-en-digital-varld/" title="">Personuppgifter i en digital värld</a></h2>










                  <a href="https://webapps04.malmo.se/blogg/2014/12/12/personuppgifter-i-en-digital-varld/" title="">
                    <img alt="" src="https://webapps06.malmo.se/avatars/susrin/small_quadrat.jpg" class="sv-noborder c244">
                  </a>







                  <span class="normal">Omkring 1440 uppfanns boktryckarpressen av Johann Gutenberg och världen skulle...</span>



                  <div class="sv-clear-both"></div>
                </li>
                <li class="sv-channel-item">





                  <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/11/06/valkomna-till-det-nya-orangea-stadsarkivet/" title="">Välkomna till det nya orangea Stadsarkivet</a></h2>










                  <a href="https://webapps04.malmo.se/blogg/2014/11/06/valkomna-till-det-nya-orangea-stadsarkivet/" title="">
                    <img alt="" src="https://webapps06.malmo.se/avatars/suzsan/small_quadrat.jpg" class="sv-noborder c244">
                  </a>







                  <span class="normal">Klockan 14.07 i går ställdes den sista volymen upp på sin nya hylla här på...</span>



                  <div class="sv-clear-both"></div>
                </li>
              </ul>


            </div>
            <div class="sv-old-text-portlet c7" id="svid12_b1e3fd91360c410e51800053420">
              <div id="Text4">
                <!-- Text 4 -->
              </div>
              <p class="normal sv-text-align-right sv-first-child"><a title="Fler blogginlägg" href="http://webapps04.malmo.se/blogg/category/arendeberedning/">Fler tankar &amp; idéer</a>
              </p>
            </div>
            <div class="sv-old-text-portlet" id="svid12_b1e3fd91360c410e51800053422">
              <div id="Text7">
                <!-- Text 7 -->
              </div>
              <p class="introduction sv-first-child"><a title="Länk till Börja blogga själv" href="http://webapps04.malmo.se/blogg/borja-blogga-sjalv/">Bidra med en egen tanke &gt;&gt;</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
