---
title:  Startsida baserad på nuvarande
---

<nav class="breadcrumbs">
  <ol>
    <li><a href="{{ site.baseurl }}/">Start</a></li>
    <li><a href="{{ site.baseurl }}/">Arbetsfält</a></li>
    <li>Bibliotek</li>
  </ol>
</nav>

<section class="sv-crappy-start" role="main">
  <!-- WARNING: Sitevision crappy code -->
  <div class="content" id="svid10_67dd4c081286e53af05800026067">
    <div class="full-col" id="svid10_67dd4c081286e53af05800026322">
      <!-- Page content starts here -->
      <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f1f46c">
        <div id="Mittenspalt">
          <!-- Mittenspalt -->
        </div>
        <div class="sv-old-text-portlet" id="svid12_2b56f4113ec05ff84f4570e">
          <div id="Text1">
            <!-- Text 1 -->
          </div>
          <div id="h-Bibliotek">
            <!-- Bibliotek -->
          </div>
          <h1 class="sv-first-child">Bibliotek</h1>
        </div>
        <div class="sv-image-portlet sv-portlet c314" id="svid12_7423a812144d9e393c26bb">
          <div id="Bild1">
            <!-- Bild 1 -->
          </div>
          <a title="" href="/Arbetsfalt-verksamheter/Bibliotek/Idag-i-infodiskarna.html"><img alt="" class="sv-noborder c315" src="https://komin.malmo.se/images/18.7423a812144d9e393c26cb/1395253556771/pil2.png">
          </a>
        </div>
        <div class="sv-text-portlet sv-use-margins c316" id="svid12_7423a812144d9e393c26c2">
          <div id="Text2">
            <!-- Text 2 -->
          </div>
          <div class="sv-text-portlet-content">
            <p class="normal"><a title="" href="/Arbetsfalt-verksamheter/Bibliotek/Idag-i-infodiskarna.html"><strong>Idag i infodiskarna</strong></a>
            </p>
          </div>
        </div>
      </div>
      <!-- Page content stops here -->
    </div>
    <div id="svid10_67dd4c081286e53af05800026321">
      <div class="first-col" id="svid10_67dd4c081286e53af05800026080">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f1f478">
          <div id="Vansterkolumn">
            <!-- Vänsterkolumn -->
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f1f479">
            <div id="Nyttochviktigtvinjett">
              <!-- Nytt och viktigt vinjett -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-Nyheterforallabibliotek">Nyheter för alla bibliotek</h2>
            </div>
          </div>
          <div class="sv-archive-portlet sv-portlet c317" id="svid12_2b56f4113ec05ff84f1f4ce">
            <div id="Nyheter1">
              <!-- Nyheter 1 -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-12</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/the-true-story-utstallning-12-dec-7-jan/" title="">The True Story – utställning...</a></h2>
                <span class="normal">Malmö Stadsteater tillsammans med stiftelsen Framtidsgenerationen har en utställning om Malmö i...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-12</span>
                <span class="normal"><br></span>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/lucia2-150x150.jpg" class="sv-noborder c105">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/12/luciafirande-pa-rosengardsbiblioteket/" title="">Luciafirande på...</a></h2>
                <span class="normal">Fira Lucia med oss idag, fredag klockan 12. Klockan 12 i dag fredag 12 december kommer Malmö...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-11</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/11/flyttinfo-och-delvis-stangt-en-dag-i-lk/" title="">Flyttinfo och delvis stängt en...</a></h2>
                <span class="normal">Vi flyttar in talboksverksamheten i Ljusets kalender på Stadsbiblioteket i dec och det gör att vi...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-10</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/10/valkommen-liv-estberger/" title="">Välkommen Liv Estberger!</a></h2>
                <span class="normal">Liv, interaktionsdesigner och snart bibliotekarie, är ny på Lärcentrum på Malmö stadsbibliotek.  Vad...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-09</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/09/musikkonferens-pa-malmo-hogskola/" title="">Musikkonferens på Malmö...</a></h2>
                <span class="normal">För den som inte hunnit uppmärksamma det informerar vi nu på en av  Entréns utställningsmontrar om...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <span class="normal">2014-12-08</span>
                <span class="normal"><br></span>
                <img alt="" src="https://webapps04.malmo.se/nyheter/wp-content/uploads/2014/12/fasad-150x150.jpg" class="sv-noborder c105">
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/08/kladinsamling-pa-garaget/" title="">Klädinsamling på Garaget</a></h2>
                <span class="normal">Just nu finns det många hemlösa i Malmö, och det finns ett stort behov av varma kläder, jackor och...</span>
                <span class="normal"><br></span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-text-portlet sv-use-margins c318" id="svid12_2b56f4113ec05ff84f1f509">
            <div id="Lasflernyheter">
              <!-- Läs fler nyheter -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal sv-text-align-right"><a title="" href="/Arbetsfalt-verksamheter/Bibliotek/Aktuellt-pa-biblioteken/Nyheter-fran-biblioteken.html">Läs fler nyheter</a>
                <br><a title="Skriv &amp; skapa egna nyheter" href="/Arbetsfalt-verksamheter/Bibliotek/Aktuellt-pa-biblioteken/Nyheter-fran-biblioteken/Skriv--skapa-egna-nyheter.html">Hur du skapar egna nyheter</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
      <div class="second-col" id="svid10_67dd4c081286e53af05800026081">
        <!-- Page content starts here -->
        <div class="pagecontent sv-layout" id="svid94_2b56f4113ec05ff84f1f47a">
          <div id="Hogerkolumn">
            <!-- Högerkolumn -->
          </div>
          <div class="banner sv-text-portlet sv-use-margins c175" id="svid12_2b56f4113ec05ff84f2155b">
            <div id="Driftnyheter">
              <!-- Driftnyheter -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-NyheterSierraMalin">Nyheter Sierra/Malin</h2>
            </div>
          </div>
          <div class="sv-archive-portlet sv-portlet" id="svid12_2b56f4113ec05ff84f21556">
            <div id="Nyheter">
              <!-- Nyheter -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item">
                <span class="normal">12-04</span>
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/12/04/ny-gallringsrutin/" title="">Ny gallringsrutin</a></h2>
                <span class="normal">Vid gallring ur Sierra ska koden "g" i exemplarstatus inte...</span>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <span class="normal">11-27</span>
                <h2 class=""><a href="https://webapps04.malmo.se/nyheter/2014/11/27/spar-fungerar-igen/" title="">SPAR fungerar igen</a></h2>
                <span class="normal">Problemet med SPAR är nu löst.</span>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f2155d">
            <div id="Flerdriftnyheter">
              <!-- Fler driftnyheter -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal sv-text-align-right"><a title="Sierra/Malin" href="/Arbetsfalt-verksamheter/Bibliotek/Sierra-Malin.html">Läs fler nyheter om Sierra</a><a title="Sierra/Malin" href="/Arbetsfalt-verksamheter/Bibliotek/Sierra-Malin.html">/Malin</a>
              </p>
            </div>
          </div>
          <div class="banner sv-text-portlet sv-use-margins" id="svid12_2b56f4113ec05ff84f1f4b1">
            <div id="Tankarvinjett">
              <!-- Tankar vinjett -->
            </div>
            <div class="sv-text-portlet-content">
              <h2 class="" id="h-bibliotekenbloggar">biblioteken bloggar</h2>
            </div>
          </div>
          <div class="sv-archive-portlet sv-portlet c319" id="svid12_2b56f4113ec05ff84f1f4c5">
            <div id="Blogg">
              <!-- Blogg -->
            </div>
            <ul class="sv-channel sv-defaultlist ">
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-12</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://projektlillaslottet.wordpress.com/2014/12/12/vara-foljeforskare-barbro-och-frances/" title="">Våra följeforskare Barbro och Frances</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-10</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://tydabloggen.com/2014/12/10/david-lankes-burn-the-libraries-and-free-the-librarians/" title="">David Lankes – Burn the Libraries and Free the Librarians</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-09</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://tydabloggen.com/2014/12/09/resurssamling-visuell-makt/" title="">Resurssamling – Visuell makt</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <img alt="" src="https://webapps06.malmo.se/avatars/permat1/small_quadrat.jpg" class="sv-noborder c244">
                <span class="normal">2014-12-07</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="https://webapps04.malmo.se/blogg/2014/12/07/nya-tag-i-eboksfragan-malmos-och-stockholms-digitala-bibliotek-samarbetar/" title="">Nya tag i eboksfrågan – Malmös och Stockholms digitala bibliotek samarbetar</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-05</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://projektlillaslottet.wordpress.com/2014/12/05/idag-testas-det-nya-arbetsklader-pa-bibblan/" title="">Idag testas det nya arbetskläder på bibblan</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-04</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://projektlillaslottet.wordpress.com/2014/12/04/webbworkshop/" title="">Webbworkshop</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item c84">
                <span class="normal">2014-12-03</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://tydabloggen.com/2014/12/03/appar-vardefulla-digitala-verktyg-for-dyslektiker/" title="">Appar – värdefulla digitala verktyg för dyslektiker</a></h2>
                <div class="sv-clear-both"></div>
              </li>
              <li class="sv-channel-item">
                <span class="normal">2014-12-02</span>
                <span class="normal"><br></span>
                <h2 class=""><a href="http://tydabloggen.com/2014/12/02/unga-och-deras-fritid-resurser-pa-mucf-se/" title="">Unga och deras fritid – resurser på Mucf.se</a></h2>
                <div class="sv-clear-both"></div>
              </li>
            </ul>
          </div>
          <div class="sv-text-portlet sv-use-margins c320" id="svid12_2b56f4113ec05ff84f1f513">
            <div id="Lasflerblogg">
              <!-- Läs fler blogg -->
            </div>
            <div class="sv-text-portlet-content">
              <p class="normal sv-text-align-right"><a title="Tankar och idéer på biblioteken" href="/Arbetsfalt-verksamheter/Bibliotek/Aktuellt-pa-biblioteken/Tankar-och-ideer-pa-biblioteken.html">Läs fler blogginlägg</a>
                <br><a title="Skriv och skapa egna blogginlägg" href="/Arbetsfalt-verksamheter/Bibliotek/Aktuellt-pa-biblioteken/Tankar-och-ideer-pa-biblioteken/Skriv-och-skapa-egna-blogginlagg.html">Hur du skapar egna blogginlägg</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Page content stops here -->
      </div>
    </div>
  </div>
</section>

{% include internal/workingfield-nav.html %}
{% include internal/contact-us-department.html %}
{% include internal/footer-metadata.html %}
