<footer class="bigfoot">
  <div class="navs">
    {% if page.permalink == "/start-page-1/" or page.permalink == "/start-page-2/"%}
      <nav class="influence">
        <h1>Var med och påverka</h1>
        <ul>
          <li>
            <a href="#">
              Återställ allén utmed Sveagatan!
              <span>5 underskrifter</span>
            </a>
          </li>
          <li>
            <a href="#">
              Odlingslotter i växthus
              <span>32 underskrifter</span>
            </a>
          </li>
          <li>
            <a href="#">
              Klättervägg på Malmö Opera
              <span>8 underskrifter</span>
            </a>
          </li>
          <li>
            <a href="#">
              Öka Framkomligheten för Billister i Malmö
              <span>2 underskrifter</span>
            </a>
          </li>
          <li>
            <a href="#">
              Vad händer med förskolan Skeppet i Västra hamnen?
              <span>2 underskrifter</span>
            </a>
          </li>
          <li>
            <a href="#">Fler förslag från Malmöbor&nbsp;…</a>
          </li>
        </ul>
      </nav>
    {% else %}
      <nav class="news">
        <h1>Nyheter</h1>
        <ul>
          <li>
            <a href="#">Hjälp en Malmöbo! (16/4)</a>
          </li>
          <li>
            <a href="#">Nu blir det (g)ös i Pildammarna! (16/4)</a>
          </li>
          <li>
            <a href="#">Värnhemstorget ny tävlingsarena för skateproffs (15/4)</a>
          </li>
          <li>
            <a href="#">Familjer med långt till förskola får erbjudande om ny plats (14/4)</a>
          </li>
          <li>
            <a href="#">Tulpanfest i Slottsträdgården (14/4)</a>
          </li>
          <li>
            <a href="#">Fler nyheter&nbsp;…</a>
          </li>
        </ul>
      </nav>
    {% endif %}

    <nav class="events">
      <h1>Händer idag i Malmö</h1>
      <ul>
        <li>
          <a href="#">Livet är en lek <span>Malmö museer</span></a>
        </li>
        <li>
          <a href="#">Ett sätt att leva - Svensk fotografi från Christer Strömholm till idag <span>Malmö museer</span></a>
        </li>
        <li>
          <a href="#">Glitter, glamour och folkfest <span>Malmö museer</span></a>
        </li>
        <li>
          <a href="#">Geraud International Street Market kommer till Malmö! <span>Gustav Adolfs torg</span></a>
        </li>
        <li>
          <a href="#">Språkkafé <span>Garaget</span></a>
        </li>
        <li>
          <a href="#">Fler evenemang …</a>
        </li>
      </ul>
    </nav>

    <nav class="social">
      <h1>Besök oss gärna på</h1>
      <ul>
        <li>
          <a href="#" class="m-icon-facebook">Malmö stad</a>
        </li>
        <li>
          <a href="#" class="m-icon-facebook">Jobba i Malmö stad</a>
        </li>
        <li>
          <a href="#" class="m-icon-twitter">@malmostad</a>
        </li>
        <li>
          <a href="#" class="m-icon-bubbles">Våra bloggar</a>
        </li>
        <li>
          <a href="#" class="m-icon-bubbles">Här finns vi också</a>
        </li>
      </ul>
    </nav>

    <nav class="more">
      <h1>Mer på malmo.se</h1>
      <ul>
        <li>
          <a href="#">Felanmäla något i staden</a>
        </li>
        <li>
          <a href="#">Föreningsstöd</a>
        </li>
        <li>
          <a href="#">Göra ett studiebesök</a>
        </li>
        <li>
          <a href="#">Hitta bostad</a>
        </li>
        <li>
          <a href="#">Karta</a>
        </li>
        <li>
          <a href="#">Ny i Malmö</a>
        </li>
        <li>
          <a href="#">Other languages/andra språ</a>
        </li>
        <li>
          <a href="#">RSS</a>
        </li>
        <li>
          <a href="#">Var med och påverka</a>
        </li>
        <li>
          <a href="#">A–Ö</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
