<footer class="bigfoot">
  <nav class="news">
    <h1>Nyheter</h1>
    <ul>
      <li>
        <a href="#"></a>
      </li>
    </ul>
  </nav>

  <nav class="events">
    <h1>Händer idag i Malmö</h1>
    <ul>
      <li>
        <a href="#"></a>
      </li>
    </ul>
  </nav>

  <nav class="social">
    <h1>Besök oss gärna på</h1>
    <ul>
      <li>
        <a href="#"></a>
      </li>
    </ul>
  </nav>

  <nav class="more">
    <h1>Mer på malmo.se</h1>
    <ul>
      <li>
        <a href="#"></a>
      </li>
    </ul>
  </nav>
</footer>
