<nav class="breadcrumbs">
  <ul>
    <li><a href="{{ site.baseurl }}/">Kommun &amp; politik</a></li>
    <li><a href="{{ site.baseurl }}/">Stadsområden</a></li>
    <li><a href="{{ site.baseurl }}/">Innerstaden</a></li>
    <li><a href="{{ site.baseurl }}/">Stadsområdesförvaltning</a></li>
    <li><a href="{{ site.baseurl }}/">Individ och familjeomsorg</a></li>
    <li><a href="{{ site.baseurl }}/">Försörjningsstöd, studentinformation</a></li>
    <li><a href="{{ site.baseurl }}/">Vanliga frågor</a></li>
  </ul>
</nav>
