<aside class="contact-us vcard basic">
  <h1>Kontakta oss</h1>

  <div class="fn">Vägledningscentrum</div>
  <div class="write-to-us" data-contact-id="0" data-action="/4.427bf15412207bac3c980003373.html.portletaction?sv.url=12.228b8e2313f816262743382"><a href="/">Skriv till oss</a></div>

  <div>E-post: <span class="email">vagledningscentrum@malmo.se</span></div>
  <div>Tel: <span class="tel">040-34 49 95</span></div>

  <h2>Postadress</h2>
  <div class="adr">
    <div class="fn">Vägledningscentrum</div>
    <div class="post-office-box">Föreningsgatan 7A</div>
    <div><span class="postal-code">211 44</span> <span class="locality">Malmö</span></div>
  </div>

  <h2 class="visiting-address">Besöksadress</h2>
  <div class="street-address">Föreningsgatan 7A</div>
  <div><a href="http://www.malmo.se/karta?poi=Föreningsgatan+7A&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map" data-scroll-to=".visiting-address" data-poi="Föreningsgatan 7A" title="Föreningsgatan 7A">Visa på karta</a></div>
  <div class="contact-us-map"></div>

  {% include contact-us-form.html %}
</aside>
