<section class="contact-us vcard">
  <h1><span class="icon-phone icon-large"> </span> Kontakta oss</h1>

  <div class="fn">Vägledningscentrum</div>
  <div class="write-to-us"><a href="/">Skriv till oss</a></div>
  <div>E-post: <span class="email">vagledningscentrum@malmo.se</span></div>
  <div>Tel: <span class="tel">040-34 49 95</span></div>

  <h2>Postadress</h2>
  <div class="adr">
    <div class="fn">Vägledningscentrum</div>
    <div class="post-office-box">Föreningsgatan 7A</div>
    <div><span class="postal-code">211 44</span> <span class="locality">Malmö</span></div>
  </div>

  <h2 class="visiting-address">Besöksadress</h2>
  <div class="street-address">Föreningsgatan 7A</div>
  <div><a href="http://www.malmo.se/karta?poi=Föreningsgatan+7A&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map" data-map-selector=".contact-us-map" data-scroll-to=".visiting-address" data-poi="Föreningsgatan 7A" title="Föreningsgatan 7A">Visa på karta</a></div>
  <div class="contact-us-map"></div>
</section>
