<aside class="standard">
  <nav class="content">
    <h1>Mer i detta ämne</h1>
    <ul>
      <li><a href="{{ site.baseurl }}/">Avfall &amp; återvinning</a></li>
      <li><a href="{{ site.baseurl }}/">Bostad &amp; närmiljö</a></li>
      <li><a href="{{ site.baseurl }}/">Att göra hållbara val</a></li>
      <li><a href="{{ site.baseurl }}/">Livsmedel</a></li>
      <li><a href="{{ site.baseurl }}/">Miljöarbetet i Malmö stad som det är just nu</a></li>
      <li><a href="{{ site.baseurl }}/">Miljöläget i Malmö</a></li>
    </ul>
  </nav>
</aside>
