<aside class="contact-us basic">
  <h1>Kontakta oss</h1>

  <div class="vcard">
    <h2 class="fn">Vägledningscentrum</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>

    <div>E-post: <span class="email">vagledningscentrum@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 95</span></div>

    <h3>Postadress</h3>
    <div class="adr">
      <div class="fn">Vägledningscentrum</div>
      <div class="post-office-box">Föreningsgatan 7A</div>
      <div><span class="postal-code">211 44</span> <span class="locality">Malmö</span></div>
    </div>

    <h3 class="visiting-address v-0">Besöksadress</h3>
    <div class="street-address">Föreningsgatan 7A</div>
    <div><a href="http://www.malmo.se/karta?poi=Föreningsgatan+7A&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-0" data-scroll-to=".visiting-address.v-0" data-poi="Föreningsgatan 7A" title="Föreningsgatan 7A">Visa på karta</a></div>
    <div class="contact-us-map m-0"></div>
  </div>

  <div class="vcard">
    <h2 class="fn">Vägledningsavdelningen</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>

    <div>E-post: <span class="email">vagledningscentrum@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 95</span></div>

    <h3>Postadress</h3>
    <div class="adr">
      <div class="fn">Vägledningscentrum</div>
      <div class="post-office-box">Föreningsgatan 7A</div>
      <div><span class="postal-code">211 44</span> <span class="locality">Malmö</span></div>
    </div>

    <h3 class="visiting-address v-1">Besöksadress</h3>
    <div class="street-address">Föreningsgatan 7A</div>
    <div><a href="http://www.malmo.se/karta?poi=Föreningsgatan+7A&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-1" data-scroll-to=".visiting-address.v-1" data-poi="Föreningsgatan 7A" title="Föreningsgatan 7A">Visa på karta</a></div>
    <div class="contact-us-map m-1"></div>
  </div>
  {% include contact-us-form.html %}
</aside>
