<aside class="contact-us multi-district basic">
  <h1>Kontakta oss</h1>

  <div class="district-selector">
    <form id="contact-district-selector-form" class="form-inline" method="post" action="/kontaktruta/select.do">
      <div class="form-group">
        <select id="contact-district" name="district" class="form-control">
          <option value="">Välj stadsområde:</option>
          <option value="innerstaden">Innerstaden</option>
          <option value="norr">Norr</option>
          <option value="söder">Söder</option>
          <option value="väster">Väster</option>
          <option value="öster">Öster</option>
        </select>
      </div>
      <div class="form-group">
        <label for="district-search" class="district-search control-label">Hitta stadsområde via adress:</label>
        <input type="text" id="district-search" name="district-search" class="form-control" placeholder="Hitta stadsområde via adress"/>
      </div>
    </form>
  </div>

  <div class="vcard" id="district-innerstaden">
    <h2 class="fn">Vägledningscentrum i Innerstaden</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>
    <div>E-post: <span class="email">vagledningscentrum-innerstaden@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 96</span></div>
    <form action="{{ site.baseurl }}/" method="post" class="basic write-to-us-form">
      <h2 class="group-title">Skriv till oss</h2>
      <fieldset>
        <div class="form-group">
          <label for="name" class="control-label">Namn:*</label>
          <input class="form-control controls" type="text" id="name" name="name" placeholder="Ditt för och efternamn"/>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">E-post:</label>
          <input class="controls form-control" type="email" id="email" name="email" placeholder="Din e-postadress"/>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Telefon dagtid:</label>
          <input class="form-control controls" type="tel" id="phone" name="phone" placeholder="Ditt telefonnummer inklusive riktnummer"/>
        </div>
        <div class="form-group">
          <label for="subject" class="control-label">Meddelandet avser:</label>
          <div class="controls">
            <select id="subject" class="form-control">
              <option value=""></option>
              <option>Felanmälan</option>
              <option>Fråga</option>
              <option>Annat</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">Meddelande:</label>
          <textarea id="message" name="message" rows="8" class="controls form-control" placeholder=""></textarea>
        </div>
        <div class="form-group">
          <span class="control-label"></span>
          <div class="controls">
            <input type="submit" value="Skicka in ditt meddelande" class="btn btn-primary"/>
          </div>
        </div>
      </fieldset>
    </form>
    <h3 class="visiting-address v-1">Besöksadress</h3>
    <div class="street-address">Simrishamnsgatan 1</div>
    <div><a href="http://www.malmo.se/karta?poi=Storgatan+1&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-1" data-scroll-to=".visiting-address.v-1" data-poi="Simrishamnsgatan 1" title="Simrishamnsgatan 1">Visa på karta</a></div>
    <div class="contact-us-map m-1"></div>
  </div>

  <div class="vcard" id="district-norr">
    <h2 class="fn">Vägledningscentrum i Norr</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>
    <div>E-post: <span class="email">vagledningscentrum-norr@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 97</span></div>
    <form action="{{ site.baseurl }}/" method="post" class="basic write-to-us-form">
      <h2 class="group-title">Skriv till oss</h2>
      <fieldset>
        <div class="form-group">
          <label for="name" class="control-label">Namn:*</label>
          <input class="form-control controls" type="text" id="name" name="name" placeholder="Ditt för och efternamn"/>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">E-post:</label>
          <input class="controls form-control" type="email" id="email" name="email" placeholder="Din e-postadress"/>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Telefon dagtid:</label>
          <input class="form-control controls" type="tel" id="phone" name="phone" placeholder="Ditt telefonnummer inklusive riktnummer"/>
        </div>
        <div class="form-group">
          <label for="subject" class="control-label">Meddelandet avser:</label>
          <div class="controls">
            <select id="subject" class="form-control">
              <option value=""></option>
              <option>Felanmälan</option>
              <option>Fråga</option>
              <option>Annat</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">Meddelande:</label>
          <textarea id="message" name="message" rows="8" class="controls form-control" placeholder=""></textarea>
        </div>
        <div class="form-group">
          <span class="control-label"></span>
          <div class="controls">
            <input type="submit" value="Skicka in ditt meddelande" class="btn btn-primary"/>
          </div>
        </div>
      </fieldset>
    </form>
    <h3 class="visiting-address v-2">Besöksadress</h3>
    <div class="street-address">Storgatan 1</div>
    <div><a href="http://www.malmo.se/karta?poi=Storgatan+1&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-2" data-scroll-to=".visiting-address.v-1" data-poi="Storgatan 1" title="Storgatan 1">Visa på karta</a></div>
    <div class="contact-us-map m-2"></div>
  </div>

  <div class="vcard" id="district-söder">
    <h2 class="fn">Vägledningscentrum Söder</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>
    <div>E-post: <span class="email">vagledningscentrum-soder@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 98</span></div>
    <form action="{{ site.baseurl }}/" method="post" class="basic write-to-us-form">
      <h2 class="group-title">Skriv till oss</h2>
      <fieldset>
        <div class="form-group">
          <label for="name" class="control-label">Namn:*</label>
          <input class="form-control controls" type="text" id="name" name="name" placeholder="Ditt för och efternamn"/>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">E-post:</label>
          <input class="controls form-control" type="email" id="email" name="email" placeholder="Din e-postadress"/>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Telefon dagtid:</label>
          <input class="form-control controls" type="tel" id="phone" name="phone" placeholder="Ditt telefonnummer inklusive riktnummer"/>
        </div>
        <div class="form-group">
          <label for="subject" class="control-label">Meddelandet avser:</label>
          <div class="controls">
            <select id="subject" class="form-control">
              <option value=""></option>
              <option>Felanmälan</option>
              <option>Fråga</option>
              <option>Annat</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">Meddelande:</label>
          <textarea id="message" name="message" rows="8" class="controls form-control" placeholder=""></textarea>
        </div>
        <div class="form-group">
          <span class="control-label"></span>
          <div class="controls">
            <input type="submit" value="Skicka in ditt meddelande" class="btn btn-primary"/>
          </div>
        </div>
      </fieldset>
    </form>
    <h3 class="visiting-address v-3">Besöksadress</h3>
    <div class="street-address">Fosie Kyrkoväg 7</div>
    <div><a href="http://www.malmo.se/karta?poi=Fosie+Kyrkoväg+7&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-3" data-scroll-to=".visiting-address.v-1" data-poi="Fosie Kyrkoväg 7" title="Fosie Kyrkoväg 7">Visa på karta</a></div>
    <div class="contact-us-map m-3"></div>
  </div>

  <div class="vcard" id="district-väster">
    <h2 class="fn">Vägledningscentrum Väster</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>
    <div>E-post: <span class="email">vagledningscentrum-vaster@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 91</span></div>
    <form action="{{ site.baseurl }}/" method="post" class="basic write-to-us-form">
      <h2 class="group-title">Skriv till oss</h2>
      <fieldset>
        <div class="form-group">
          <label for="name" class="control-label">Namn:*</label>
          <input class="form-control controls" type="text" id="name" name="name" placeholder="Ditt för och efternamn"/>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">E-post:</label>
          <input class="controls form-control" type="email" id="email" name="email" placeholder="Din e-postadress"/>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Telefon dagtid:</label>
          <input class="form-control controls" type="tel" id="phone" name="phone" placeholder="Ditt telefonnummer inklusive riktnummer"/>
        </div>
        <div class="form-group">
          <label for="subject" class="control-label">Meddelandet avser:</label>
          <div class="controls">
            <select id="subject" class="form-control">
              <option value=""></option>
              <option>Felanmälan</option>
              <option>Fråga</option>
              <option>Annat</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">Meddelande:</label>
          <textarea id="message" name="message" rows="8" class="controls form-control" placeholder=""></textarea>
        </div>
        <div class="form-group">
          <span class="control-label"></span>
          <div class="controls">
            <input type="submit" value="Skicka in ditt meddelande" class="btn btn-primary"/>
          </div>
        </div>
      </fieldset>
    </form>
    <h3 class="visiting-address v-4">Besöksadress</h3>
    <div class="street-address">Bunkeflo byväg 2</div>
    <div><a href="http://www.malmo.se/karta?poi=Bunkeflo+byv%e4g+2&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-4" data-scroll-to=".visiting-address.v-1" data-poi="Bunkeflo byväg 2" title="Bunkeflo byväg 2">Visa på karta</a></div>
    <div class="contact-us-map m-4"></div>
  </div>

  <div class="vcard" id="district-öster">
    <h2 class="fn">Vägledningscentrum Öster</h2>
    <div class="write-to-us"><a href="/">Skriv till oss</a></div>
    <div>E-post: <span class="email">vagledningscentrum-oster@malmo.se</span></div>
    <div>Tel: <span class="tel">040-34 49 92</span></div>
    <form action="{{ site.baseurl }}/" method="post" class="basic write-to-us-form">
      <h2 class="group-title">Skriv till oss</h2>
      <fieldset>
        <div class="form-group">
          <label for="name" class="control-label">Namn:*</label>
          <input class="form-control controls" type="text" id="name" name="name" placeholder="Ditt för och efternamn"/>
        </div>
        <div class="form-group">
          <label for="email" class="control-label">E-post:</label>
          <input class="controls form-control" type="email" id="email" name="email" placeholder="Din e-postadress"/>
        </div>
        <div class="form-group">
          <label for="phone" class="control-label">Telefon dagtid:</label>
          <input class="form-control controls" type="tel" id="phone" name="phone" placeholder="Ditt telefonnummer inklusive riktnummer"/>
        </div>
        <div class="form-group">
          <label for="subject" class="control-label">Meddelandet avser:</label>
          <div class="controls">
            <select id="subject" class="form-control">
              <option value=""></option>
              <option>Felanmälan</option>
              <option>Fråga</option>
              <option>Annat</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">Meddelande:</label>
          <textarea id="message" name="message" rows="8" class="controls form-control" placeholder=""></textarea>
        </div>
        <div class="form-group">
          <span class="control-label"></span>
          <div class="controls">
            <input type="submit" value="Skicka in ditt meddelande" class="btn btn-primary"/>
          </div>
        </div>
      </fieldset>
    </form>
    <h3 class="visiting-address v-5">Besöksadress</h3>
    <div class="street-address">Bullerbygatan 14</div>
    <div><a href="http://www.malmo.se/karta?poi=Bullerbygatan+14&amp;zoomlevel=4&amp;maptype=karta" class="show-on-map m-icon-location" data-map-selector=".contact-us-map.m-5" data-scroll-to=".visiting-address.v-1" data-poi="Bullerbygatan 14" title="Bullerbygatan 14">Visa på karta</a></div>
    <div class="contact-us-map m-5"></div>
  </div>
</aside>
