<section class="library-search">
  <form action="http://malmo.stadsbibliotek.org/search*swe/" method="get" name="search" class="basic">
    <div class="input-group">
      <input type="hidden" name="malin-searchtype" value="X"/>
      <label class="sr-only control-label" for="malin-search-word">Sök i katalogen:</label>
      <input placeholder="Skriv titel, författare eller ämne etc." class="form-control input-lg" type="text" name="searcharg" id="malin-search-word" maxlength="75" value=""/>
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit">Sök <span>i katalogen</span></button>
      </span>
    </div>
  </form>
  <a class="account" href="https://malmo.stadsbibliotek.org/patroninfo*swe">Logga in och låna om</a>
</section>
