<section class="library-search">
  <form action="http://malmo.stadsbibliotek.org/search*swe/" method="get" name="search" class="basic">
    <div class="input-group">
      <input type="hidden" name="malin-searchtype" value="X"/>
      <label class="sr-only control-label" for="malin-search-word">Sök i katalogen:</label>
      <input placeholder="Skriv titel, författare eller ämne etc." class="form-control input-lg" type="text" name="searcharg" id="malin-search-word" maxlength="75" value=""/>
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit">Sök <span>i katalogen</span></button>
      </span>
    </div>
    <div class="form-group">
      <label for="searchscope" class="control-label sr-only">Bibliotek</label>
      <select name="searchscope" id="searchscope" class="form-control library">
        <option value="7">Hela katalogen</option>
        <option value="8">Stadsbiblioteket</option>
        <option value="9" selected="selected">Bellevuegårdsbiblioteket</option>
        <option value="10">Bunkeflobiblioteket</option>
        <option value="11">Garaget</option>
        <option value="12">Husiebiblioteket</option>
        <option value="13">Kirsebergsbiblioteket</option>
        <option value="14">Limhamnsbiblioteket</option>
        <option value="15">Lindängenbiblioteket</option>
        <option value="16">Oxiebiblioteket</option>
        <option value="17">Rosengårdsbiblioteket</option>
        <option value="18">Tygelsjöbiblioteket</option>
        <option value="5">Malmö stadsarkiv</option>
        <option value="19">Idrottsmuseet</option>
        <option value="21">Malmö konsthall</option>
      </select>
      <a class="account" href="https://malmo.stadsbibliotek.org/patroninfo*swe">Logga in till ditt bibliotekskonto</a>
    </div>
  </form>
</section>
