<section class="movies">
  <h1>Webbvideo</h1>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/external/body-copy-2/">
        <div class="crop">
          <img src="{{ site.baseurl }}/images/news-3.jpg" alt="{{ site.baseurl }}/external/body-copy-2/"/>
          <div class="play"></div>
        </div>
        <h2>Ny utredning om toaletten på Drottningtorget på Drottningtorget på Drottningtorget</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/external/body-copy-2/">
        <div class="crop">
          <img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/external/body-copy-2/"/>
          <div class="play"></div>
        </div>
        <h2>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/external/body-copy-2/">
        <div class="crop">
          <img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/external/body-copy-2/"/>
          <div class="play"></div>
        </div>
        <h2>Över 100 barn har fått förskoleplats</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/external/body-copy-2/">
        <div class="crop">
          <img src="{{ site.baseurl }}/images/news-2.jpg" alt="{{ site.baseurl }}/external/body-copy-2/"/>
          <div class="play"></div>
        </div>
        <h2>Ny utredning om toaletten på Drottningtorget</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/external/body-copy-2/">
        <div class="crop">
          <img src="{{ site.baseurl }}/images/news-3.jpg" alt="{{ site.baseurl }}/external/body-copy-2/"/>
          <div class="play"></div>
        </div>
        <h2>Ny utredning om toaletten på Drottningtorget</h2>
      </a>
    </li>
    <li class="city-council">
      <a href="{{ site.baseurl }}/external/body-copy-2/">
        <div class="crop">
          <img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/external/body-copy-2/"/>
          <div class="play"></div>
        </div>
        <h2>Kommunfullmäktige (31/5)</h2>
      </a>
    </li>
  </ul>
  <a class="more" href="{{ site.baseurl }}/external/body-copy-2/">Fler filmer</a>
</section>
