<section class="news">
  <h1>Aktuellt &amp; nyheter</h1>
  <ul>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/body-copy-2/"/></div>
        <h2>Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/body-copy-2/"/></div>
      <h2>Över 100 barn har fått förskoleplats under den senaste veckan</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <div class="crop"><img src="{{ site.baseurl }}/images/news-3.jpg" alt="{{ site.baseurl }}/body-copy-2/"/></div>
      <h2>Ny utredning om toaletten på Drottningtorget</h2>
      </a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <ul>
        <li>
          <a href="{{ site.baseurl }}/body-copy-2/">
            <h2>När snö och halka kommer är det halt och snö<span class="date">(16/1)</span></h2>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/body-copy-2/">
            <h2>Malmö Stadsteater satsar digitalt <span class="date">(15/1)</span></h2>
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/body-copy-2/">
            <h2>Malmö stads trygghetslarm ska alltid fungera <span class="date">(15/1)</span></h2>
          </a>
        </li>
        <li class="more">
          <a href="{{ site.baseurl }}/body-copy-2/">
            Alla nyheter
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>
