<section class="news">
  <!-- <h1>Nyheter</h1> -->
  <ul>
    <li>
      <div class="crop"><img src="{{ site.baseurl }}/images/news-1.jpg" alt="{{ site.baseurl }}/body-copy-2/"/></div>
      <h2><a href="{{ site.baseurl }}/body-copy-2/">Ola testar att skriva ettväldigtlångtordsomnästanaldrigtarslut</a></h2>
    </li>
    <li>
      <div class="crop"><img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/body-copy-2/"/></div>
      <h2><a href="{{ site.baseurl }}/body-copy-2/">Över 100 barn har fått förskoleplats under den senaste veckan</a></h2>
    </li>
    <li>
      <div class="crop"><img src="{{ site.baseurl }}/images/news-3.jpg" alt="{{ site.baseurl }}/body-copy-2/"/></div>
      <h2><a href="{{ site.baseurl }}/body-copy-2/">Ny utredning om toaletten på Drottningtorget</a></h2>
    </li>
    <li>
      <ul>
        <li>
          <h2><a href="{{ site.baseurl }}/body-copy-2/">När snö och halka kommer <span class="date">(16/1)</span></a></h2>
        </li>
        <li>
          <h2><a href="{{ site.baseurl }}/body-copy-2/">Malmö Stadsteater satsar digitalt <span class="date">(15/1)</span></a></h2>
        </li>
        <li>
          <h2><a href="{{ site.baseurl }}/body-copy-2/">Malmö stads trygghetslarm ska alltid fungera <span class="date">(15/1)</span></a></h2>
        </li>
        <li class="more">
          <a href="{{ site.baseurl }}/body-copy-2/">Fler nyheter</a>
        </li>
      </ul>
    </li>
  </ul>
</section>
