<ul class="news">
  <li class="pushed">
    <img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/body-copy-2/"/>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">Ola testar datumstämpling</a></h2>
  </li>
  <li class="pushed">
    <img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/body-copy-2/"/>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">Ny utredning om toaletten på Drottningtorget</a></h2>
  </li>
  <li class="pushed">
    <img src="{{ site.baseurl }}/images/malmokommission.jpg" alt="{{ site.baseurl }}/body-copy-2/"/>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">Över 100 barn har fått förskoleplats senaste veckan</a></h2>
  </li>
  <li>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">När snö och halka kommer <span class="date">(16/01)</span></a></h2>
  </li>
  <li>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">Malmö Stadsteater satsar digitalt <span class="date">(15/01)</span></a></h2>
  </li>
  <li>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">Malmö stads trygghetslarm ska alltid fungera <span class="date">(15/01)</span></a></h2>
  </li>
  <li>
    <h2><a href="{{ site.baseurl }}/body-copy-2/">Fler artiklar</a></h2>
  </li>
</ul>
