<nav class="basic">
  <h1>Vägarbeten &amp; avstängningar</h1>
  <ul>
    <li><a href="{{ site.baseurl }}/news">Oktober</a></li>
    <li class="current"><a href="{{ site.baseurl }}/news">September</a></li>
    <li><a href="{{ site.baseurl }}/news">Augusti</a></li>
    <li><a href="{{ site.baseurl }}/news">Juli</a></li>
    <li><a href="{{ site.baseurl }}/news">Maj</a></li>
    <li><a href="{{ site.baseurl }}/news">April</a></li>
    <li><a href="{{ site.baseurl }}/news">Mars</a></li>
    <li><a href="{{ site.baseurl }}/news">Februari</a></li>
    <li><a href="{{ site.baseurl }}/news">Januari</a></li>
    <li><a href="{{ site.baseurl }}/news">December</a></li>
    <li><a href="{{ site.baseurl }}/news">November</a></li>
  </ul>
</nav>
