<section class="share">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain }}{{ site.baseurl }}{{ page.url }}" title="Dela sidan på Facebook"><span class="fa fa-facebook"> </span></a>
  <a href="https://twitter.com/intent/tweet?text=Skolmaten&amp;url={{ site.domain }}{{ site.baseurl }}{{ page.url }}" title="Twittra om sidan"><span class="fa fa-twitter"> </span></a>
  <a href="https://plus.google.com/share?url={{ site.domain }}{{ site.baseurl }}{{ page.url }}" title="Dela sidan på Google+"><span class="fa fa-google-plus"> </span></a>
</section>
