<section class="share">
  <a class="m-icon-twitter" href="https://twitter.com/intent/tweet?text=Skolmaten&amp;url={{ site.domain }}{{ site.baseurl }}{{ page.url }}" title="Twittra om sidan"></a>
  <a class="m-icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.domain }}{{ site.baseurl }}{{ page.url }}" title="Dela sidan på Facebook"></a>
  <a class="m-icon-googleplus" href="https://plus.google.com/share?url={{ site.domain }}{{ site.baseurl }}{{ page.url }}" title="Dela sidan på Google+"></a>
</section>
