---
title:  Objektslistning
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Skolmatens goda sammansättning</h1>
  <p class="preamble">
    Preamble, sed ad homero similique. Et has everti oportere
    adversarium, epicuri singulis persequeris ea qui, dissentiet
    philosophia eu est. Animal aeterno minimum id nam, eos ex omnes
    debitis interpretaris. Possim timeam nec te. Alia enim ex usu, in
    mazim consul duo.
  </p>

  <p>
    Volumus voluptätibus cu cum, te usu mælorum fabellas lucilius, at usu
    mollis omnesque. Per deträxit repudiåre ei, åt vim eligendi
    inciderint. Ei sit fugit exerci äudiam, et qui magnæ delenit! Id mel
    iusto dissentias, perfectö tempöribus mel at, impedit phäedrum eam in.
    Debitis petentium his ei, ea per civibus pericula.
  </p>

  <ol class="object-listing portrait">
    <li>
      <div class="text">
        <h2><a href="#">Ann Heberlein:En liten bok om ondska</a></h2>
        <p>”En liten bok om ondska” är trots namnet en ganska grundlig genomgång av ondska. Med ett imponerande antal verkliga exempel och väldigt många referenser, både akademiska och populärkulturella, för Ann Heberlein ett ärligt och osentimentalt resonemang om ondskan som företeelse och koncept. Boken vinner mycket på att det aldrig blir ett gottande i snaskiga detaljer. Istället så får vi många olika infallsvinklar till verkliga fall och filosofiska tolkningar av ondskan.</p>
        <p class="meta">Skrivet av: Johan Nilsson, Tygelsjöbiblioteket</p>
        <p class="meta">Media: e-bok, typ: referensexemplar</p>
        <p class="meta"><a href="#">Möt Ann Heberlein på Tygelsjöbiblioteket, torsdagen 2 oktober klockan 17.00 Ingen föranmälan</a></p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/book-1.jpg" alt="En liten bok om ondska"/></a>
      </div>
    </li>
    <li>
      <div class="text">
        <h2><a href="#">Pontus Joakim Olofsson: KoMo</a></h2>
        <p class="meta">Skrivet av: Anders Johansson, Garaget</p>
        <p>En dag bestämmer sig Kattarina Krasznapolski för att inte ta sin medicin. Hon vaknar upp till ett liv utan att veta vem det tillhör eller varför det undvikits. Bit för bit pusslar hon samman sin berättelse. Och läsaren står snart inför de stora filosofiska frågorna. Vad är liv? Vad är en människa? Och till vilket pris bygger vi vårt samhälle?</p>
        <p class="meta">Media: e-bok</p>
        <p class="meta"><a href="#">Möt Pontus Joakim Olofsson på Garaget, söndag 19 oktober klockan 12.00–16.00 Ingen föranmälan.</a></p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/book-2.jpg" alt="KoMo"/></a>
      </div>
    </li>
    <li>
      <div class="text">
        <h2><a href="#">Gabriella Håkansson: Aldermanns arvinge</a></h2>
        <p>Aldermanns arvinge är första delen i Gabriella Håkanssons omfångsrika historiska trilogi, varav andra delen Kättarnas tempel nyligen utgivits. Fakta och fiktion smälter samman i detta svindlande äventyr, i vilket det tidiga 1800-talets London återskapats med sinnlig kraft och flödande detaljrikedom. Unge William Aldermann ärver sin excentriske, antikdyrkande faders uppdrag att förverkliga det hemliga sällskapet Dilettantis grandiosa och hedonistiskt färgade visioner. En både ytterst underhållande och lärorik roman där frihetsproblematik och besatthet utgör bärande teman.</p>
        <p class="meta">Skrivet av: Eva-Lotta Persson, Limhamnsbiblioteket</p>
        <p class="meta">Media: e-bok</p>
        <p class="meta"><a href="#">Möt Gabriella Håkansson på Limhamnsbibliotek, måndag 13 oktober klockan 19.00. Anmälan</a></p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/book-3.jpg" alt="KoMo"/></a>
      </div>
    </li>
  </ol>

  <h2>Mer brödtext kan följa efter</h2>
  <p>
    Duo åd magnä ænimæl sälutændi. Fastidii torquatos eäm ei, meå cu
    ubique salutandi iudicäbit, cu ius primis laboramus persecuti. Graece
    håbemus scåevola eæm ut. Cu solet inciderint vel, eos denique ålbucius
    petentium te. Homero vidisse civibus no seå.
  </p>
</article>

{% include content_nav.html %}

{% include contact-us-district.html %}
{% include feedback.html %}
