---
title:  Objektslistning, landskapsbild
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Arenor</h1>
  <p class="preamble">
    Preamble, sed ad homero similique. Et has everti oportere
    adversarium, epicuri singulis persequeris ea qui, dissentiet
    philosophia eu est. Animal aeterno minimum id nam, eos ex omnes
    debitis interpretaris. Possim timeam nec te. Alia enim ex usu, in
    mazim consul duo.
  </p>

  <ol class="object-listing landscape">
    <li>
      <div class="text">
        <h2><a href="#">Atleticum</a></h2>
        <p>Friidrott, gym, aerobic.</p>
        <p>75 x 55 m plan golvyta. 2500 stående åskådare.</p>
        <p class="meta">Eric Perssons väg 31</p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/skola-1.jpg" alt="En bild"/></a>
      </div>
    </li>
    <li>
      <div class="text">
        <h2><a href="#">Baltiska hallen</a></h2>
        <p>Handboll, basket, tennis, badminton, bordtennis, styrketräning, gymnastik.</p>
        <p>Aktivitetsyta 48 x 25m, plats för ca 4000 åskådare.</p>
        <p class="meta">Erik Perssons väg</p>
        <p class="meta">0708-69 62 50</p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/skola-2.jpg" alt="En bild"/></a>
      </div>
    </li>
    <li>
      <div class="text">
        <h2><a href="#">Baltiska träningshallen</a></h2>
        <p>Handboll, basket, innebandy och volleyboll.</p>
        <p>42 x 25 m/40 x 20 m. Plats för 150 åskådare.</p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/skola-3.jpg" alt="En bild"/></a>
      </div>
    </li>
    <li>
      <div class="text">
        <h2><a href="#">Malmö arena</a></h2>
        <p class="meta">Ishockey, konståkning.</p>
        <p class="meta">040-642 04 00</p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/skola-4.jpg" alt="En bild"/></a>
      </div>
    </li>
    <li>
      <div class="text">
        <h2><a href="#">Swedbank stadion</a></h2>
        <p class="meta">Fotboll</p>
        <p class="meta">Eric Perssons v. 31</p>
        <p class="meta">040-32 66 00</p>
      </div>
      <div class="image">
        <a href="#"><img src="{{ site.baseurl }}/images/skola-5.jpg" alt="En bild"/></a>
      </div>
    </li>
  </ol>

  <h2>Mer brödtext kan följa efter</h2>
  <p>
    Duo åd magnä ænimæl sälutændi. Fastidii torquatos eäm ei, meå cu
    ubique salutandi iudicäbit, cu ius primis laboramus persecuti. Graece
    håbemus scåevola eæm ut. Cu solet inciderint vel, eos denique ålbucius
    petentium te. Homero vidisse civibus no seå.
  </p>
</article>

{% include content_nav.html %}

{% include contact-us-district.html %}
{% include feedback.html %}
