section.start-page-main {
  @include columns(8, false, 4%);
  margin-bottom: 1em;
  @media (max-width: 48em) {
    @include columns(12, true);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    @include clearfix();
    margin: 0;
    padding: 0;
  }

  section.primary-news {
    h1 {
      @extend %h1.aside;
      margin-top: 1.5em;
    }
    h2 {
      @extend %h2.body-copy;
      margin-top: 0;
    }
    li {
      @include clearfix();
      margin: 0 0 1em;
      padding: 0;
    }
    img {
      float: left;
      width: 8em;
      height: 8em;
      margin: .3em 1em 0 0;
      background: $background-light;
      border: 0;
    }
  }
}

ul.footer-meta {
  @include clearfix();
  @include columns(12);
  border-top: $border;
  padding-top: .5em;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  font-family: $sans-serif;
  li {
    font-size: emize(14);
  }
}
