nav.nav-page-snake {
  @include clearfix();
  clear: left;
  margin: 1em 0 0em;
  -webkit-column-width: 10em;
  -moz-column-width: 10em;
  column-width: 10em;
  -webkit-column-gap: 2.5em;
  -moz-column-gap: 2.5em;
  column-gap: 2.5em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
    li {
    }
  }
  > ul > li {
    padding-bottom: 1em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;  }
  a {
    display: inline-block;
    margin: 0 0 .5em;
    font-family: $sans-serif;
    line-height: 1.2;
    color: black;
  }
  > ul > li > a {
    font-size: emize(16);
    font-weight: bold;
  }
  li li a {
    font-size: emize(14);
  }
}
