nav.nav-page-snake {
  @include clearfix();
  clear: left;
  margin: 1em 0 1em;
  -webkit-column-width: 11em;
  -moz-column-width: 11em;
  column-width: 11em;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding: 0;
  }
  > ul > li {
    padding-bottom: 1em;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  a {
    display: block;
    margin: 0;
    padding: .4em 0;
    font-family: $sans-serif;
    line-height: 1.2;
    color: black;
    // word-wrap: break-word;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  > ul > li > a {
    font-size: emize(16);
    font-weight: bold;
    border-bottom: $border;
    margin-bottom: 0;
    padding-bottom: .2em;
  }
  li li a {
    font-size: emize(14);
  }
}
