#survey {
  margin: 1em 0 1.5em;
  border: $success-border;
  h1.box-title {
    background: $success-color;
  }
  section {
    display: none;
    padding-bottom: 1em;
    &.page-1 {
      display: block;
    }
    h1 {
      @extend %h1.body-copy;
      font-family: $serif;
      margin: .2em 0 .5em;;
    }
    p {
      font-family: $serif;
      font-size: emize(18, 14);
    }
  }
}
