@charset "UTF-8";
.wrapper {
  *zoom: 1;
  margin: 1em auto;
  max-width: 55em;
  padding: 0 1em; }
  .wrapper:before, .wrapper:after {
    display: table;
    content: "";
    line-height: 0; }
  .wrapper:after {
    clear: both; }

article.body-copy {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em; }

nav.content, nav.basic {
  width: 30.66667%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 48em) {
  .wrapper {
    max-width: 34em; }

  article.body-copy, nav.content, nav.basic {
    width: 100%;
    margin-right: 0;
    float: none;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
.feedback, .share, .contact-us {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 48em) {
    .feedback, .share, .contact-us {
      width: 100%;
      margin-right: 0;
      float: none;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

aside.feedback {
  margin-top: 1em; }
  aside.feedback form h1 {
    font-size: 1.14286em; }
  aside.feedback .trigger {
    margin: 1em 0; }
  aside.feedback form {
    display: none; }

nav.nav-page-with-direct-links {
  *zoom: 1; }
  nav.nav-page-with-direct-links:before, nav.nav-page-with-direct-links:after {
    display: table;
    content: "";
    line-height: 0; }
  nav.nav-page-with-direct-links:after {
    clear: both; }
  nav.nav-page-with-direct-links.start {
    margin-top: 1em; }
    @media (max-width: 36em) {
      nav.nav-page-with-direct-links.start {
        margin-top: -.5em; } }
  nav.nav-page-with-direct-links > h1 {
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-weight: normal;
    font-size: 2.125em;
    line-height: 1.1;
    margin: .1em 0 .3em; }
  nav.nav-page-with-direct-links > ul {
    *zoom: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    margin: 1.5em 0 .5em;
    padding: 0;
    list-style: none; }
    nav.nav-page-with-direct-links > ul:before, nav.nav-page-with-direct-links > ul:after {
      display: table;
      content: "";
      line-height: 0; }
    nav.nav-page-with-direct-links > ul:after {
      clear: both; }
    nav.nav-page-with-direct-links > ul ul {
      margin: 0;
      padding: 0; }
    nav.nav-page-with-direct-links > ul > li {
      margin-bottom: 1.5em;
      border-top: black 3px solid; }
      @media (min-width: 52em) {
        nav.nav-page-with-direct-links > ul > li {
          width: 30.66667%;
          margin-right: 4%;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          nav.nav-page-with-direct-links > ul > li:nth-child(3n) {
            width: 30.66667%;
            margin-right: 0;
            float: left;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; } }
      @media (max-width: 51.99em) and (min-width: 30em) {
        nav.nav-page-with-direct-links > ul > li:nth-child(2n+1) {
          width: 48%;
          margin-right: 4%;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        nav.nav-page-with-direct-links > ul > li:nth-child(2n) {
          width: 48%;
          margin-right: 0;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
      @media (max-width: 29.99em) {
        nav.nav-page-with-direct-links > ul > li:nth-child(n+0) {
          width: 100%;
          margin-right: 0;
          float: none;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
  nav.nav-page-with-direct-links > ul > li li {
    font-size: 0.875em; }
  nav.nav-page-with-direct-links h2 {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 0; }
  nav.nav-page-with-direct-links li a {
    position: relative;
    display: block;
    border-bottom: #b5b5b5 1px solid;
    padding: 0.57143em 0.4em;
    margin: 0;
    line-height: 1.25em; }
    nav.nav-page-with-direct-links li a:hover {
      background: whitesmoke;
      text-decoration: none; }
  nav.nav-page-with-direct-links li.more a::after {
    content: " …"; }
  nav.nav-page-with-direct-links li li a {
    color: black; }
  nav.nav-page-with-direct-links > ul > li > a {
    padding-top: 0.46667em;
    padding-bottom: 0.46667em; }
  nav.nav-page-with-direct-links ul * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

nav.nav-page-with-summaries {
  *zoom: 1; }
  nav.nav-page-with-summaries:before, nav.nav-page-with-summaries:after {
    display: table;
    content: "";
    line-height: 0; }
  nav.nav-page-with-summaries:after {
    clear: both; }
  nav.nav-page-with-summaries h1 {
    font-weight: normal;
    font-size: 2.25em;
    line-height: 1.11111em;
    margin: .1em 0 .3em; }
  nav.nav-page-with-summaries h2 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.20833em;
    margin: 0 0 .2em; }
  nav.nav-page-with-summaries p {
    font-size: 1.0625em;
    line-height: 1.47059em; }
  nav.nav-page-with-summaries a {
    display: block; }
    nav.nav-page-with-summaries a p {
      color: black; }
    nav.nav-page-with-summaries a:hover {
      text-decoration: none; }
    nav.nav-page-with-summaries a:hover h2 {
      text-decoration: underline; }
  nav.nav-page-with-summaries ul {
    margin: 1.5em 0 0;
    padding: 0;
    list-style: none; }
    nav.nav-page-with-summaries ul li {
      margin-bottom: .5em;
      width: 48%;
      margin-right: 4%;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      nav.nav-page-with-summaries ul li:nth-child(2n) {
        width: 48%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      nav.nav-page-with-summaries ul li:nth-child(2n+3) {
        clear: left; }
      @media (max-width: 48em) {
        nav.nav-page-with-summaries ul li {
          width: 100%;
          margin-right: 0;
          float: none;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          clear: left; }
          nav.nav-page-with-summaries ul li:nth-child(2n) {
            width: 100%;
            margin-right: 0;
            float: none;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; } }

section.news {
  *zoom: 1;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section.news:before, section.news:after {
    display: table;
    content: "";
    line-height: 0; }
  section.news:after {
    clear: both; }
  section.news ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  section.news > ul > li {
    margin-bottom: 1.5em;
    width: 22.75%;
    margin-right: 3%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.news > ul > li:last-child {
      width: 22.75%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    @media (max-width: 48em) {
      section.news > ul > li:nth-child(2n+1) {
        width: 48.5%;
        margin-right: 3%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.news > ul > li:nth-child(2n) {
        width: 48.5%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 26em) {
      section.news > ul > li:nth-child(n) {
        width: 100%;
        margin-right: 0;
        float: none;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  section.news h1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: 0 0 .6em;
    padding: 0 0 .3em; }
  section.news h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-size: 1.125em;
    line-height: 1.3;
    font-weight: normal; }
    @media (max-width: 58em) {
      section.news h2 {
        font-size: 1em; } }
    @media (max-width: 48em) {
      section.news h2 {
        font-size: 1.125em; } }
    @media (max-width: 40em) {
      section.news h2 {
        font-size: 1em; } }
    @media (max-width: 26em) {
      section.news h2 {
        font-size: 1.125em; } }
    section.news h2 .date {
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: .75em; }
  section.news li li {
    margin-bottom: .6em; }
  section.news li ul {
    margin-top: -.2em; }
  section.news li a {
    color: black; }
  section.news .crop {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: whitesmoke;
    border: #828282 1px solid;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  section.news img {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  section.news .more {
    text-align: right;
    margin-bottom: -.5em; }
    section.news .more a {
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.875em;
      color: #007896; }

section.movies {
  position: relative;
  *zoom: 1;
  padding: .5em .8em 0;
  background: #313131; }
  section.movies:before, section.movies:after {
    display: table;
    content: "";
    line-height: 0; }
  section.movies:after {
    clear: both; }
  section.movies ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  section.movies ul li {
    margin-bottom: 1.2em;
    width: 15.0%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.movies ul li:last-child {
      width: 15.0%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 2em; }
    @media (min-width: 38em) and (max-width: 51.99em) {
      section.movies ul li:nth-child(3n+1) {
        width: 31.33333%;
        margin-right: 3%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.movies ul li:nth-child(3n+2), section.movies ul li:nth-child(3n+2) {
        width: 31.33333%;
        margin-right: 3%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.movies ul li:nth-child(3n) {
        width: 31.33333%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (min-width: 26em) and (max-width: 37.99em) {
      section.movies ul li:nth-child(2n+1) {
        width: 48%;
        margin-right: 4%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.movies ul li:nth-child(2n) {
        width: 48%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 25.99em) {
      section.movies ul li:nth-child(n+0) {
        width: 100%;
        margin-right: 0;
        float: none;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  section.movies a {
    color: white;
    text-decoration: none; }
  section.movies h1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: 0 0 .6em 0;
    padding: 0 0 .3em;
    color: white; }
  section.movies h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em;
    font-weight: normal; }
    @media (max-width: 51.99em) {
      section.movies h2 {
        font-size: 0.875em; } }
  section.movies .crop {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: whitesmoke;
    border: 1px solid black; }
  section.movies .play {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/play.png) 50% 50% no-repeat;
    background-size: 100%;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0; }
    @media (max-width: 25.99em) {
      section.movies .play {
        background-size: 75%; } }
  section.movies a:hover .play {
    opacity: .9; }
  section.movies img {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  section.movies .more {
    position: absolute;
    bottom: .5em;
    right: 1em;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    color: white; }
    section.movies .more:hover {
      text-decoration: underline; }

.banner {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 23%;
  overflow: hidden; }
  .banner:hover div {
    border-left: #b5b5b5 1px solid;
    border-right: #b5b5b5 1px solid; }
  .banner:hover div.overlay {
    opacity: 1; }
  .banner img {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .banner div {
    position: absolute;
    z-index: 3;
    max-height: 100%;
    top: 0;
    left: 2.2em;
    bottom: 0;
    width: 15em;
    padding: .8em 1em 1em;
    color: white;
    overflow: hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; }
  .banner div.overlay {
    z-index: 2;
    opacity: 0.5;
    background: black; }
  .banner h1 {
    font-size: 1em;
    margin: 0 0 .1em; }
  .banner p {
    font-size: 0.875em;
    margin: 0; }
  @media (max-width: 48em) {
    .banner div {
      padding: .4em .6em;
      top: auto;
      left: 0;
      max-width: 12em;
      width: auto;
      background: black;
      opacity: 1; }
    .banner h1 {
      font-size: 0.875em;
      margin-bottom: 0; }
    .banner p {
      display: none; }
    .banner:hover div {
      border-color: transparent; } }
  @media (max-width: 36em) {
    .banner {
      display: none; } }

article.body-copy nav li {
  margin-bottom: .7em; }

section.toc ul {
  margin-left: 0; }
