@charset "UTF-8";
section.main {
  margin: 1em auto;
  max-width: 50em;
  padding: 0 1em; }

article.body-copy {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em; }

nav.page-nav {
  width: 30.66667%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 46em) {
  section.main {
    max-width: 32em; }

  article.body-copy, nav.page-nav {
    width: 100%;
    margin-right: 0;
    float: none;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
.feedback, .share, .contact-us {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 46em) {
    .feedback, .share, .contact-us {
      width: 100%;
      margin-right: 0;
      float: none;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

footer.bigfoot {
  width: 100%;
  margin-right: 0;
  float: none;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 2em 0 0;
  min-height: 25em; }

article.body-copy img.full {
  width: 100%;
  height: auto;
  margin: 0 0 1em; }
article.body-copy .inline-video {
  width: 100%; }
article.body-copy .context-map {
  display: none;
  width: 100%;
  height: 22.5em;
  margin: 1em 0;
  border: #b5b5b5 1px solid; }
  article.body-copy .context-map iframe {
    width: 100%;
    height: 22.5em; }
article.body-copy .box-content p, article.body-copy .box-content li {
  font-size: 0.875em; }
article.body-copy .box-content ul {
  margin-left: 0; }
article.body-copy nav li {
  margin-bottom: .7em; }

.btn.act-now {
  margin: .7em 0 1.5em 0; }

.share a span {
  font-size: 1.4em;
  margin-right: .3em; }
  .share a span.icon-twitter, .share a span.icon-twitter-sign {
    color: #55acee; }
  .share a span.icon-twitter {
    font-size: 1.5em; }
  .share a span.icon-facebook, .share a span.icon-facebook-sign {
    color: #4C66A4; }
  .share a span.icon-google-plus, .share a span.icon-google-plus {
    color: #dd4b39; }
.share a:hover {
  text-decoration: none; }

section.toc ul {
  margin-left: 0; }

section.contact-us {
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif; }
  section.contact-us h1 {
    font-size: 0.9375em;
    border-bottom: #b5b5b5 1px solid;
    padding-bottom: .2em;
    margin: 2em 0 .4em; }
  section.contact-us h2 {
    font-size: 0.8125em;
    font-weight: bold;
    margin: 1em 0 0;
    padding: 0; }
  section.contact-us > div {
    font-size: 0.8125em;
    line-height: 1.7; }
  section.contact-us form {
    display: none; }
  section.contact-us .contact-us-map {
    display: none;
    width: 100%;
    height: 40em;
    margin: 1em 0;
    border: #b5b5b5 1px solid; }
    section.contact-us .contact-us-map iframe {
      width: 100%;
      height: 40em; }
    @media (max-width: 40em) {
      section.contact-us .contact-us-map {
        height: 30em; }
        section.contact-us .contact-us-map iframe {
          height: 30em; } }
  section.contact-us .icon-phone {
    color: #007896; }

section.feedback {
  margin-top: 1em; }
  section.feedback h1 {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.9375em;
    border-bottom: #b5b5b5 1px solid;
    padding-bottom: .2em;
    margin: 1em 0 .4em; }
  section.feedback .trigger {
    margin: 1em 0; }
  section.feedback form {
    display: none; }

nav.nav-page-with-direct-links {
  *zoom: 1; }
  nav.nav-page-with-direct-links:before, nav.nav-page-with-direct-links:after {
    display: table;
    content: "";
    line-height: 0; }
  nav.nav-page-with-direct-links:after {
    clear: both; }
  nav.nav-page-with-direct-links > h1 {
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-weight: normal;
    font-size: 2.125em;
    line-height: 1.1;
    margin: .1em 0 .3em; }
  nav.nav-page-with-direct-links > ul {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    margin: 1.5em 0 0; }
    nav.nav-page-with-direct-links > ul > li {
      margin-bottom: 3em;
      border-top: black 1px solid;
      border-bottom: black 1px solid; }
      @media (min-width: 52em) {
        nav.nav-page-with-direct-links > ul > li {
          width: 30.66667%;
          margin-right: 4%;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          nav.nav-page-with-direct-links > ul > li:nth-child(3n) {
            width: 30.66667%;
            margin-right: 0;
            float: left;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
          nav.nav-page-with-direct-links > ul > li:nth-child(3n+4) {
            clear: left; } }
      @media (max-width: 51.99em) and (min-width: 30em) {
        nav.nav-page-with-direct-links > ul > li {
          clear: none;
          width: 48%;
          margin-right: 4%;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          nav.nav-page-with-direct-links > ul > li:nth-child(2n) {
            width: 48%;
            margin-right: 0;
            float: left;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
          nav.nav-page-with-direct-links > ul > li:nth-child(2n+3) {
            clear: left; } }
      @media (max-width: 29.99em) {
        nav.nav-page-with-direct-links > ul > li {
          width: 100%;
          margin-right: 0;
          float: none;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
  nav.nav-page-with-direct-links > ul > li li {
    font-size: 0.8125em; }
  nav.nav-page-with-direct-links h2 {
    font-size: 0.9375em;
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
    padding: 0; }
  nav.nav-page-with-direct-links li a {
    position: relative;
    display: block;
    border-bottom: #b5b5b5 1px solid;
    padding: .7em .4em .7em .4em;
    margin: 0;
    line-height: 1.2; }
    nav.nav-page-with-direct-links li a:hover {
      background: #f0f0f0;
      text-decoration: none; }
  nav.nav-page-with-direct-links ul ul li:last-child a {
    border-bottom: none; }
  nav.nav-page-with-direct-links li.more a::after {
    content: " …"; }
  nav.nav-page-with-direct-links li li a {
    color: black; }
  nav.nav-page-with-direct-links > ul > li > a {
    padding-top: 0.46667em;
    padding-bottom: 0.46667em; }
  nav.nav-page-with-direct-links ul * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

nav.nav-page-with-summaries {
  *zoom: 1; }
  nav.nav-page-with-summaries:before, nav.nav-page-with-summaries:after {
    display: table;
    content: "";
    line-height: 0; }
  nav.nav-page-with-summaries:after {
    clear: both; }
  nav.nav-page-with-summaries h1 {
    font-weight: normal;
    font-size: 2.125em;
    line-height: 1.1;
    margin: .1em 0 .3em; }
  nav.nav-page-with-summaries h2 {
    font-weight: normal;
    font-size: 1.375em;
    line-height: 1.2;
    margin: 0 0 .2em; }
  nav.nav-page-with-summaries p {
    font-size: 1em;
    line-height: 1.5em; }
  nav.nav-page-with-summaries a {
    display: block; }
    nav.nav-page-with-summaries a p {
      color: black; }
    nav.nav-page-with-summaries a:hover {
      text-decoration: none; }
    nav.nav-page-with-summaries a:hover h2 {
      text-decoration: underline; }
  nav.nav-page-with-summaries ul {
    margin: 1.5em 0 0; }
    nav.nav-page-with-summaries ul li {
      margin-bottom: .5em;
      width: 48%;
      margin-right: 4%;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      nav.nav-page-with-summaries ul li:nth-child(2n) {
        width: 48%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      nav.nav-page-with-summaries ul li:nth-child(2n+3) {
        clear: left; }
      @media (max-width: 46em) {
        nav.nav-page-with-summaries ul li {
          width: 100%;
          margin-right: 0;
          float: none;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          clear: left; }
          nav.nav-page-with-summaries ul li:nth-child(2n) {
            width: 100%;
            margin-right: 0;
            float: none;
            float: left;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; } }

section.news {
  *zoom: 1;
  width: 100%;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section.news:before, section.news:after {
    display: table;
    content: "";
    line-height: 0; }
  section.news:after {
    clear: both; }
  section.news a {
    color: black; }
  section.news h1 {
    font-size: 0.9375em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: .6em 0;
    padding: 0 .4em .4em; }
  section.news h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-size: 1.125em;
    font-weight: normal; }
    @media (max-width: 58em) {
      section.news h2 {
        font-size: 1em; } }
    @media (max-width: 48em) {
      section.news h2 {
        font-size: 1.125em; } }
    @media (max-width: 40em) {
      section.news h2 {
        font-size: 1em; } }
    @media (max-width: 26em) {
      section.news h2 {
        font-size: 1.125em; } }
    section.news h2 .date {
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: .75em;
      padding-left: .3em; }
  section.news > ul > li {
    margin-bottom: 2em;
    width: 22%;
    margin-right: 4%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.news > ul > li:last-child {
      width: 22%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    @media (max-width: 48em) {
      section.news > ul > li {
        width: 48%;
        margin-right: 4%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        section.news > ul > li:nth-child(2n) {
          width: 48%;
          margin-right: 0;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
    @media (max-width: 26em) {
      section.news > ul > li {
        width: 100%;
        margin-right: 0;
        float: none;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
        section.news > ul > li:nth-child(2n) {
          width: 100%;
          margin-right: 0;
          float: none;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
  section.news li li {
    display: block;
    margin-bottom: .6em; }
    section.news li li:last-child {
      margin-bottom: .6em; }
  section.news li ul {
    margin-top: -.2em; }
  section.news .crop {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: #f0f0f0;
    border: #828282 1px solid;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  section.news img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  section.news ul li.more {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    text-align: right;
    margin-bottom: -1em; }
    section.news ul li.more a {
      color: black; }

nav.page-nav {
  margin: 0 0 2em;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif; }
  nav.page-nav h1 {
    font-size: 0.9375em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: .6em 0 0;
    padding: 0 .4em .4em; }
  nav.page-nav li a {
    font-size: 0.8125em;
    display: block;
    padding: .6em .4em .6em;
    border-bottom: #b5b5b5 1px solid;
    color: black;
    margin: 0; }
    nav.page-nav li a:hover {
      background: #f0f0f0;
      text-decoration: none; }

section.movies {
  position: relative; }
  section.movies h1 {
    font-size: 0.9375em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: 0 0 .6em 0;
    padding: 0 .4em .4em; }
  section.movies h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    font-weight: normal; }
  section.movies > ul {
    position: relative;
    *zoom: 1;
    padding: .8em .8em 2em;
    background: #313131; }
    section.movies > ul:before, section.movies > ul:after {
      display: table;
      content: "";
      line-height: 0; }
    section.movies > ul:after {
      clear: both; }
    section.movies > ul a {
      color: white;
      text-decoration: none; }
  section.movies > ul > li {
    margin: 0;
    width: 22%;
    margin-right: 4%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.movies > ul > li:last-child {
      width: 22%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    @media (max-width: 48em) {
      section.movies > ul > li {
        width: 48%;
        margin-right: 4%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 1em; }
        section.movies > ul > li:nth-child(2n) {
          width: 48%;
          margin-right: 0;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        section.movies > ul > li:nth-child(-n+2) {
          margin-top: 0; } }
    @media (max-width: 26em) {
      section.movies > ul > li {
        width: 100%;
        margin-right: 0;
        float: none;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 1em !important; }
        section.movies > ul > li:nth-child(2n) {
          width: 100%;
          margin-right: 0;
          float: none;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        section.movies > ul > li:nth-child(-n+1) {
          margin-top: 0 !important; } }
  section.movies .crop {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: #f0f0f0;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  section.movies .play {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/play.png) 50% 50% no-repeat;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0; }
  section.movies a:hover .play {
    opacity: .8; }
  section.movies img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  section.movies .more {
    position: absolute;
    bottom: .5em;
    right: .6em;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.8125em;
    color: white; }

.banner {
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 23%;
  overflow: hidden;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .banner img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .banner div {
    position: absolute;
    z-index: 3;
    max-height: 100%;
    top: 0;
    left: 2em;
    bottom: 0;
    width: 12em;
    padding: .8em 1em 1em;
    color: white;
    overflow: hidden; }
  .banner div.overlay {
    z-index: 2;
    opacity: 0.5;
    background: black; }
  .banner h1 {
    font-size: 0.9375em;
    margin: 0 0 .1em; }
  .banner p {
    font-size: 0.8125em;
    margin: 0; }
  @media (max-width: 48em) {
    .banner div {
      padding: .4em .6em;
      top: auto;
      left: 0;
      max-width: 12em;
      width: auto;
      background: black;
      opacity: 1; }
    .banner h1 {
      font-size: 0.8125em;
      margin-bottom: 0; }
    .banner p {
      display: none; } }
  @media (max-width: 36em) {
    .banner {
      display: none; } }
