@charset "UTF-8";
.wrap {
  *zoom: 1;
  margin: 1em auto;
  max-width: 53em;
  padding: 0 1em; }
  .wrap:before, .wrap:after {
    display: table;
    content: "";
    line-height: 0; }
  .wrap:after {
    clear: both; }

footer.bigfoot > div.cols, footer.bigfoot > address, footer.bigfoot div.about {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 53em; }
  footer.bigfoot > div.cols:before, footer.bigfoot > div.cols:after, footer.bigfoot > address:before, footer.bigfoot > address:after, footer.bigfoot div.about:before, footer.bigfoot div.about:after {
    display: table;
    content: "";
    line-height: 0; }
  footer.bigfoot > div.cols:after, footer.bigfoot > address:after, footer.bigfoot div.about:after {
    clear: both; }
  @media (max-width: 48em) {
    footer.bigfoot > div.cols, footer.bigfoot > address, footer.bigfoot div.about {
      max-width: 34em; } }

article.body-copy {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1em; }

nav.page-nav {
  width: 30.66667%;
  margin-right: 0;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media (max-width: 48em) {
  .wrap {
    max-width: 34em; }

  article.body-copy, nav.page-nav {
    width: 100%;
    margin-right: 0;
    float: none;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
.feedback, .share, .contact-us {
  width: 65.33333%;
  margin-right: 4%;
  float: left;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 48em) {
    .feedback, .share, .contact-us {
      width: 100%;
      margin-right: 0;
      float: none;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

article.body-copy img.full {
  width: 100%;
  height: auto;
  margin: 0 0 1em; }
article.body-copy .inline-video {
  width: 100%; }
article.body-copy .context-map {
  display: none;
  width: 100%;
  height: 22.5em;
  margin: 1em 0;
  border: #b5b5b5 1px solid; }
  article.body-copy .context-map iframe {
    width: 100%;
    height: 22.5em; }
article.body-copy nav li {
  margin-bottom: .7em; }

.act-now {
  margin: 1.4em 0; }
  .act-now span::before {
    padding-right: .1em; }

.in-focus {
  position: relative;
  margin: 1em 0;
  padding: 1em 1.5em;
  border: #b5b5b5 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  font-size: 1em; }
  .in-focus h1 {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0; }
  .in-focus h1 + p {
    margin-top: .3em; }
  .in-focus p {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    margin: 0;
    padding: 0; }
  .in-focus:before {
    position: absolute;
    display: block;
    background: #43B02A;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.5em;
    content: ""; }

.share a span {
  font-size: 1.4em;
  margin-right: .3em; }
  .share a span.fa-twitter, .share a span.fa-twitter-square {
    color: #55acee; }
  .share a span.fa-twitter {
    font-size: 1.5em; }
  .share a span.fa-facebook, .share a span.fa-facebook-square {
    color: #4C66A4; }
  .share a span.fa-google-plus, .share a span.fa-google-plus {
    color: #dd4b39; }
.share a:hover span {
  text-decoration: none; }

section.toc ul {
  margin-left: 0; }

section.contact-us {
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif; }
  section.contact-us h1 {
    font-size: 1em;
    border-bottom: #b5b5b5 1px solid;
    padding-bottom: .2em;
    margin: 2em 0 .4em; }
  section.contact-us h2 {
    font-size: 0.875em;
    font-weight: bold;
    margin: 1em 0 0;
    padding: 0; }
  section.contact-us > div {
    font-size: 0.875em;
    line-height: 1.7; }
  section.contact-us form {
    display: none; }
  section.contact-us .contact-us-map {
    display: none;
    width: 100%;
    height: 40em;
    margin: 1em 0;
    border: #b5b5b5 1px solid; }
    section.contact-us .contact-us-map iframe {
      width: 100%;
      height: 40em; }
    @media (max-width: 40em) {
      section.contact-us .contact-us-map {
        height: 30em; }
        section.contact-us .contact-us-map iframe {
          height: 30em; } }
  section.contact-us .fa-phone {
    color: #007896; }

section.feedback {
  margin-top: 1em; }
  section.feedback h1 {
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 1em;
    border-bottom: #b5b5b5 1px solid;
    padding-bottom: .2em;
    margin: 1em 0 .4em; }
  section.feedback .trigger {
    margin: 1em 0; }
  section.feedback form {
    display: none; }

nav.nav-page-with-direct-links {
  *zoom: 1; }
  nav.nav-page-with-direct-links:before, nav.nav-page-with-direct-links:after {
    display: table;
    content: "";
    line-height: 0; }
  nav.nav-page-with-direct-links:after {
    clear: both; }
  nav.nav-page-with-direct-links.start {
    margin-top: 1em; }
    @media (max-width: 36em) {
      nav.nav-page-with-direct-links.start {
        margin-top: -.5em; } }
  nav.nav-page-with-direct-links > h1 {
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-weight: normal;
    font-size: 2.125em;
    line-height: 1.1;
    margin: .1em 0 .3em; }
  nav.nav-page-with-direct-links > ul {
    *zoom: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    margin: 1.5em 0 .5em; }
    nav.nav-page-with-direct-links > ul:before, nav.nav-page-with-direct-links > ul:after {
      display: table;
      content: "";
      line-height: 0; }
    nav.nav-page-with-direct-links > ul:after {
      clear: both; }
    nav.nav-page-with-direct-links > ul > li {
      margin-bottom: 1.5em;
      border-top: black 3px solid; }
      @media (min-width: 52em) {
        nav.nav-page-with-direct-links > ul > li {
          width: 30.66667%;
          margin-right: 4%;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          nav.nav-page-with-direct-links > ul > li:nth-child(3n) {
            width: 30.66667%;
            margin-right: 0;
            float: left;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; } }
      @media (max-width: 51.99em) and (min-width: 30em) {
        nav.nav-page-with-direct-links > ul > li:nth-child(2n+1) {
          width: 48%;
          margin-right: 4%;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        nav.nav-page-with-direct-links > ul > li:nth-child(2n) {
          width: 48%;
          margin-right: 0;
          float: left;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
      @media (max-width: 29.99em) {
        nav.nav-page-with-direct-links > ul > li:nth-child(n+0) {
          width: 100%;
          margin-right: 0;
          float: none;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
  nav.nav-page-with-direct-links > ul > li li {
    font-size: 0.875em; }
  nav.nav-page-with-direct-links h2 {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: bold;
    margin: 0;
    padding: 0; }
  nav.nav-page-with-direct-links li a {
    position: relative;
    display: block;
    border-bottom: #b5b5b5 1px solid;
    padding: 0.64286em 0.4em;
    margin: 0;
    line-height: 1.25em; }
    nav.nav-page-with-direct-links li a:hover {
      background: whitesmoke;
      text-decoration: none; }
  nav.nav-page-with-direct-links li.more a::after {
    content: " …"; }
  nav.nav-page-with-direct-links li li a {
    color: black; }
  nav.nav-page-with-direct-links > ul > li > a {
    padding-top: 0.46667em;
    padding-bottom: 0.46667em; }
  nav.nav-page-with-direct-links ul * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

nav.nav-page-with-summaries {
  *zoom: 1; }
  nav.nav-page-with-summaries:before, nav.nav-page-with-summaries:after {
    display: table;
    content: "";
    line-height: 0; }
  nav.nav-page-with-summaries:after {
    clear: both; }
  nav.nav-page-with-summaries h1 {
    font-weight: normal;
    font-size: 2.25em;
    line-height: 1.11111em;
    margin: .1em 0 .3em; }
  nav.nav-page-with-summaries h2 {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.20833em;
    margin: 0 0 .2em; }
  nav.nav-page-with-summaries p {
    font-size: 1.0625em;
    line-height: 1.47059em; }
  nav.nav-page-with-summaries a {
    display: block; }
    nav.nav-page-with-summaries a p {
      color: black; }
    nav.nav-page-with-summaries a:hover {
      text-decoration: none; }
    nav.nav-page-with-summaries a:hover h2 {
      text-decoration: underline; }
  nav.nav-page-with-summaries ul {
    margin: 1.5em 0 0; }
    nav.nav-page-with-summaries ul li {
      margin-bottom: .5em;
      width: 48%;
      margin-right: 4%;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      nav.nav-page-with-summaries ul li:nth-child(2n) {
        width: 48%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      nav.nav-page-with-summaries ul li:nth-child(2n+3) {
        clear: left; }
      @media (max-width: 48em) {
        nav.nav-page-with-summaries ul li {
          width: 100%;
          margin-right: 0;
          float: none;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          clear: left; }
          nav.nav-page-with-summaries ul li:nth-child(2n) {
            width: 100%;
            margin-right: 0;
            float: none;
            -ms-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; } }

section.news {
  *zoom: 1;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  section.news:before, section.news:after {
    display: table;
    content: "";
    line-height: 0; }
  section.news:after {
    clear: both; }
  section.news > ul > li {
    margin-bottom: 1.5em;
    width: 22.75%;
    margin-right: 3%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.news > ul > li:last-child {
      width: 22.75%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    @media (max-width: 48em) {
      section.news > ul > li:nth-child(2n+1) {
        width: 48.5%;
        margin-right: 3%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.news > ul > li:nth-child(2n) {
        width: 48.5%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 26em) {
      section.news > ul > li:nth-child(n) {
        width: 100%;
        margin-right: 0;
        float: none;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  section.news h1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: 0 0 .6em;
    padding: 0 0 .3em; }
  section.news h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Georgia, "Droid Serif", "DejaVu Serif", "Bitstream Vera Serif", serif;
    font-size: 1.125em;
    line-height: 1.3;
    font-weight: normal; }
    @media (max-width: 58em) {
      section.news h2 {
        font-size: 1em; } }
    @media (max-width: 48em) {
      section.news h2 {
        font-size: 1.125em; } }
    @media (max-width: 40em) {
      section.news h2 {
        font-size: 1em; } }
    @media (max-width: 26em) {
      section.news h2 {
        font-size: 1.125em; } }
    section.news h2 .date {
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: .75em; }
  section.news > ul > li:hover img {
    opacity: .85; }
  section.news li li {
    margin-bottom: .6em; }
  section.news li ul {
    margin-top: -.2em; }
  section.news li a {
    color: black; }
  section.news .crop {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: whitesmoke;
    border: #828282 1px solid;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  section.news img {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  section.news .more {
    text-align: right;
    margin-bottom: -.5em; }
    section.news .more a {
      font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
      font-size: 0.875em;
      color: #007896; }

nav.page-nav {
  margin: 0 0 2em;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif; }
  nav.page-nav h1 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: .6em 0 0;
    padding: 0 .4em .4em; }
  nav.page-nav li a {
    font-size: 0.875em;
    display: block;
    padding: .6em .4em .6em;
    border-bottom: #b5b5b5 1px solid;
    color: black;
    margin: 0; }
    nav.page-nav li a:hover {
      background: whitesmoke;
      text-decoration: none; }

section.movies {
  position: relative;
  *zoom: 1;
  padding: .5em .8em 0;
  background: #313131; }
  section.movies:before, section.movies:after {
    display: table;
    content: "";
    line-height: 0; }
  section.movies:after {
    clear: both; }
  section.movies ul li {
    margin-bottom: 1.2em;
    width: 15.0%;
    margin-right: 2%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    section.movies ul li:last-child {
      width: 15.0%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 2em; }
    @media (min-width: 38em) and (max-width: 51.99em) {
      section.movies ul li:nth-child(3n+1) {
        width: 31.33333%;
        margin-right: 3%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.movies ul li:nth-child(3n+2), section.movies ul li:nth-child(3n+2) {
        width: 31.33333%;
        margin-right: 3%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.movies ul li:nth-child(3n) {
        width: 31.33333%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (min-width: 26em) and (max-width: 37.99em) {
      section.movies ul li:nth-child(2n+1) {
        width: 48%;
        margin-right: 4%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      section.movies ul li:nth-child(2n) {
        width: 48%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 25.99em) {
      section.movies ul li:nth-child(n+0) {
        width: 100%;
        margin-right: 0;
        float: none;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
  section.movies a {
    color: white;
    text-decoration: none; }
  section.movies h1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    border-bottom: #b5b5b5 1px solid;
    margin: 0 0 .6em 0;
    padding: 0 0 .3em;
    color: white; }
  section.movies h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.75em;
    font-weight: normal; }
    @media (max-width: 51.99em) {
      section.movies h2 {
        font-size: 0.875em; } }
  section.movies .crop {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: whitesmoke;
    border: 1px solid black; }
  section.movies .play {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/play.png) 50% 50% no-repeat;
    background-size: 100%;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity: 0; }
    @media (max-width: 25.99em) {
      section.movies .play {
        background-size: 75%; } }
  section.movies a:hover .play {
    opacity: .9; }
  section.movies img {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  section.movies .more {
    position: absolute;
    bottom: .5em;
    right: 1em;
    font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
    font-size: 0.875em;
    color: white; }
    section.movies .more:hover {
      text-decoration: underline; }

.banner {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "OpenSans", "Droid Sans", "DejaVu Sans", "Bitstream Vera Sans", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 23%;
  overflow: hidden; }
  .banner:hover div {
    border-left: #b5b5b5 1px solid;
    border-right: #b5b5b5 1px solid; }
  .banner:hover div.overlay {
    opacity: 1; }
  .banner img {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .banner div {
    position: absolute;
    z-index: 3;
    max-height: 100%;
    top: 0;
    left: 2.2em;
    bottom: 0;
    width: 13em;
    padding: .8em 1em 1em;
    color: white;
    overflow: hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; }
  .banner div.overlay {
    z-index: 2;
    opacity: 0.5;
    background: black; }
  .banner h1 {
    font-size: 1em;
    margin: 0 0 .1em; }
  .banner p {
    font-size: 0.875em;
    margin: 0; }
  @media (max-width: 48em) {
    .banner div {
      padding: .4em .6em;
      top: auto;
      left: 0;
      max-width: 12em;
      width: auto;
      background: black;
      opacity: 1; }
    .banner h1 {
      font-size: 0.875em;
      margin-bottom: 0; }
    .banner p {
      display: none; }
    .banner:hover div {
      border-color: transparent; } }
  @media (max-width: 36em) {
    .banner {
      display: none; } }

footer.bigfoot div.cols {
  padding: 1.5em 1em 0; }
  footer.bigfoot div.cols nav {
    margin-bottom: 1.5em;
    width: 22%;
    margin-right: 4%;
    float: left;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    footer.bigfoot div.cols nav:last-child {
      width: 22%;
      margin-right: 0;
      float: left;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    @media (max-width: 50em) {
      footer.bigfoot div.cols nav:nth-child(2n+1) {
        width: 48%;
        margin-right: 4%;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; }
      footer.bigfoot div.cols nav:nth-child(2n) {
        width: 48%;
        margin-right: 0;
        float: left;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 32em) {
      footer.bigfoot div.cols nav {
        *zoom: 1; }
        footer.bigfoot div.cols nav:before, footer.bigfoot div.cols nav:after {
          display: table;
          content: "";
          line-height: 0; }
        footer.bigfoot div.cols nav:after {
          clear: both; }
        footer.bigfoot div.cols nav:nth-child(n+0) {
          width: 100%;
          margin-right: 0;
          float: none;
          -ms-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; } }
  footer.bigfoot div.cols h1 {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    border-bottom: #b5b5b5 1px solid;
    margin: 0 0 .6em 0;
    padding: 0 0em .3em; }
  footer.bigfoot div.cols li a {
    display: block;
    font-size: 0.875em;
    line-height: 1.4;
    margin-bottom: 1em; }
  footer.bigfoot div.cols nav.influence span, footer.bigfoot div.cols nav.events span {
    display: block;
    font-style: italic; }
  footer.bigfoot div.cols nav.social .fa-twitter, footer.bigfoot div.cols nav.social .fa-twitter-square {
    color: #55acee; }
  footer.bigfoot div.cols nav.social .fa-facebook, footer.bigfoot div.cols nav.social .fa-facebook-square {
    color: #4C66A4; }
  footer.bigfoot div.cols nav.social .fa-google-plus, footer.bigfoot div.cols nav.social .fa-google-plus {
    color: #dd4b39; }
  footer.bigfoot div.cols nav.social span {
    display: inline-block;
    width: 1em;
    margin-right: .5em; }
footer.bigfoot a:hover span {
  text-decoration: none; }
footer.bigfoot .etc {
  padding: 1em 1em 1em;
  background: #e8e8e8;
  border-top: 1px solid #888888; }
  footer.bigfoot .etc address, footer.bigfoot .etc nav.about {
    margin: 0 auto 1em;
    font-style: normal;
    text-align: center; }
    footer.bigfoot .etc address > div, footer.bigfoot .etc nav.about > div {
      display: inline-block;
      margin: 0 1.5em 0 0; }
    footer.bigfoot .etc address li, footer.bigfoot .etc nav.about li {
      display: inline-block;
      margin: 0; }
      footer.bigfoot .etc address li a, footer.bigfoot .etc nav.about li a {
        margin: 0 1.5em 0 0; }
  footer.bigfoot .etc address > div,
  footer.bigfoot .etc nav.about li a {
    font-size: 0.875em;
    line-height: 1.5em; }
  @media (max-width: 32em) {
    footer.bigfoot .etc address {
      text-align: left;
      margin-bottom: 2em; }
      footer.bigfoot .etc address > div {
        display: block;
        margin: 0; }
    footer.bigfoot .etc nav.about {
      text-align: left; }
      footer.bigfoot .etc nav.about li {
        display: block;
        margin: 0 0 1em; } }
