.banner {
  position: relative;
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 23%;
  overflow: hidden;
  @include box-sizing(border-box);

  img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    @include box-sizing(border-box);
  }
  div {
    position: absolute;
    z-index: 3;
    max-height: 100%;
    top: 0;
    left: 2em;
    bottom: 0;
    width: 12em;
    padding: .8em 1em 1em;
    color: white;
    overflow: hidden;
  }
  div.overlay {
    z-index: 2;
    opacity: 0.5;
    background: black;
  }
  h1 {
    font-size: emize(15);
    margin: 0 0 .1em;
  }
  p {
    font-size: emize(13);
    margin: 0;
  }
  @media (max-width: 48em) {
    div {
      padding: .4em .6em;
      top: auto;
      left: 0;
      max-width: 12em;
      width: auto;
      background: black;
      opacity: 1;
    }
    h1 {
      font-size: emize(13, 16);
      margin-bottom: 0;
    }
    p {
      display: none;
    }
  }
  @media (max-width: 36em) {
    display: none;
  }
}
