footer.bigfoot {
  @include clearfix();
  border-top: $backgroundDark 3px solid;
  background: $backgroundLight;
  margin: 2em 0 0;
  font-family: $sansSerif;
  a {
    color: black;
  }

  div.cols {
    padding: 1.5em 1em 0;
    nav {
      margin-bottom: 1.5em;
      @include columns(3, false, 4%);
      &:last-child {
        @include columns(3, true, 4%);
      }
      @media (max-width: 50em) {
        &:nth-child(2n+1) {
          @include columns(6, false, 4%);
        }
        &:nth-child(2n) {
          @include columns(6, true, 4%);
        }
      }
      @media (max-width: 32em) {
        @include clearfix();
        &:nth-child(n+0) {
          @include columns(12);
        }
      }
    }

    h1 {
      display: block;
      font-size: emize(16);
      font-weight: bold;
      line-height: 1;
      border-bottom: $border;
      margin: 0 0 .6em 0;
      padding: 0 0em .3em;
    }
    li a {
      display: block;
      font-size: emize(14);
      line-height: 1.4;
      margin-bottom: 1em;
    }
    nav.influence, nav.events {
      span {
        display: block;
        font-style: italic;
      }
    }

    nav.social {
      .fa-twitter, .fa-twitter-square {
        color: #55acee;
      }
      .fa-facebook, .fa-facebook-square {
        color: #4C66A4;
      }
      .fa-google-plus, .fa-google-plus {
        color: #dd4b39;
      }
      span {
        display: inline-block;
        width: 1em;
        margin-right: .5em;
      }
    }
  }
  a:hover span {
    text-decoration: none;
  }
}
