article.body-copy {
  img.full {
    width: 100%;
    height: auto;
    margin: 0 0 1em;
  }
  .the-map {
    display: none;
    width: 100%;
    height: emize(360);
    margin: 1em 0;
    border: $border;
    iframe {
      width: 100%;
      height: emize(360);
    }
  }
}
.btn.act-now {
  margin: .7em 0 1.5em 0;
}

