.contact-us {
  margin-top: 1em;
  h1 {
    padding-left: 0 !important;
  }
  > div {
    font-size: emize(14);
    line-height: 1.7;
  }
  form {
    display: none;
  }
  .contact-us-map {
    display: none;
    width: 100%;
    height: 40em;
    margin: 1em 0;
    border: $border;
    iframe {
      width: 100%;
      height: 40em;
    }
    @media (max-width: 40em) {
      height: 30em;
      iframe {
        height: 30em;
      }
    }
  }
}
