section.contact-us {
  font-family: $sansSerif;
  h1 {
    font-size: emize(15);
    border-bottom: $border;
    padding-bottom: .2em;
    margin: 2em 0 .4em;
  }
  h2 {
    font-size: emize(13);
    font-weight: bold;
    margin: 1em 0 0;
    padding: 0;
  }
  > div {
    font-size: emize(13);
  }
  .contact-us-map {
    display: none;
    width: 100%;
    height: emize(360);
    margin: 1em 0;
    border: $border;
    iframe {
      width: 100%;
      height: emize(360);
    }
  }
  .icon-phone {
    color: $linkColor;
  }
}
