section.feedback {
  margin-top: 1em;
  h1 {
    font-family: $sansSerif;
    font-size: emize(16);
    border-bottom: $border;
    padding-bottom: .2em;
    margin: 1em 0 .4em;
  }
  .trigger {
    margin: 1em 0;
  }
  form {
    display: none;
  }
}
