section.main {
  margin: 1em auto;
  max-width: 50em;
  padding: 0 1em;
}

article.body-copy {
  @include columns(8, false, 4%);
  margin-bottom: 1em;
}

nav.page-nav {
  @include columns(4, true, 4%);
}

// One column grid
@media (max-width: 46em) {
  section.main {
    max-width: 32em;
  }
  article.body-copy, nav.page-nav {
    @include columns(12);
  }
}

.news, .feedback, .share, .contact-us {
  @include columns(8, false, 4%);
  @media (max-width: 46em) {
    @include columns(12);
  }
}

footer.bigfoot {
  @include columns(12);
  margin: 2em 0 0;
  min-height: emize(400);
}
