// header#malmo-masthead { display: none; }
// body { margin-top: 1em }

body {
  max-width: emize(320);
}

section.main {
  margin: 1em;
  min-height: emize(200);
}

footer.bigfoot {
  margin: 2em 0 0;
  min-height: emize(300);
}
