section.library-search {
  margin: 1.3em 0 2em ;

  .input-group {
    margin-bottom: .5em;
    *width: 90%;
    .btn-lg {
      height: 46px; // Bugfix for Bootstrap
    }
  }

  .account {
    display: inline-block;
    font-family: $sans-serif;
    font-size: emize(14);
    color: #000;
    margin-top: .6em;
  }

  @media (max-width: 48em) {
    button span {
      display: none;
    }
  }
}
