article.body-copy {
  img.full {
    width: 100%;
    height: auto;
    margin: 0 0 1em;
  }
  .inline-video {
    width: 100%;
  }
  .context-map {
    display: none;
    width: 100%;
    height: emize(360);
    margin: 1em 0;
    border: $border;
    iframe {
      width: 100%;
      height: emize(360);
    }
  }
  .box-content {
    p, li {
      font-size: emize(14);
    }
    ul {
      margin-left: 0;
    }
  }
  nav li {
    margin-bottom: .7em;
  }
}

.act-now {
  margin: 1.4em 0;
  span::before {
    padding-right: .1em;
  }
}

.in-focus {
  position: relative;
  margin: 1em 0;
  border: $border;
  @include radius(3px);
  font-family: $sansSerif;
  font-size: emize(15);
  h1 {
    font-family: $sansSerif;
    font-size: emize(16);
    font-weight: bold;
    margin: .6em emize(24) .2em;
  }
  p {
    font-family: $sansSerif;
    font-size: emize(14);
    margin: 0 emize(24, 14);
  }
  p:last-child {
    margin-bottom: 1em;
  }
  &:before {
    position: absolute;
    display: block;
    background: #43B02A;
    top: 0;
    bottom: 0;
    left: 0;
    width: emize(8);
    content: "";
  }
}

.share a {
  span {
    font-size: 1.4em;
    margin-right: .3em;
    &.icon-twitter, &.icon-twitter-sign {
      color: #55acee;
    }
    &.icon-twitter {
      font-size: 1.5em;
    }
    &.icon-facebook, &.icon-facebook-sign {
      color: #4C66A4;
    }
    &.icon-google-plus, &.icon-google-plus {
      color: #dd4b39;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

section.toc ul {
  margin-left: 0;
}
