article.body-copy {
  img.full {
    width: 100%;
    height: auto;
    margin: 0 0 1em;
  }
  .context-map {
    display: none;
    width: 100%;
    height: emize(360);
    margin: 1em 0;
    border: $border;
    iframe {
      width: 100%;
      height: emize(360);
    }
  }
}
.btn.act-now {
  margin: .7em 0 1.5em 0;
}

.share a span {
  font-size: 1.4em;
  margin-right: .3em;
  &.icon-twitter, &.icon-twitter-sign {
    color: #55acee;
  }
  &.icon-twitter {
    font-size: 1.5em;
  }
  &.icon-facebook, &.icon-facebook-sign {
    color: #4C66A4;
  }
  &.icon-google-plus, &.icon-google-plus {
    color: #dd4b39;
  }
}
