section.movies {
  position: relative;
  h1 {
    display: none;
    font-size: emize(15);
    font-weight: bold;
    line-height: 1;
    font-family: $sansSerif;
    border-bottom: $border;
    margin: 0 0 .6em 0;
    padding: 0 .4em .4em;
  }
  h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $sansSerif;
    font-size: emize(11);
    @media (max-width: 51.99em) {
      font-size: emize(13);
    }
    font-weight: normal;
  }
  > ul {
    position: relative;
    @include clearfix();
    padding: .8em .8em 1em;
    background: $backgroundDarker;
    a {
      color: white;
      text-decoration: none;
    }
  }
  > ul > li {
    margin: 0 0 1em;
    @include columns(2, false);
    &:last-child {
      @include columns(2, true);
    }
    @media (min-width: 38em) and (max-width: 51.99em) {
      @include columns(4, false, 3%);
      &:nth-child(3n) {
        @include columns(4, true, 3%);
      }
    }
    @media (min-width: 26em) and (max-width: 37.99em) {
      @include columns(6, false, 4%);
      &:nth-child(2n) {
        @include columns(6, true, 4%);
      }
    }
    @media (max-width: 25.99em) {
      @include columns(12);
      &:last-child {
        @include columns(12, true);
      }
    }
  }

  .crop {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: $backgroundLight;
    @include box-sizing(border-box);
  }
  .play {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/play.png) 50% 50% no-repeat;
    background-size: 100%;
    @media (max-width: 25.99em) {
      background-size: 75%;
    }
    @include transition(opacity 0.5s);
    opacity: 0;
  }
  a:hover .play {
    opacity: .8;
  }
  img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
    @include box-sizing(border-box);
  }
  .more {
    position: absolute;
    bottom: .5em;
    right: .6em;
    font-family: $sansSerif;
    font-size: emize(13);
    color: white;
  }
}
