section.movies {
  position: relative;
  h1 {
    font-size: emize(15);
    font-weight: bold;
    line-height: 1;
    font-family: $sansSerif;
    border-bottom: $border;
    margin: 0 0 .6em 0;
    padding: 0 .4em .4em;
  }
  h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $sansSerif;
    font-size: emize(11);
    font-weight: normal;
  }
  > ul {
    position: relative;
    @include clearfix();
    padding: .8em .8em;
    background: $backgroundDarker;
    a {
      color: white;
      text-decoration: none;
    }
  }
  > ul > li {
    margin: 0;
    @include columns(3, false, 4%);
    &:last-child {
      @include columns(3, true, 4%);
    }
    @media (max-width: 48em) {
      @include columns(6, false, 4%);
      &:nth-child(2n) {
        @include columns(6, true, 4%);
      }
      margin-top: 1em;
      &:nth-child(-n+2) {
        margin-top: 0;
      }
    }
    @media (max-width: 26em) {
      @include columns(12);
      &:nth-child(2n) {
        @include columns(12);
      }
      margin-top: 1em !important;
      &:nth-child(-n+1) {
        margin-top: 0 !important;
      }
    }
  }

  .crop {
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: $backgroundLight;
    @include box-sizing(border-box);
  }
  .play {
    position: absolute;
    z-index: 2;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../images/play.png) 50% 50% no-repeat;
    @include transition(opacity 0.4s);
    opacity: 0;
  }
  a:hover .play {
    opacity: .8;
  }
  img {
    position: absolute;
    z-index: 1;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
    @include box-sizing(border-box);
  }
  .more {
    position: absolute;
    bottom: .5em;
    right: .6em;
    font-family: $sansSerif;
    font-size: emize(11);
    color: white;
  }
}
