nav.nav-page-with-summaries-alt-2 {
  @include clearfix();
  > h1 {
    font-family: $serif;
    font-weight: normal;
    font-size: emize(34, 16);
    line-height: 1.1;
    margin: .1em 0 .3em;
  }
  h2 {
    font-size: emize(15);
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    position: relative;
    display: block;
    border-top: $border;
    border-bottom: $border;
    padding: .45em .4em .5em;
    margin: 0 0 .4em;
    line-height: 1.2;
    &:hover {
      background: $backgroundLight;
      text-decoration: none;
    }
  }
  p {
    font-size: emize(13);
    line-height: 1.5;
  }

  > ul {
    font-family: $sansSerif;
    margin: 1.5em 0 0;
    > li {
      margin-bottom: 2em;
      @media (min-width: 52em) {
        @include columns(4, false, 4%);
        &:nth-child(3n) {
          @include columns(4, true, 4%);
        }
        &:nth-child(3n+4) {
          clear: left;
        }
      }
      @media (max-width: 51.99em) and (min-width: 30em) {
        clear: none;
        @include columns(6, false, 4%);
        &:nth-child(2n) {
          @include columns(6, true, 4%);
        }
        &:nth-child(2n+3) {
          clear: left;
        }
      }
      @media (max-width: 29.99em) {
        @include columns(12);
      }
    }
  }

}
