nav.nav-page-with-direct-links {
  @include clearfix();
  > h1 {
    font-family: $serif;
    font-weight: normal;
    font-size: emize(34, 16);
    line-height: 1.1;
    margin: .1em 0 .3em;
  }

  > ul {
    @include clearfix();
    font-family: $sansSerif;
    margin: 1.5em 0 .5em;
    > li {
      margin-bottom: 1.5em;
      border-top: black 3px solid;
      border-bottom: $borderColor 0px solid;
      @media (min-width: 52em) {
        @include columns(4, false, 4%);
        &:nth-child(3n) {
          @include columns(4, true, 4%);
        }
        &:nth-child(3n+4) {
          clear: left;
        }
      }
      @media (max-width: 51.99em) and (min-width: 30em) {
        clear: none;
        @include columns(6, false, 4%);
        &:nth-child(2n) {
          @include columns(6, true, 4%);
        }
        &:nth-child(2n+3) {
          clear: left;
        }
      }
      @media (max-width: 29.99em) {
        @include columns(12);
      }
    }
  }

  > ul > li li {
    font-size: emize(14);
  }

  h2 {
    font-size: emize(16);
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  li a {
    position: relative;
    display: block;
    border-bottom: $border;
    padding: .7em .4em .7em .4em;
    margin: 0;
    line-height: 1.2;
    &:hover {
      background: $backgroundLight;
      text-decoration: none;
    }
  }
  li.more a::after {
    content: " …"
  }

  li li a {
    color: black;
  }
  > ul > li > a {
    padding-top: emize(7, 15);
    padding-bottom: emize(7, 15);
  }
  ul * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
