nav.nav-page {
  @include clearfix();
  > h1 {
    font-family: $serif;
    font-weight: normal;
    font-size: emize(32, 16);
    line-height: 1.1;
    margin: .1em 0 .3em;
  }

  font-family: $sansSerif;
  > ul {
    margin: 1.5em 0 0;
    > li {
      margin-bottom: 2em;
      border-top: $border;
      @media (min-width: 52em) {
        @include columns(4, false, 4%);
        &:nth-child(3n) {
          @include columns(4, true, 4%);
        }
        &:nth-child(3n+4) {
          clear: left;
        }
      }
      @media (max-width: 51.99em) and (min-width: 30em) {
        clear: none;
        @include columns(6, false, 4%);
        &:nth-child(2n) {
          @include columns(6, true, 4%);
        }
        &:nth-child(2n+3) {
          clear: left;
        }
      }
      @media (max-width: 29.99em) {
        @include columns(12);
      }
    }
  }

  > ul > li li {
    font-size: emize(13);
  }

  h2 {
    font-size: emize(15);
    line-height: 1.2;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  li.go-to {
    display: none;
    padding: .2em .5em;
    font-size: emize(11);
    border-bottom: $border;
    background: $backgroundDark;
    color: white;
  }

  li a {
    position: relative;
    display: block;
    border-bottom: $border;
    padding: .7em .4em .7em .4em;
    color: black;
    margin: 0;
    line-height: 1.2;
    // padding-right: 1.8em;
    // &::after {
    //   position: absolute;
    //   content: "\f054";
    //   font-family: $iconFont;
    //   font-size: 13px;
    //   color: #ccc;
    //   top: .9em;
    //   right: .4em;
    // }

    &:hover {
      background: $backgroundLight;
      text-decoration: none;
    }
  }
  > ul > li > a {
    padding-top: emize(7, 15);
    padding-bottom: emize(7, 15);
  }

  .banner {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    div {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 2em;
      width: 12em;
      padding: .8em 1em 1em;
      color: white;
      h1 {
        font-size: emize(15);
        margin: 0 0 .3em;
      }
      p {
        font-size: emize(13);
        margin: 0;
      }
    }
    div.overlay {
      z-index: 1;
      opacity: 0.5;
      background: black;
      height: 9.81em;
    }
  }
  ul * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
