section.news {
  h1 {
    font-size: emize(15);
    font-weight: bold;
    line-height: 1;
    font-family: $sansSerif;
    border-bottom: $border;
    margin: .6em 0 1em;
    padding: 0 .4em .4em;
  }
  h2 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $serif;
    font-size: emize(16);
    @media (max-width: 56em) { font-size: emize(14) }
    @media (max-width: 52em) { font-size: emize(16) }
    @media (max-width: 40em) { font-size: emize(14) }
    @media (max-width: 26em) { font-size: emize(16) }
    @media (max-width: 22em) { font-size: emize(14) }
    font-weight: normal;
    a {
      color: black;
    }
    .date {
      font-family: $sansSerif;
      font-size: .75em;
      padding-left: .3em;
    }
  }
  > ul > li {
    margin-bottom: 2em;
    @include columns(3, false, 4%);
    &:last-child {
      @include columns(3, true, 4%);
    }
    @media (max-width: 52em) {
      @include columns(6, false, 4%);
      &:nth-child(2n) {
        @include columns(6, true, 4%);
      }
    }
    @media (max-width: 26em) {
      @include columns(12);
      &:nth-child(2n) {
        @include columns(12);
      }
    }
  }
  li li {
    display: block;
    margin-bottom: .6em;
  }

  li ul {
    margin-top: -.2em;
  }

  .crop {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 56.25%;
    margin-bottom: .3em;
    overflow: hidden;
    background: $backgroundLight;
    border: $borderDark;
    @include box-sizing(border-box);
  }
  img {
    position: absolute;
    z-index: 1;
    display: block;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    @include box-sizing(border-box);
  }
  .more {
    font-family: $sansSerif;
    font-size: emize(13);
    text-align: right;
  }
}
