nav.page-nav {
  margin: 0 0 2em;
  font-family: $sansSerif;
  h1 {
    font-size: emize(15);
    font-weight: bold;
    line-height: 1;
    font-family: $sansSerif;
    border-bottom: $border;
    margin: .6em 0 0;
    padding: 0 .4em .4em;
  }
  li a {
    font-size: emize(13);
    display: block;
    padding: .6em .4em .6em;
    border-bottom: $border;
    color: black;
    margin: 0;
    &:hover {
      background: $backgroundLight;
      text-decoration: none;
    }
  }
}
