---
layout: default
title:  Bassida med tabell
permalink: /body-copy-3/
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Näringsvärde</h1>

  <p class="preamble">
    Preamble, sed ad homero similique. Et has everti oportere
    adversarium, epicuri singulis persequeris ea qui, dissentiet
    philosophia eu est. Animal aeterno minimum id nam, eos ex omnes
    debitis interpretaris. Possim timeam nec te. Alia enim ex usu, in
    mazim consul duo.
  </p>

  <p>
    Possum intellegåm pri ei, eu atqui corpora ius. Doming målorum
    discere id pro.
  </p>
  <table class="wrap full">
    <thead>
      <th> </th>
      <th>Kilokalorier</th>
      <th>Kolhydrater</th>
      <th>Fett</th>
      <th>Sockerarter</th>
      <th>Avarter</th>
      <th>Fleromättat</th>
    </thead>
    <tbody>
      <th>Pannkakor</th>
      <td>12123</td>
      <td>549</td>
      <td>12%</td>
      <td>Många</td>
      <td>Fler</td>
      <td>Boom</td>
    </tbody>
    <tbody>
      <th>Våfflor</th>
      <td>549</td>
      <td>76123</td>
      <td>22%</td>
      <td>Många</td>
      <td>Fler</td>
      <td>Bang</td>
    </tbody>
    <tbody>
      <th>Candy bar</th>
      <td>23</td>
      <td>123</td>
      <td>32%</td>
      <td>Många</td>
      <td>Fler</td>
      <td>Fox</td>
    </tbody>
    <tbody>
      <th>Varma koppen</th>
      <td>3</td>
      <td>32</td>
      <td>2%</td>
      <td>Inga</td>
      <td>Fler</td>
      <td>Barx</td>
    </tbody>
    <tbody>
      <th>Ristretto</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>n/a</td>
      <td>n/a</td>
      <td>n/a</td>
    </tbody>
  </table>

  <h2>Andra värden</h2>
  <p>
    Possum intellegåm pri ei, eu atqui corpora ius. Doming målorum
    discere id pro, æd iracundiå suscipiåntur mel? Tritæni feugiæt an per,
    cum quod utinam labore in? Usu id errem nostrud reprimique. Ex legimus
    sensibus sed.
  </p>

</article>

{% include content_nav.html %}

{% include share.html %}
{% include contact-us.html %}
{% include feedback.html %}
