---
layout: default
title:  Bassida med formulär
permalink: /body-copy-4/
---

{% include breadcrumbs.html %}

<article class="body-copy">
  <h1>Anmäl ditt barn till 5:2-menyn</h1>

  <p class="preamble">
    Preamble, sed ad homero similique. Et has everti oportere
    adversarium, epicuri singulis persequeris ea qui, dissentiet
    philosophia eu est. Possim timeam nec te. Alia enim ex usu, in
    mazim consul duo.
  </p>

  <h2>Anmälan</h2>

  <form action="{{ site.baseurl }}/body-copy-4/" method="post" class="form-horizontal malmo-form">
    <section>
      <p class="help">
        Fyll i uppgifterna på heder och samvete.
      </p>

      <div class="control-group">
        <label for="person-name" class="control-label">Barnets namn:*</label>
        <div class="controls">
          <input type="text" id="person-name" name="person-name" class="input-block-level" placeholder="t.ex. Frank Mosely"/>
        </div>
      </div>
      <div class="control-group">
        <label for="social-security" class="control-label">Barnets personnummer:*</label>
        <div class="controls">
          <input type="text" id="social-security" name="social-security" class="input-block-level" placeholder="t.ex. 031231-1234"/>
          <p class="help-inline">
            Använd formatet 031231-1234
          </p>
        </div>
      </div>

      <div class="control-group">
        <label for="email-x" class="control-label">Min e-postadress:*</label>
        <div class="controls">
          <input type="email" id="email-x" name="email" class="input-block-level" placeholder="t.ex. joan.doe@malmo.se"/>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">Mitt barn äter följande:*</div>
        <label class="checkbox inline">
          <input type="checkbox" name="color-2" value="red"/>
          5
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="color-2" value="green"/>
          2
        </label>
        <label class="checkbox inline">
          <input type="checkbox" name="color-2" value="blue"/>
          5:2
        </label>
      </div>

      <div class="control-group">
        <label for="comment-x" class="control-label">Kommentarer:*</label>
        <div class="controls">
          <textarea id="comment-x" name="comment" rows="5" class="input-block-level"></textarea>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <input type="submit" value="Skicka in anmälan" class="btn btn-primary"/>
        </div>
      </div>
    </section>
  </form>
</article>

{% include page-nav.html %}

{% include share.html %}
{% include contact-us.html %}
{% include feedback.html %}
