---
layout: default
title:  Bildtester – desktopoptimerad, retinaoptimerad, hårdkomprimmerad
permalink: /images-3/
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Bildtester – elever 1108px</h1>

  <img src="{{ site.baseurl }}/images/compress/elever-1_000q_1108px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 0, 1108✕738px, 42kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_010q_1108px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 10, 1108✕738px, 56kb</p>
</article>

{% include content_nav.html %}

{% include contact-us.html %}
{% include feedback.html %}
