---
layout: default
title:  Bildtester – cykel
permalink: /images-1/
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Bildtester – cyklar</h1>

  <img src="{{ site.baseurl }}/images/compress/600px_10.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 10, 600✕400px, 21kb</p>

  <img src="{{ site.baseurl }}/images/compress/600px_20.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 20, 600✕400px, 30kb</p>

  <img src="{{ site.baseurl }}/images/compress/600px_40.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 40, 600✕400px, 42kb</p>

  <img src="{{ site.baseurl }}/images/compress/600px_60.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 60, 600✕400px, 68kb</p>

  <img src="{{ site.baseurl }}/images/compress/1200px_10.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 10, 1200✕800px, 77kb</p>

  <img src="{{ site.baseurl }}/images/compress/600px_80.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 80, 600✕400px, 115kb</p>

  <img src="{{ site.baseurl }}/images/compress/600px_100.jpg" class="full" alt="Cykel"/>
  <p class="caption">Kvalitet 100, 600✕400px, 232kb</p>
</article>

{% include content_nav.html %}

{% include share.html %}
{% include contact-us.html %}
{% include feedback.html %}
