---
layout: default
title:  Bildtester – elever 600px
permalink: /images-1/
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Bildtester – elever 600px</h1>

  <img src="{{ site.baseurl }}/images/compress/elever-1_000q_600px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 0, 600✕400px, 17kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_020q_600px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 20, 600✕400px, 30kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_040q_600px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 40, 600✕400px, 42kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_060q_600px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 60, 600✕400px, 68kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_080q_600px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 80, 600✕400px, 113kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_100q_600px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 100, 600✕400px, 219kb</p>
</article>

{% include content_nav.html %}

{% include contact-us.html %}
{% include feedback.html %}
