---
layout: default
title:  Bildtester – desktopoptimerad
permalink: /images-2/
---

{% include breadcrumbs.html %}

<article class="body-copy" role="main">
  <h1>Bildtester – elever 554px</h1>

  <img src="{{ site.baseurl }}/images/compress/elever-1_000q_554px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 0, 554✕369px, 15kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_020q_554px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 20, 554✕369px, 27kb</p>

  <img src="{{ site.baseurl }}/images/compress/elever-1_040q_554px.jpg" class="full" alt="Elever"/>
  <p class="caption">Kvalitet 40, 554✕369px, 38kb</p>
</article>

{% include content_nav.html %}

{% include contact-us.html %}
{% include feedback.html %}
