---
layout: default
title:  Nyhetsarkiv
permalink: /news/
---

{% include breadcrumbs-news.html %}

<main class="news-archive body-copy">
  <h1>Vägarbeten &amp; avstängningar</h1>
  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Specialtransporter till grundskolan</h1>
      <p>Från och med på måndag den 22 september körs skolresor med specialtransporter till grundskolorna som vanligt igen. Måndagen därpå, den 29 september, är även turerna till gymnasiesärskolan och förskolan åter i drift. <time>2014-09-21 16:42</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Asfaltsarbeten kring Triangeln</h1>
      <img src="{{ site.baseurl }}/images/news-article-1.jpg" alt="Foo bar"/>
      <p>Asfaltsarbeten i Rådmansgatan och Östra Rönneholmsgatan påverkar trafiken i centrum med flyttade bussar och avstängda gator. Den 25 september beräknas trafiken kunna flyta på som vanligt igen. <time>2014-09-21 12:25</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Så röstade Malmö: kolla på karta</h1>
      <p>Malmö stads valatlas visar hur malmöborna röstade i valet 14 september. Med ett par enkla klick får du information om olika valdistrikt och om resultatet över hela staden. <time>2014-09-21 10:13</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Ny mandatperiod: politiska beslut efter valet</h1>
      <img src="{{ site.baseurl }}/images/news-article-2.jpg" alt="Foo bar"/>
      <p>Den 14 september var det val. Under hösten fattar kommunfullmäktige och kommunstyrelsen vissa beslut som har samband med valet. Det blir också beslut om skattesats och budget för 2015. <time>2014-09-20 21:13</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Nya specialfordon på plats nästa vecka</h1>
      <p>Vid det kraftiga skyfallet söndagen den 31 augusti blev samtliga 35 specialfordon för färdtjänstresor vattenskadade.  Alltsedan dess har vi haft problem att köra de som är i behov av specialtransport när det gäller färdtjänst, skolresor och sjuktransporter. Men nu är lösningen nära! <time>2014-09-20 14:43</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Flottan på besök på Sigmakajen</h1>
      <p>Två fartyg från flottan besökte nyligen Malmö och Sigmakajen. Malmö stad bjöd samtidigt in till Malmö rådhus. <time>2014-09-20 08:13</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Badvattnet håller god kvalitet</h1>
      <p>Alla Malmös badplatser i havet håller god kvalitet och det går bra att bada. <time>2014-09-19 19:13</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Malmö är utsedd till Skånes bästa HBTQ kommun</h1>
      <img src="{{ site.baseurl }}/images/news-article-3.jpg" alt="Foo bar"/>
      <p>Av Sveriges alla 290 kommuner, har Malmö utnämnts till Sveriges tredje bästa för HBTQ-personer. Det innebär att vi är den bästa HBTQ-kommunen i hela Skåne. <time>2014-09-19 12:43</time></p>
    </a>
  </section>

  <section>
    <a href="{{ site.baseurl }}/news-page/">
      <h1>Nobelpristagare gästade Rådhuset</h1>
      <img src="{{ site.baseurl }}/images/news-article-2.jpg" alt="Foo bar"/>
      <p>Nobelpristagaren i medicin Arvid Carlsson var på kongress i Malmö i veckan. Malmö stad passade på att ta emot på Rådhuset. <time>2014-09-19 06:13</time></p>
    </a>
  </section>
</main>

{% include news_nav.html %}

{% include contact-us.html %}
{% include feedback.html %}
