---
layout: default
title:  Nyhetssida
permalink: /news-page/
---

{% include breadcrumbs-news.html %}

<article class="body-copy news" role="main">
  <h1>Ny mandatperiod: politiska beslut efter valet</h1>
  <p class="updated">Senast uppdaterad 2014-09-16 09:22</time>.</p>

  <img src="{{ site.baseurl }}/images/news-article-2.jpg" alt="Foo bar" class="full"/>
  <p class="caption">Primärbild med en bildtext. Foto: Photon Photosson.</p>

  <p class="preamble">
    Den 14 september var det val. Under hösten fattar kommunfullmäktige och kommunstyrelsen vissa beslut som har samband med valet. Det blir också beslut om skattesats och budget för 2015.
  </p>

  <p>
    Besluten under hösten handlar bland annat om val av ordförande, kommunalråd och revisorer. Den 27 och 28 november beslutar kommunfullmäktige om skattesats och budget för 2015.
  </p>

  <section class="box light facts">
    <h1 class="box-title">Fakta</h1>
    <div class="box-content">
      <p>
        För valet 14 september finns det nu ett preliminärt valresultat. Det
        slutliga resultatet för riksdagsvalet beräknas vara fastställt den 20
        september. Länsstyrelserna fastställer sedan resultaten för valen till
        kommun- och landstingsfullmäktige. Samtliga val brukar vara
        färdigräknade ungefär två veckor efter valdagen.
      </p>
    </div>
  </section>

  <section class="box light read-more">
    <h1 class="box-title">Läs mer</h1>
    <div class="box-content">
      <ul>
        <li><a href="http://www.malmo.se/">De politiska besluten som ska tas efter valet</a></li>
        <li><a href="http://val.se/">Följ valet på val.se</a></li>
      </ul>
    </div>
  </section>
</article>

{% include news_nav.html %}

{% include contact-us.html %}
{% include feedback.html %}
