---
layout: default
title:  "Startsida"
permalink: /start-page-2/
---

<nav class="nav-page-with-direct-links start">
  {% include banner.html %}
  <ul>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <h2>Bo, bygga &amp; miljö</h2>
      </a>
      <ul class="popular">
        <li><a href="{{ site.baseurl }}/body-copy-2/">Avfall &amp; återvinning</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Bygglov</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Hitta bostad</a></li>
        <li class="more"><a href="{{ site.baseurl }}/body-copy-2/">Fler val</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <h2>Förskola &amp; utbildning</h2>
      </a>
      <ul class="popular">
        <li><a href="{{ site.baseurl }}/body-copy-2/">Förskolor</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Grundskolor</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Skolmat</a></li>
        <li class="more"><a href="{{ site.baseurl }}/body-copy-2/">Fler val</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <h2>Företagande &amp; jobb</h2>
      </a>
      <ul class="popular">
        <li><a href="{{ site.baseurl }}/body-copy-2/">Lediga jobb</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Praktik</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Starta eget</a></li>
        <li class="more"><a href="{{ site.baseurl }}/body-copy-2/">Fler val</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <h2>Kultur &amp; fritid</h2>
      </a>
      <ul class="popular">
        <li><a href="{{ site.baseurl }}/body-copy-2/">Biblioteken</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Malmö museer</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Turism</a></li>
        <li class="more"><a href="{{ site.baseurl }}/body-copy-2/">Fler val</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <h2>Stadsplanering &amp; trafik</h2>
      </a>
      <ul class="popular">
        <li><a href="{{ site.baseurl }}/body-copy-2/">Boendeparkering</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Felanmäla något i staden</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Vägarbeten &amp; avstängningar</a></li>
        <li class="more"><a href="{{ site.baseurl }}/body-copy-2/">Fler val</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ site.baseurl }}/body-copy-2/">
        <h2>Kommun &amp; politik</h2>
      </a>
      <ul class="popular">
        <li><a href="{{ site.baseurl }}/body-copy-2/">Omsorg, vård &amp; stöd</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Social- &amp; familjefrågor</a></li>
        <li><a href="{{ site.baseurl }}/body-copy-2/">Tjänster &amp; blanketter</a></li>
        <li class="more"><a href="{{ site.baseurl }}/body-copy-2/">Fler val</a></li>
      </ul>
    </li>
  </ul>
</nav>

{% include news.html %}
{% include movies.html %}
